/* Variables */
$brand-primary: #285c4d;
$brand-secondary: #f2ede4;
$brand-success: $brand-secondary;
$state-success-text: #fff;

/* Mixins and Colors */
@import "./main/custom_mixins";

/* Load External Stylesheets */

/* Fonts */
@import "../fonts/montserrat/montserrat.css";
@import "../fonts/fontawesome/font-awesome.css";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/angular-bootstrap/ui-bootstrap-csp.css";
@import "../bower_components/chosen/chosen.css";
@import "../bower_components/ng-scrollbar/dist/ng-scrollbar.css";

/* Loading Bar */
@import "../bower_components/angular-loading-bar/build/loading-bar.min.css";

/* Angular Material */
@import "../bower_components/angular-material/modules/scss/angular-material";

/* Load style components */
@import "./main/components/alerts";
@import "./main/components/variables";
@import "./main/components/content";
@import "./main/components/inputs";
@import "./main/components/navbar";
@import "./main/components/buttons";
@import "./main/components/layout";
@import "./main/components/leftnav";
@import "./main/components/chosen";
@import "./main/components/notifications";
@import "./main/components/report";
@import "./main/components/nv.d3";
@import "./main/components/loader";
@import "./main/components/pdf";
@import "./main/mifos";

@import "https://framework-gb.cdn.gob.mx/assets/styles/main.css";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: $brand-secondary;
  position: absolute;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: 0.45;
  -moz-box-shadow: $brand-secondary 1px 0 6px 1px;
  -ms-box-shadow: $brand-secondary 1px 0 6px 1px;
  -webkit-box-shadow: $brand-secondary 1px 0 6px 1px;
  box-shadow: $brand-secondary 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
