/* Variables */
$brand-primary: #285c4d;
$brand-secondary: #f2ede4;
$brand-success: $brand-secondary;
$state-success-text: #fff;

/* Mixins and Colors */
@import "./main/custom_mixins";

/* Load External Stylesheets */

/* Fonts */
@import "../fonts/montserrat/montserrat.css";
@import "../fonts/fontawesome/font-awesome.css";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/angular-bootstrap/ui-bootstrap-csp.css";
@import "../bower_components/chosen/chosen.css";
@import "../bower_components/ng-scrollbar/dist/ng-scrollbar.css";

/* Loading Bar */
@import "../bower_components/angular-loading-bar/build/loading-bar.min.css";

/* Angular Material */
@import "../bower_components/angular-material/modules/scss/angular-material";

/* Angular Material Table */ 
@import "../bower_components/angular-material-data-table/dist/md-data-table.css";

/* Load style components */
@import "./main/components/alerts";
@import "./main/components/variables";
@import "./main/components/content";
@import "./main/components/inputs";
@import "./main/components/navbar";
@import "./main/components/buttons";
@import "./main/components/layout";
@import "./main/components/leftnav";
@import "./main/components/chosen";
@import "./main/components/notifications";
@import "./main/components/report";
@import "./main/components/nv.d3";
@import "./main/components/loader";
@import "./main/components/pdf";
@import "./main/mifos";

@import "https://framework-gb.cdn.gob.mx/assets/styles/main.css";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
