<div class="content-container" ng-controller="SearchController">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h5>{{'label.anchor.search' | translate}}</h5>
            </div>
            <br>
            <div class="row-fluid">
                <label ng-show="showMsg" class="error"><strong>{{'label.search.query.matched.results.exceeds.max.length' |
            translate}}</strong></label>
                <md-table-container ng-show="searchResults.length > 0" class="noscroll-x">
                    <div class="row">
                        <div class="col-md-7">
                            <md-input-container class="full-width">
                                <label>{{'label.input.filterdata' | translate}}</label>
                                <input ng-model="filter.search"> 
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                    </div>
                    <div class="row">
                        <div clas="col-sm-12">
                            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                                <thead md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="entityType">{{'label.heading.type' | translate}}</th>
                                        <th md-column md-order-by="entityName">{{'label.heading.entity' | translate}}</th>
                                        <th md-column md-order-by="entityAccountNo">{{'label.heading.identifier' | translate}}</th>
                                        <th md-column md-order-by="entityExternalId">{{'label.heading.externalid' | translate}}</th>
                                        <th md-column>{{'label.heading.status' | translate}}</th>
                                        <th md-column md-order-by="parentName">{{'label.heading.belongsto' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="result in searchResults | filter: customSearch | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell >
                                            {{'entity.type.' + result.entityType | translate}}
                                        </td>
                                        <td md-cell >
                                            <a ng-show="result.entityType  == 'LOAN' || result.entityType  == 'SAVING' || result.entityType  == 'SHARE'"
                                                href="#!/view{{result.entityType | lowercase}}account/{{result.entityId}}">{{result.entityName | translate}}</a>
                                            <a ng-show="result.entityType  == 'CLIENT'"
                                                href="#!/view{{result.entityType | lowercase}}/{{result.entityId}}">{{result.entityName | translate}}</a>
                                            <a ng-show="result.entityType  == 'GROUP'"
                                                href="#!/view{{result.entityType | lowercase}}/{{result.entityId}}">{{result.entityName | translate}}</a>
                                            <a ng-show="result.entityType  == 'CLIENTIDENTIFIER'"
                                                href="#!/viewclient/{{result.parentId}}">{{result.entityName | translate}}</a>
                                        </td>
                                        <td md-cell >
                                            {{result.entityAccountNo}}
                                        </td>
                                        <td md-cell >
                                            {{result.entityExternalId}}
                                        </td>
                                        <td md-cell >
                                            <i class="fa fa-circle {{result.entityStatus.value | StatusLookup}}"></i>
                                            <span ng-show="result.entityType  == 'CLIENT'">
                                                {{'clientStatusType.' + result.entityStatus.value.toLowerCase() | translate}}
                                            </span>
                                            <span ng-show="result.entityType  == 'LOAN'">
                                                {{'loanStatusType.' + result.entityStatus.value.toLowerCase() | translate}}
                                            </span>
                                            <span ng-show="result.entityType  == 'SAVING'">
                                                {{'savingsAccountStatusType.' + result.entityStatus.value.toLowerCase() | translate}}
                                            </span>
                                            <span ng-show="result.entityType  == 'GROUP'">
                                                {{'groupingStatusType.' + result.entityStatus.value.toLowerCase() | translate}}
                                            </span>
                                        </td>
                                        <td md-cell >
                                            {{result.parentName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-table-container>
            </div>
        </div>
    </div>
</div>