<div class="content-container">
	<ul class="breadcrumb">
		<li><a href="#!/socialbanking">{{'label.anchor.social.banking' | translate}}</a></li>
		<li><a href="#!/socialprograms">{{'label.anchor.social.programs' | translate}}</a></li>
		<li class="active">{{'label.anchor.createsocialprogram' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.createsocialprogram' | translate}}</h4>
			</div>
			<br />
			<form name="createsocialprogramform" novalidate="" class="form-horizontal form-extra"
				ng-controller="CreateSocialProgramController" ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.name' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
								class="form-control uppercase" required />
							<form-validate valattributeform="createsocialprogramform" valattribute="name" />
						</div>
					</div>
					<div class="col-md-12 center">
						<a id="cancel" href="#!/socialprograms">
							<md-button type="reset"
								class="md-raised">{{'label.button.cancel' | translate}}</md-button>
						</a>
						<md-button id="save" type="submit" class="md-raised md-primary"
							has-permission='CREATE_FUND'>{{'label.button.save' | translate}}</md-button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>