<div class="content-container" ng-controller="SocialProgramController">
    <ul class="breadcrumb">
        <li><a href="#!/socialbanking">{{'label.anchor.social.banking' | translate}}</a></li>
        <li class="active">{{'label.anchor.social.programs' | translate}}</li>
    </ul>

    <div class="card well">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <md-button md-no-ink class="md-primary" href="#!/createsocialprogram" has-permission='CREATE_SOCIALPROGRAM'>
                    <i class="fa fa-plus "></i> {{'label.button.createsocialprogram' | translate}}</md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-table-container>
            <table md-table ng-model="socialprograms" md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="name">{{'label.heading.name' | translate}}</th>
                        <th md-column>{{'label.heading.description' | translate}}</th>
                        <th md-column md-order-by="active">{{'label.heading.active' | translate}}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="socialprogram in socialprograms | orderBy: query.order | filter:filterText | limitTo: query.limit : (query.page -1) * query.limit"
                        data-ng-click="routeTo(socialprogram.id)" md-select="product" md-select-id="name">
                        <td md-cell>{{socialprogram.name}}</td>
                        <td md-cell>{{socialprogram.description}}</td>
                        <td md-cell>{{socialprogram.active | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination ng-if="socialprograms.length > query.limit" md-limit="query.limit" md-limit-options="[15,25,50]" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-page="query.page"
            md-total="{{socialprograms.length}}" md-on-paginate="getResultsPage" md-page-select>
        </md-table-pagination>
    </div>
</div>