<div class="content-container" ng-controller="FloatingRatesController">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li class="active">{{'label.anchor.floatingrates' | translate}}</li>
    </ul>

    <div class="card well">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control"
                    placeholder="{{'label.input.filterbyname' | translate}}">
            </div>

            <div class="col-md-3 col-sm-3">
                <md-button md-no-ink class="md-primary" href="#!/createfloatingrate" has-permission='CREATE_FLOATINGRATE'>
                    <i class="fa fa-plus "></i>{{'label.button.createfloatingrate' | translate}}</md-button>
            </div>
        </div>

        <md-divider></md-divider>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column>{{'label.heading.name' | translate}}</th>
                        <th md-column>{{'label.heading.createdby' | translate}}</th>
                        <th md-column>{{'label.heading.isbaselendingrate' | translate}}</th>
                        <th md-column>{{'label.heading.active' | translate}}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="floatingrate in floatingrates |orderBy:'name' | filter:filterText"
                        data-ng-click="routeTo(floatingrate.id)" md-select="product" md-select-id="name" >
                        <td md-cell>{{floatingrate.name}}</td>
                        <td md-cell>{{floatingrate.createdBy}}</td>
                        <td md-cell>{{floatingrate.isBaseLendingRate | translate}}</td>
                        <td md-cell>{{floatingrate.isActive | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>