<div class="content-container" ng-controller="ViewFloatingRateController">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#!/floatingrates">{{'label.anchor.floatingrates' | translate}}</a></li>
        <li class="active">{{'label.anchor.floatingrate' | translate}}</li>
    </ul>

    <form name="newfloatingrateform" novalidate="" class="card form-horizontal well">
        <api-validate></api-validate>
        <fieldset>
            <div class="form-group pull-right">
                <md-button md-no-ink class="md-primary" href="#!/editfloatingrate/{{id}}" has-permission='UPDATE_FLOATINGRATE'>
                    <i class="fa fa-edit "></i> {{'label.button.edit' | translate}}
                </md-button>
            </div>
            <!--
            <div class="btn-group pull-right">
                <a href="#!/editfloatingrate/{{id}}" class="btn btn-sm btn-primary" has-permission='UPDATE_FLOATINGRATE'><i class="fa fa-edit "></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</a>
            </div>
            -->
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">{{'label.input.floatingratename' | translate}}:&nbsp;</label>
                    <label class="control-label">{{name}}</label>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">{{'label.input.description' | translate}}:&nbsp;</label>
                    <label class="control-label">{{description}}</label>
                </div>
                <div class="col-sm-3">
                    <md-checkbox id="isBaseLendingRate" ng-model="isBaseLendingRate" disabled>
                        {{'label.input.isbaselendingrate' | translate }}
                    </md-checkbox>
                </div>
                <div class="col-sm-2">
                    <md-checkbox id="isActive" ng-model="isActive" disabled>
                        {{'label.input.active' | translate }}
                    </md-checkbox>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-sm-5">
                    <h3 class="bolder">{{'label.heading.rateperiods' | translate}}</h3>
                </div>
            </div>

            <BR>
            <table class="table width80"  ng-show="ratePeriods.length>0">
                <tr class="graybg">
                    <th>{{'label.heading.fromdate' | translate}}</th>
                    <th>{{'label.heading.interestrate' | translate}}</th>
                    <th>{{'label.heading.isdifferentaialtobaselendingrate' | translate}}</th>
                </tr>
                <tr ng-repeat="rateperiod in ratePeriods |orderBy:'rateperiod.fromDate'">
                    <td>
                        <label class="control-label">{{rateperiod.fromDate | DateFormat}}</label>
                    </td>
                    <td>
                        <label class="control-label">{{rateperiod.interestRate}}</label>
                    </td>
                    <td>
                        <md-checkbox id="isDifferentialToBaseLendingRate" ng-model="rateperiod.isDifferentialToBaseLendingRate" disabled>
                        </md-checkbox>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>