html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  position: absolute;
  min-height: 100%;
  color: $gray-dark;
  background-color: $body-bg;
  font-family: $brand-font-family !important;
  padding-top: 0px;
}

.main-container {
    margin-top:20px;
}

#wrapper {
  padding-bottom:30px;
}

#content {
  overflow: auto;
  padding-bottom: 70px;
}

#loaderWrapper {
  // position: absolute;
  height: 100%;
  min-height: 100%;
  width: 100%;
  top: 0; 
  background-color: $brand-loader;
  display:flex;
  justify-content:center;
  align-items:center;
}

#search {
  font-size: inherit;
  background-color: transparent;
}

.full-width {
    width: 100%;
}

.footStyle {
  width: 100%;
  height: 22%;
  background-color: $brand-secondary;
  padding-top: 15px;
}

.footStyle #logo {
    width: 40%;
}

.footStyle p {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: $brand-primary-light;    
}

.footStyle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $brand-primary;    
}

.footStyle li {
  float: left;
}

.footStyle #socialNetwork p {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: $brand-primary-light;
}

.footStyle li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 600;
  line-height: 1.43;
  color: $brand-primary;
}

.no-border {
  border: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.transparent {
  background-color: transparent;
}

.row-form {
  min-height: 350px;
}

.control-label-checkbox {
  text-align: left !important;
}

.chosen-container .chosen-container-single{
    width: 442px;
}

.wiz-container {
  min-height: 420px;
}

.repaymentschedule {
  font-size: 12px;
  > tbody {
    > tr {
      > td {
        text-align: right;
      }
    }
  }
}

.well {
  background-color: #fff;
}

ul.nav-tabs {
  > li {
    &.active {
      > a {
        border-top: solid 3px $brand-primary !important;
      }
    }
  }
}

div.scrollable {
  position: relative;
  margin-top: 20px;

  &:before, &:after {
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    line-height: 42px;
    height: 42px;
    padding: 0 7px;
    position: absolute;
    z-index: 1;
  }

  &:before{
    content: '<';
  }

  &:after{
    content: '>';
    right: 0;
    top: 0;
  }

  > ul.nav-tabs {
    overflow: hidden;
    padding-left: 28px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    > li {
      display: inline-block;
      float: none;

      &:last-child {
        margin-right: 26px;
      }
    }
  }

  > .tab-content{
    > .tab-pane{
      padding: 5px;
    }
  }
}

div[data-angular-treeview] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:13px;
    color: #000000;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f147";
    font-style: normal;
    color:$brand-danger;
}

div[data-tree-model] li .collapsed:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f196";
    font-style: normal;
    color:darkgreen;
}

div[data-tree-model] li .normal:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    font-style: normal;
    top:0;
    left:-5px;
    content: "\f111";
    color:deepskyblue;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #d3d3d3;
    font-weight: bold;
    color: darkblue;
    padding: 1px 10px;
}

span.required {
  color: $brand-danger;
}

li a i .fa {
  color: $brand-primary;
}

.fa-question-circle {
  color: $brand-primary;
}

.scrollme {
  max-height: 100px;
}

.strikeoff{
  color: $brand-danger !important;
  text-decoration:line-through;
  text-decoration-style: double;
}

.breadcrumb{
  padding: 2px;
  margin-bottom: 4px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size:12px;
  max-height:21px;
}

#mifos-reskin-body-view {
  margin: 0 auto;
  width: 96%;
  .content-container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    min-height: 360px;
  }
  // background-color: $body-bg;
}

a.list-group-item {
    padding: 8px 8px;    
}

.list-group-item-text {
    padding-top: 4px;
}

.no-border {
    border: none !important;
}

md-whiteframe > span {
    width: 100%;
    padding-left: 10px;
    min-height: 60px;
}

.centerloader {
    position: fixed;
    left: 50%;
    top: 30%;
    z-index: 10000;
}

.center{
  text-align:center;
}

.right{
  text-align:right;
}

.left{
  text-align:left !important;
}

.image-loader {
    display: flex;
    justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  max-height: 350px;;
}

.table {
  font-size:1.2rem;
}

.table th{
    background:$table-bg-active;
}

// Wizard Progress Bar..
.flexer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.no-flexer {
  display: block;
}
.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}
.flexer-element {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.progress-indicator {
  @extend .flexer;
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 1em;
  > li {
    @extend .flexer-element;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $incomplete;
    display: block;
    &:hover {
      color: darken($incomplete, $darken-amount);
    }
  }
  > li .bubble {
    border-radius: 1000px;
    width: $bubble-size;
    height: $bubble-size;
    background-color: $incomplete;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: $border-thickness solid darken($incomplete, 20%);
  }

  // line connectors

  > li .bubble:before,
  > li .bubble:after {
    display: block;
    position: absolute;
    top: $bubble-size / 2 - $border-thickness;
    width: 100%;
    height: $bubble-line-thickness;
    content: '';
    background-color: $incomplete;
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  > li .bubble:before {
    left: 0;
  }
  > li .bubble:after {
    right: 0;
  }

  > li:first-child .bubble:before,
  > li:first-child .bubble:after {
    width: 50%;
    margin-left: 50%;
  }

  > li:last-child .bubble:before,
  > li:last-child .bubble:after {
    width: 50%;
    margin-right: 50%;
  }


  // completed state

  > li.progress-done {
    color: $complete;
    .bubble {
      @include bubble-style($complete);
      transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      -webkit-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      -moz-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      &:before,
      &:after {
        transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
        -webkit-transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
        -moz-transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
      }

    }
  }

  >li.progress-danger {
    color: $step-danger;
    .bubble{
      @include bubble-style($step-danger);
    }
  }

  // current state

  > li.progress-current {
    color: $active;
    .bubble {
      @include bubble-style($active);
    }
  }

  // button states

  > li a:hover .bubble {
    @include bubble-style($hover);
  }

  // override states

  > li.danger .bubble {
    @include bubble-style($step-danger);
  }
  > li.warning .bubble {
    @include bubble-style($step-warning);
  }
  > li.info .bubble {
    @include bubble-style($step-info);
  }

  // stacked version

  &.stacked {
    @extend .no-flexer;
    > li {
      text-indent: -10px;
      text-align: center;
      display: block;
    }
    > li .bubble:before,
    > li .bubble:after {
      left: 50%;
      margin-left: -$bubble-line-thickness / 2;
      width: $bubble-line-thickness;
      height: 100%;
    }
    .stacked-text {
      position: relative;
      z-index: 10;
      top: 0;
      margin-left: 60% !important;
      width: 45% !important;
      display: inline-block;
      text-align: left;
      line-height: 1.2em;
    }
    > li a {
      border: none;
    }
  }
  &.stacked.nocenter {
    > li .bubble {
      margin-left: 0;
      margin-right: 0
    }
    > li .bubble:before,
    > li .bubble:after {
      left: $bubble-size / 2;
    }
    .stacked-text {
      width: auto !important;
      display: block;
      margin-left: $bubble-size * 2 !important;
    }
  }
}

.min-content {
  min-height: 420px;
}

.card{
  background:#fff;
  display:block;

  -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
  box-shadow:  0 1px 3px rgba(0,0,0,0.3);

  border-radius:2px 2px 0 0;

  color: $gray-base;

  &>.content{
    padding:20px 10px;
    font-size: 13px;
  }

  h4{ font-size: 14px; }
  /*just for the presentation */
  .pointer-main:hover{
    cursor: pointer;
    background-color: $brand-primary-light;
    color: #fff;
  }

  .statusoverpaid {
      color: $step-info;
  }

  .statusactiveoverdue {
    color: $brand-danger;
  }

  .statustransferprogress {
      color: $brand-danger;
  }

  .statustransferonhold {
      color: $brand-danger;
  }

  .statusactive {
      color: $brand-primary;
  }

  .statusblacklisted {
      color: $brand-danger-dark;
  }

  .statusrejected {
      color: $brand-danger-darker;
  }

  .statusmatured {
      color: $brand-danger;
  }

  .statusdeleted {
      color: $gray-base;
  }

  .statuspending {
      color: $step-pending;
  }

  .statusApproved {
      color: $brand-primary;
  }

  .statusbad {
      color: $brand-danger;
  }

  .statusgood {
      color: $brand-color;
  }

  .statushold {
      color: $brand-warning;
  }

  .statusprogresspendingtab {
      color: $brand-warning;
  }

  .statusprogresstab {
      color: $step-pending;
  }

  .statusprogresscompletedtab {
      color: $brand-color;
  }

  a{
    cursor: pointer;
  }

  .error {
    color: $brand-danger;
  }

  .toolbar{
    height:50px;
    border-bottom:1px solid $gray-light;

    &>h4{
      float:left;
      margin:0;
      padding:10px 10px;
      font-size: 18px;
      font-weight: bold;
    }

    &>.btn-group{

      .btn{
        border:none;
        border-radius:0;
        border-left:1px solid $gray-light;
        height:30px;
        min-width:39px;
        margin-left:2px;
        &:hover{
          border:none;
          border-left:1px solid $gray-light;
        }

        &.btn-default:hover{
          background:$gray-light;
          color:$brand-info;
        }
      }

      &.open .dropdown-toggle{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      &.btn-group-right{
        float:right;
      }
    }
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

.teal.darken-4 {
  background-color: $brand-primary !important;
}

.page-footer {
    padding-top: 20px;
    color: #fff;   
}

.row2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.teal.darken-3{
  background-color: $brand-primary-lighten;
}

.responsive-img{
  width: 100%;
  height: auto;
}

img.responsive-img{
    max-width: 100%;
}

.page-footer .footer-copyright{
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: rgba(255,255,255,.8);
}

.row2.col.offset-m1 {
  margin-left: 8.3333333333%;
}

.row2.col.m3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

md-toolbar.md-mifos-theme:not(.md-menu-toolbar) {
  background-color: $brand-primary;
  color: rgba(255,255,255,0.87);
}

.small-font {
    font-size:12px !important;
}