/* @import this file */
form {
  margin: 0 auto;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  min-height: 50px;
}

.form-extra {
    padding-bottom: 50px;
}

form h1 {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-lighter);
  font-size: var(--font-size-3);
  text-align: center;
}

input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}

.help-text {
  display: block;
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
}

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}

.has-dynamic-label {
  position: relative;
  padding-top: 1.5rem;
}

.has-dynamic-label label {
  position: absolute;
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

input:required + .help-text::before {
  content: '*Required';
}

input:optional + .help-text::before {
  content: '*Optional';
}

input:read-only {
  border-color: var(--gray-lighter) !important;
  color: var(--gray);
  cursor: not-allowed;
}

input:valid {
  border-color: var(--color-primary);
}

input:invalid {
  border-color: var(--color-error);
}

input:invalid:focus {
  border-color: var(--color-error);
}

input:invalid + .help-text {
  color: var(--color-error);
}

input[type='email']:invalid + .help-text::before {
  content: 'You must enter a valid email.'
}

input:out-of-range + .help-text::before {
  content: 'Out of range';
}

input[type='checkbox'] + label {
  user-select: none;
  padding-top: 0px !important;
  padding-left: 5px !important;
}

input[type="checkbox"] {
  margin: 2px 0 0;
}

select {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

select option {
  font-weight:normal;
}

.form-control {
  width: 98% !important;
  border-radius:0;
  border:1px solid rgba(0,0,0,0.4);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &:focus{
    border-color:rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(97, 161, 215, 0.60);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(102, 175, 233, 0.6);
  }

  &.ng-invalid{
    &.ng-dirty,&.ng-touched{
      border-color:$brand-danger;
    }
  }
  &.ng-valid{
    &.ng-dirty,&.ng-touched{
      border-color:darken($brand-success,10);
    }
  }

  &.unstyled{
    &:focus{
      border-color:#e0e0e0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &.ng-invalid{
      &.ng-dirty,&.ng-touched{
        border-color:#e0e0e0;
      }
    }
    &.ng-valid{
      &.ng-dirty,&.ng-touched{
        border-color:#e0e0e0;
      }
    }
  }
}

.input-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn
{
  border-radius:0;
  line-height: 1.5 !important;
}

.input-mini-small {
  width: 20px;
}

.input-mini-medium {
  width: 30px;
}

.input-smaller {
  width: 65px;
}

.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn
{
  border-radius:0;
}

.file-input {
    display: none;
}

.transparent {
    background-color: transparent !important;
}