/* @import this file */

#bs-example-navbar-collapse-1 {
  @media screen and (max-width: 767px){
    padding: 0 0 0 65px;    
  }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav > li > a{
  color: $brand-primary !important;
}

#mifos-reskin-ui-container {
  top:52px;
  bottom:0;
  right:0;
  left:0;
  overflow: auto;

  @include flexbox();
  @include flexdiretion(column);
}

#mifos-reskin-header-nav {
  // @include flex(1 100%);
  @include order(0);
  // max-height:52px;
}

$sidebar-width : 51px;
$sidebar-hover-width : 240px;
#mifos-reskin-body-container {
  @include flex(1 100%);
  @include order(1);
  @include flexbox();

  background-color: $body-bg;
  
  #mifos-reskin-side-nav {
    display: none;
    position: fixed;
    top: 52px;
    bottom: 0;
    z-index: 999;

    @include flex(1 100%);
    @include order(0);
    max-width:$sidebar-width;
    overflow: auto;
    overflow-x: hidden;

    background: $brand-color;

    border-right:1px solid $gray-light;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    ul {
      padding:0;
      margin:0;
      margin-top:20px;

      li {
        list-style: none;
        white-space: nowrap;

        a {
          span{
            height:40px;
            padding:12px 10px;
          }
          
          i {
            display: inline-block;
            width:28px;
            text-align: center;
            font-size:16px;
            color: $brand-success;
          }
        }

        a:hover {
          background-color: $brand-primary-light;
        }
      }
    }

    &:hover{
      -webkit-transition-duration: 500ms;
      -moz-transition-duration: 500ms;
      -ms-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      max-width:$sidebar-hover-width;
    }

  }

  #mifos-reskin-body-view {
    padding: 10px 0 0 65px;
    // @include flex(1 100%);
    // @include order(0);
    overflow: auto;
    // background-color: $body-bg;
  }
}