<div class="content-container" ng-controller="EditUserController">
    <ul class="breadcrumb">
        <li><a href="#!/users">{{'label.anchor.users' | translate}}</a></li>
        <li><a href="#!/viewuser/{{userId}}">{{formData.firstname}} {{formData.lastname}} {{formData.surname}}</a></li>
        <li class="active">{{'label.anchor.edituser' | translate}}</li>
    </ul>
    <form name="edituserform" novalidate="" class="card form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.edituser' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-3" for="username">{{'label.input.username' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" id="username" name="username" ng-model="formData.username"
                        class="form-control" required late-Validate />
                    <form-validate valattributeform="edituserform" valattribute="username" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="firstname">{{'label.input.firstname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" id="firstname" name="firstname" value="{{user.firstname}}"
                        ng-model="formData.firstname" class="form-control uppercase" required late-Validate />
                    <form-validate valattributeform="edituserform" valattribute="firstname" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="lastname">{{'label.input.lastname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" id="lastname" name="lastname" value="{{user.lastname}}"
                        ng-model="formData.lastname" class="form-control uppercase" required late-Validate />
                    <form-validate valattributeform="edituserform" valattribute="lastname" />
                </div>

                <label class="control-label col-sm-3" for="surname">{{'label.input.surname' | translate}}</label>

                <div class="col-sm-3">
                    <input type="text" id="surname" name="surname" value="{{user.surname}}" 
                       ng-model="formData.surname" class="form-control uppercase" />
                    <form-validate valattributeform="edituserform" valattribute="surname" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="email">{{'label.input.email' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="email" id="email" name="email" value="{{user.email}}" ng-model="formData.email"
                        class="form-control" required late-Validate />
                    <form-validate valattributeform="edituserform" valattribute="email" />
                </div>

				<label class="control-label col-sm-3" for="phone">{{'label.input.mobilenumber' | translate}}<span
						class="required">*</span></label>
				<div class="col-sm-3">
					<input type="text" id="phone" name="phone"  value="{{user.phone}}" required ng-model="formData.phone"
						ng-pattern="\d{15}" class="form-control" maxlength="15" />
				</div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <md-checkbox ng-model="formData.passwordNeverExpires">
                        {{'label.input.overridepasswordexpiry' | translate}}
                        <i class="fa fa-question-circle"
                            uib-tooltip="{{'label.tooltip.overridepasswordexpiry' | translate}}"
                            tooltip-append-to-body="true">
                        </i>
                    </md-checkbox>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="officeId">{{'label.input.office' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <md-select id="officeId" ng-model="formData.officeId" name="officeId"
                        data-ng-change="getOfficeStaff()" required placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="office in offices" ng-value="office.id">
                            {{office.name}}
                        </md-option>
                    </md-select>
                </div>

                <label class="control-label col-sm-3">{{'label.input.staff' | translate}}</label>
                <div class="col-sm-3">
                    <md-select id="staffId" ng-model="formData.staffId" placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="staff in staffs" ng-value="staff.id">
                            {{staff.displayName}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label col-sm-12">{{'label.input.availableroles' | translate }}</label>
                    <select id="availableroles" ng-model="available" name="availableroles"
                        class="form-control multiselectmin" multiple>
                        <option ng-repeat="availablerole in availableRoles" value="{{availablerole.id}}">
                            {{availablerole.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="addRole()"><i
                            class="fa fa-angle-double-right"></i></button>
                    <br />
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="removeRole()"><i
                            class="fa fa-angle-double-left"></i></button>
                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label col-sm-12">{{'label.input.selectedroles' | translate}}<span
                            class="required">*</span></label>
                    <select id="roles" name="roles" ng-model="selected" class="form-control multiselectmin" multiple>
                        <option ng-repeat="availablerole in selectedRoles" value="{{availablerole.id}}" required
                            late-validate>
                            {{availablerole.name}}
                        </option>
                    </select>
                    <form-validate valattributeform="createuserform" valattribute="roles" />
                </div>
            </div>

            <div class="col-md-12 center">
                <md-button id="cancel" href="#!/viewuser/{{userId}}" class="md-raised">
                    {{'label.button.cancel' | translate}}</md-button>
                <md-button id="save" type="submit" class="md-raised md-primary" has-permission='UPDATE_USER'>
                    {{'label.button.save' | translate}}</md-button>
            </div>
        </fieldset>
    </form>
</div>