<div class="content-container" ng-controller="UserListController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.systemusers' | translate}}</li>
    </ul>
    <api-validate></api-validate>

    <div class="card">
        <div class="toolbar">
            <h4>{{'label.anchor.systemusers' | translate}}</h4>
        </div>
        <div class="content">
            <md-table-container ng-show="users.length > 0" class="noscroll-x">
                <div class="row">
                    <div class="col-md-7">
                        <md-input-container class="full-width">
                            <label>{{'label.input.searchByNameAccNo' | translate}}</label>
                            <input ng-model="filter.search"> 
                        </md-input-container>
                    </div>
                    <div class="col-sm-3">
                        <a href="#!/createuser" class="btn btn-sm btn-primary pull-right" has-permission='CREATE_USER'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createuser' | translate}}</a>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div class="row">
                    <div clas="col-sm-12">
                        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                            <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column md-order-by="id">{{'label.heading.id' | translate}}</th>
                                    <th md-column md-order-by="username">{{'label.heading.username' | translate}}</th>
                                    <th md-column md-order-by="email">{{'label.heading.email' | translate}}</th>
                                    <th md-column md-order-by="firstname">{{'label.heading.firstname' | translate}}</th>
                                    <th md-column md-order-by="lastname">{{'label.heading.lastname' | translate}}</th>
                                    <th md-column md-order-by="surname">{{'label.heading.surname' | translate}}</th>
                                    <th md-column md-order-by="office">{{'label.heading.office' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="user in users | filter: customSearch | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"
                                    ng-click="routeTo(user.id)">
                                    <td md-cell>
                                        <i class="fa fa-circle {{getUserStatus(user.enabled) | StatusLookup}}"></i> 
                                        {{user.id}}
                                    </td>
                                    <td md-cell>{{user.username}}</td>
                                    <td md-cell><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                                    <td md-cell>{{user.firstname}}</td>
                                    <td md-cell>{{user.lastname}}</td>
                                    <td md-cell>{{user.surname}}</td>
                                    <td md-cell>{{user.officeName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="[15,25,50]" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                md-page="query.page" md-total="{{totalUsers}}" md-on-paginate="getResultsPage" md-page-select>
            </md-table-pagination>
        </div>
    </div>
</div>