<div class="content-container" ng-controller="UserListController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.systemusers' | translate}}</li>
    </ul>
    <api-validate></api-validate>

    <div class="card">
        <div class="toolbar">
            <h4>{{'label.anchor.systemusers' | translate}}</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <input ng-model="filterText" type="text" ng-keyup="onFilter()" class="span marginbottom0px form-control" placeholder="{{'label.input.filterbyname' | translate}}">
                </div>
                <div class="col-sm-4">
                    <a href="#!/createuser" class="btn btn-sm btn-primary pull-right" has-permission='CREATE_USER'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createuser' | translate}}</a>
                </div>
            </div>
            <hr />
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.id' | translate}}</th>
                        <th>{{'label.heading.username' | translate}}</th>
                        <th>{{'label.heading.firstname' | translate}}</th>
                        <th>{{'label.heading.lastname' | translate}}</th>
                        <th>{{'label.heading.surname' | translate}}</th>
                        <th>{{'label.heading.email' | translate}}</th>
                        <th>{{'label.heading.office' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer-main" data-ng-click="routeTo(user.id)
                        dir-paginate="user in users | orderBy:'firstname':reverse  | filter:filterText |  itemsPerPage: UsersPerPage">
                        <td class="pointer">{{user.id}}</td>
                        <td class="pointer">{{user.username}}</td>
                        <td class="pointer">{{user.firstname}}</td>
                        <td class="pointer">{{user.lastname}}</td>
                        <td class="pointer">{{user.surname}}</td>
                        <td class="pointer">{{user.email}}</td>
                        <td class="pointer">{{user.officeName}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls boundary-links="true"
                template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html">
        </div>
    </div>
</div>