<div class="content-container" ng-controller="ViewExternalServicesController">
  <ul class="breadcrumb">
    <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
    <li>
      <a href="#!/externalservices"
        >{{'label.anchor.externalServices' | translate}}</a
      >
    </li>
    <li class="active">{{'label.anchor.viewexternalservices' | translate}}</li>
  </ul>
  <div class="card">
    <div class="content">
        <md-table-container class="noscroll-x">
            <div class="row">
                <md-button md-no-ink class="md-primary" href="#!/externalservices/{{externalServicesType}}/editconfig"
                    has-permission="UPDATE_EXTERNALSERVICES">
                    <i class="fa fa-edit"></i>  {{'label.button.edit' | translate}}
                </md-button>
                <md-divider></md-divider>
            </div>
            <div class="row">
                <div clas="col-sm-12">
                    <table md-table ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column>{{'label.heading.parameter' | translate}}</th>
                                <th md-column>{{'label.heading.value' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="config in Configs">
                                <td md-column>{{config.name}}</td>
                                <td md-column>{{config.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </md-table-container>
    </div>
  </div>
</div>
