<div class="content-container" ng-controller="ViewCashiersForTellerController">
    <ul class="breadcrumb">
        <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#!/tellers">{{'label.anchor.tellers' | translate}}</a></li>
        <li class="active">{{'label.anchor.cashiers' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            {{'label.heading.cashmgmt.officeName' | translate}} : {{cashiersForTeller.officeName}} |
            {{'label.heading.cashmgmt.tellerName' | translate }} : {{cashiersForTeller.tellerName}}
            <div class="row">
                <div class="col-sm-6">
                    <input ng-autofocus="true" ng-model="filterText" type="text"
                        class="form-control span marginbottom0px"
                        placeholder="{{'label.input.filterbynameexternalid' | translate}}"></div>
                <div class="col-sm-6">

                </div>
            </div>
            <md-divider></md-divider>
            <div ng-hide="isTreeView">
                <api-validate></api-validate>
                <md-table-container ng-show="cashiers.length > 0" class="noscroll-x">
                    <div class="row">
                        <div class="col-md-7">
                            <md-input-container class="full-width">
                                <label>{{'label.input.filterbynameaccno' | translate}}</label>
                                <input ng-model="filter.search">
                            </md-input-container>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <md-button href="#!/tellers/{{cashiersForTeller.tellerId}}/createCashierForTeller"
                                    class="md-raised md-primary pull-right" has-permission='CREATE_CASHIERS_FOR_TELLER'>
                                    <i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createcashier'| translate}}
                                </md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </div>
                    <div class="row">
                        <div clas="col-sm-12">
                            <table md-table class="table">
                                <thead md-head>
                                    <tr md-row class="graybg">
                                        <th md-column>{{'label.heading.cashmgmt.tellerCashiers.period' | translate}}
                                        </th>
                                        <th md-column>
                                            {{'label.heading.cashmgmt.tellerCashiers.cashierName' | translate}}</th>
                                        <th md-column>
                                            {{'label.heading.cashmgmt.tellerCashiers.fullDayOrTime' | translate}}</th>
                                        <th md-column colspan="5">
                                            {{'label.heading.cashmgmt.tellerCashiers.actions' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row
                                        ng-repeat="cashier in cashiersForTeller.cashiers | orderBy:'cashier.startDate':reverse | filter:filterText"
                                        ng-click="transactions(cashiersForTeller.tellerId, cashier.id)">
                                        <td md-cell>
                                            <div ng-if="compare(cashier.startDate,cashier.endDate)">
                                                {{cashier.startDate | DateFormat}}
                                            </div>
                                            <div ng-if="!compare(cashier.startDate,cashier.endDate)">
                                                {{cashier.startDate | DateFormat}} - {{cashier.endDate | DateFormat}}
                                            </div>
                                        </td>
                                        <td md-cell>{{cashier.staffName}}</td>
                                        <td md-cell>
                                            <div ng-if="cashier.isFullDay == true">
                                                {{'label.cashmgmt.cashier.isFullDay' | translate}}
                                            </div>
                                            <div ng-if="cashier.isFullDay == false">
                                                {{cashier.startTime}} - {{cashier.endTime}}
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <md-menu>
                                                <md-button aria-label="Teller actions" class="md-icon-button"
                                                    ng-click="$mdMenu.open($event)">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </md-button>
                                                <md-menu-content width="4" ng-mouseleave="$mdCloseMenu()">
                                                    <md-menu-item has-permission='ALLOCATECASHIER_TELLER'>
                                                        <md-button id="transaction"
                                                            ng-click="transactions(cashiersForTeller.tellerId, cashier.id)">
                                                            {{'label.button.viewtransaction' | translate}}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-permission='ALLOCATECASHIER_TELLER'>
                                                        <md-button id="allocate"
                                                            ng-click="allocate(cashiersForTeller.tellerId, cashier.id)">
                                                            {{'label.button.allocatecash' | translate}}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-permission='SETTLECASHIER_TELLER'>
                                                        <md-button id="settle"
                                                            ng-click="settle(cashiersForTeller.tellerId, cashier.id)">
                                                            {{'label.button.settlecash' | translate}}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-permission='ALLOCATECASHIER_TELLER'>
                                                        <md-button id="view"
                                                            ng-click="routeToView(cashiersForTeller.tellerId, cashier.id)">
                                                            {{'label.button.view' | translate}}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-permission='DELETECASHIER_TELLER'>
                                                        <md-button id="delete"
                                                            ng-click="delete(cashiersForTeller.tellerId, cashier.id)">
                                                            {{'label.button.delete' | translate}}
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-table-container>
            </div>
        </div>
    </div>
</div>