<div class="content-container">
	<ul class="breadcrumb">
		<li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#!/tellers">{{'label.anchor.tellers' | translate}}</a></li>
		<li class="active">{{'label.anchor.createTeller' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<form name="createtellerform" novalidate="" class="form-horizontal form-extra"
				ng-controller="CreateTellerController" ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<legend>{{'label.heading.cashmgmt.createTeller' | translate}}</legend>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.office' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<md-select id="officeId" ng-model="formData.officeId" 
                                placeholder="{{'label.selectone' | translate}}">
                                <md-option ng-repeat="office in offices" ng-value="office.id">
                                    {{office.name}}
								</md-option>
							</md-select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.name' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
								class="form-control uppercase" required late-Validate />
							<form-validate valattributeform="createtellerform" valattribute="name" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.description' | translate }}</label>

						<div class="col-sm-3">
							<textarea id="description" rows="2" type="text" name="description"
								ng-model="formData.description" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.startDate' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<md-datepicker id="startDate" ng-model="first.date" 
								md-placeholder="{{'label.input.startDate' | translate}}"
								md-min-date="minDate" md-max-date="restrictDate" required>
							</md-datepicker>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.endDate' | translate }}</label>

						<div class="col-sm-3">
							<md-datepicker id="endDate" ng-model="formData.endDate" 
								md-placeholder="{{'label.input.endDate' | translate}}"
								md-min-date="form.startDate" md-max-date="'2030-06-22'">
							</md-datepicker>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.teller.status' | translate }}<span
								class="required">*</span></label>
						<div class="col-sm-3">
							<md-select id="usage" ng-model="formData.status">
                                <md-option ng-repeat="tellerStatus in tellerStatuses" ng-value="tellerStatus.id">
                                    {{tellerStatus.value | translate}}
                                </md-option>
							</md-select>
						</div>
					</div>

					<div class="col-md-12 center">
						<md-button id="cancel" href="#!/tellers"
								class="md-raised">{{'label.button.cancel' | translate}}
						</md-button>
						<md-button id="save" type="submit" class="md-raised md-primary"
							has-permission='CREATE_TELLER'>{{'label.button.save' | translate}}</md-button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>