<div class="content-container" ng-controller="CreateCashierForTellerController">
	<ul class="breadcrumb">
		<li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#!/tellers">{{'label.anchor.tellers' | translate}}</a></li>
		<li><a href="#!/tellers/{{tellerId}}/cashiers">{{cashier.officeName}} - {{cashier.tellerName}}</a></li>
		<li class="active">{{'label.anchor.createCashier' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<form name="createcashierform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
				<api-validate></api-validate>
				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.office' | translate }}</label>
					<div class="col-sm-3">
						<input id="office" type="text" ng-model="cashier.officeName" class="form-control"
							ng-disabled="true" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.teller.name' | translate }}</label>
					<div class="col-sm-3">
						<input id="teller" type="text" ng-model="cashier.tellerName" class="form-control"
							ng-disabled="true" />
					</div>
				</div>

				<div class="form-group">
					<label
						class="control-label col-sm-3">{{'label.heading.cashmgmt.tellerCashiers.cashierName' | translate}}<span
							class="required">*</span></label>
					<div class="col-sm-3">
						<md-select id="staffId" name="staffId" ng-model="formData.staffId" required
							placeholder="{{'label.selectone' | translate}}">
							<md-option ng-repeat="staff in cashier.staffOptions" ng-value="staff.id">
								{{staff.displayName}}
							</md-option>
						</md-select>
						<form-validate valattributeform="createcashierform" valattribute="staffId" />
					</div>
				</div>

				<div class="form-group">
					<label
						class="control-label col-sm-3">{{'label.heading.cashmgmt.tellerCashiers.description' | translate}}</label>
					<div class="col-sm-3">
						<input id="description" type="text" ng-model="formData.description" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3">{{'label.input.teller.cashier.startDate' | translate }}<span
							class="required">*</span></label>
					<div class="col-sm-3">
						<md-datepicker id="startDate" ng-model="first.date" 
							md-placeholder="{{'label.input.startDate' | translate}}"
							md-min-date="minDate" md-max-date="restrictDate" required>
						</md-datepicker>
						<form-validate valattributeform="createcashierform" valattribute="startDate" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3"> {{'label.input.teller.cashier.endDate' | translate }}<span
							class="required">*</span></label>
					<div class="col-sm-3">
						<md-datepicker id="endDate" ng-model="formData.endDate" 
							md-placeholder="{{'label.input.endDate' | translate}}"
							md-min-date="first.date" md-max-date="restrictDate" required>
						</md-datepicker>
						<form-validate valattributeform="createcashierform" valattribute="endDate" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 right">
						<md-checkbox id="fullDayCheckbox" ng-model="formData.isFullDay" ng-change="setChoice()">
							{{'label.input.teller.cashier.fullDay' | translate }}
						</md-checkbox>
					</div>
				</div>

				<div ng-show="formData.isFullDay==false">
					<div class="form-group">
						<label
							class="control-label col-sm-3">{{'label.input.teller.cashier.startTime' | translate }}</label>
						<div class="col-sm-3">
							<table>
								<tr>
									<td><input id="hourStartTime" type="number" class="input-smaller" min="00" max="23"
											placeholder="HH" ng-model="formData.hourStartTime"></td>
									<td><span>:</span></td>
									<td><input id="minStartTime" type="number" class="input-smaller" min="00" max="59"
											placeholder="mm" ng-model="formData.minStartTime"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="form-group">
						<label
							class="control-label col-sm-3">{{'label.input.teller.cashier.endTime' | translate }}</label>
						<div class="col-sm-3">
							<table>
								<tr>
									<td><input id="hourEndTime" type="number" class="input-smaller" min="0" max="24"
											placeholder="HH" ng-model="formData.hourEndTime"></td>
									<td>:</td>
									<td><input id="minEndTime" type="number" class="input-smaller" min="0" max="60"
											placeholder="mm" ng-model="formData.minEndTime"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-12 center">
					<a id="cancel" href="#!/tellers/{{cashier.tellerId}}/cashiers">
						<button type="reset"
							class="btn btn-sm btn-default">{{'label.button.cancel' | translate}}</button>
					</a>
					<button id="save" type="submit" class="btn btn-sm btn-primary"
						has-permission='UPDATECASHIERALLOCATION_TELLER'>{{'label.button.save' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>