<div class="content-container" ng-controller="ViewTellerController">
    <ul class="breadcrumb">
        <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#!/tellers">{{'label.anchor.tellers' | translate}}</a></li>
        <li class="active">{{teller.name}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{teller.name}}</h4>
                <div class="pull-right">
                    <div class="btn-group">
                        <md-button href="#!/editteller/{{teller.id}}" class="md-raised md-primary"
                            has-permission='UPDATE_TELLER'><i class="fa fa-edit "></i>&nbsp;&nbsp;{{
                            'label.button.edit' | translate }}</md-button>
                    </div>
                </div>
            </div>
            <br>
            <table class="table-bordered table view-table" style="width: 350px">
                <tr>
                    <th>{{'label.input.teller.office' | translate }}</th>
                    <td>{{teller.officeName}}</td>
                </tr>
                <tr>
                    <th>{{'label.input.teller.description' | translate }}</th>
                    <td>{{teller.description}}</td>
                </tr>
                <tr>
                    <th>{{'label.input.teller.startDate' | translate }}</th>
                    <td>{{teller.startDate | DateFormat }}</td>
                </tr>
                <tr>
                    <th>{{'label.input.teller.endDate' | translate }}</th>
                    <td>{{teller.endDate | DateFormat }}</td>
                </tr>
                <tr>
                    <th>{{'label.input.teller.status' | translate }}</th>
                    <td>{{teller.status | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>