<div class="content-container" ng-controller="AddNewClientChargeController">
    <ul class="breadcrumb">
        <li><a ng-href="#!/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.button.addcharge' | translate }}</li>
    </ul>

<form name="clientchargeform" novalidate="" class="card form-horizontal"
      rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset class="content">
        <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.charges' | translate }}<span class="required">*</span></label>

            <div class="col-sm-3">
                <md-select ng-model="formData.chargeId" id="chargeId" ng-change="chargeSelected(formData.chargeId)" required
                    placeholder="{{'label.selectcharge' | translate}}">
                    <md-option ng-repeat="charge in chargeOptions" ng-value="charge.id">
                        {{charge.name}} - {{charge.currency.name | translate}}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div ng-show="chargeDetails">
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.amount' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input id="amount" type="number" name="amount" ng-model="formData.amount" class="form-control" required ng-late-Validate/>
                    <form-validate valattributeform="clientchargeform" valattribute="amount"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.chargecalculation' | translate }}</label>

                <div class="col-sm-3">
                    <md-select id="chargeCalculationType" ng-model="chargeCalculationType" disabled="disabled">
                        <md-option ng-repeat="chargeCalculation in chargeDetails.chargeCalculationTypeOptions" ng-value="chargeCalculation.id">
                            {{"charge.type." + chargeCalculation.value | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.chargetimetype' | translate }}</label>
                <div class="col-sm-3">
                    <md-select id="chargeTimeType" ng-model="chargeTimeType" disabled="disabled">
                        <md-option ng-repeat="chargeTime in chargeDetails.chargeTimeTypeOptions" ng-value="chargeTime.id">
                            {{chargeTime.value | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.dueforcollectedon' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <md-datepicker id="dueforcollectedon" ng-model="date.specificduedate" 
                        md-placeholder="{{'label.selecttodate' | translate}}"
                        md-min-date="'2000-01-01'" md-max-date="restrictDate">
                    </md-datepicker>
                </div>
            </div>

        </div>

        <div class="col-md-12 center">
            <md-button id="cancel" href="#!/viewclient/{{clientId}}" class="md-raised">{{'label.button.cancel' |
                translate}}</md-button>
            <md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_CLIENTCHARGE'>{{'label.button.save' | translate}}</button>
        </div>
    </fieldset>
</form>
</div>
