<div class="content-container" ng-controller="ClientActionsController">
    <ul class="breadcrumb">
        <li><a href="#!/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href="#!/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{breadcrumbName | translate}}</li>
    </ul>
    <wizard current-step="step()" on-finish="submitDatatable()">
        <wz-step wz-title="{{breadcrumbName | translate}}">
            <form name="clientactionform" novalidate="" class="card form-horizontal well">
                <div ng-show="submittedDatatables.length>0" uib-alert type="success">
                    <span ng-repeat="table in submittedDatatables"><i class="fa fa-check"></i>Entry in ` {{table}} ` has
                        been made successfully. If the inputs are changed, the datatable entries will be
                        updated.<br></span>
                </div>
                <api-validate></api-validate>
                <div class="form-group" ng-show="showDateField">
                    <label class="control-label col-sm-3">{{labelName | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-datepicker id="{{modelName}}" name="modelName" ng-model="formData[modelName]"
                            md-placeholder="{{'label.selecttodate' | translate}}" ng-model="formData[modelName]"
                            md-min-date="'2000-01-01'" md-max-date="restrictDate" required>
                        </md-datepicker>
                    </div>
                </div>
                <div class="form-group" ng-show="showActivationDateField">
                    <label class="control-label col-sm-3">{{labelName | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-datepicker id="{{modelName}}" name="modelName" ng-model="formData[modelName]"
                            md-placeholder="{{'label.selecttodate' | translate}}" ng-model="formData[modelName]"
                            md-min-date="mindate" md-max-date="restrictDate" required>
                        </md-datepicker>
                    </div>
                </div>
                <div class="form-group" ng-show="reasonField">
                    <label class="control-label col-sm-3">{{labelNamereason | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-select id="{{reasonmodelName}}" ng-model="formData[reasonmodelName]"
                            placeholder="{{'label.menu.selectone' | translate}}">
                            <md-option ng-repeat="reason in reasons" ng-value="reason.id">
                                {{reason.name | translate}}
                            </md-option>  
                        </md-select>
                    </div>
                </div>

                <div class="form-group" ng-show="staffField">
                    <label class="control-label col-sm-3">{{labelName | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-select id="staffId" ng-model="formData.staffId"
                            placeholder="{{'label.menu.selectone' | translate}}">
                            <md-option ng-repeat="staff in staffOptions" ng-value="staff.id">
                                {{staff.displayName | translate}}
                            </md-option>  
                        </md-select>
                    </div>
                </div>

                <div class="form-group" ng-show="savingsField">
                    <label class="control-label col-sm-3">{{labelName | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-select id="savingsAccountId" ng-model="formData.savingsAccountId" 
                            placeholder="{{'label.menu.selectone' | translate}}">
                            <md-option ng-repeat="savingsAccount in savingAccountOptions" ng-value="savingsAccount.id">
                                {{savingsAccount.accountNo}} {{savingsAccount.savingsProductName}}
                            </md-option>  
                        </md-select>
                    </div>
                </div>


                <div class="form-group" ng-show="showTransferDate">
                    <label class="control-label col-sm-3">{{'label.heading.transfer.date' | translate}}</label>

                    <div class="col-sm-5">
                        <label class="control-label">{{ transferDate | DateFormat}}</label>
                    </div>
                </div>
                <div class="form-group" ng-show="showNoteField">
                    <label class="control-label col-sm-3" for="note">{{'label.heading.notes' | translate}}</label>

                    <div class="col-sm-3">
                        <textarea rows="2" id="note" ng-model="formData.note" class="form-control"></textarea>
                    </div>
                </div>

                <div>
                    <md-button id="save1" wz-next class="btn btn-primary pull-right" ng-show="isEntityDatatables">
                        {{'label.button.proceed' | translate}}
                    </md-button>
                </div>
                <div class="col-md-12 center" ng-show="!showDeleteClient && !isEntityDatatables">
                    <md-button id="cancel" type="reset" ng-click="cancel()"
                        class="md-raised">{{'label.button.cancel' | translate}}
                    </md-button>
                    <md-button id="save" type="submit" has-permission='{{taskPermissionName}}' class="md-raised md-primary"
                        wz-next>{{'label.button.save' | translate}}</md-button>
                </div>
            </form>
        </wz-step>
        <wz-step ng-if="isEntityDatatables" ng-repeat="datatable in datatables"
            wz-title="{{datatable.registeredTableName}}">
            <div class="card-content">
                <form class="card form-horizontal well">
                    <div ng-show="submittedDatatables.length>0" uib-alert type="success">
                        <span ng-repeat="table in submittedDatatables"><i class="fa fa-check"></i>Entry in ` {{table}} `
                            has been made successfully. If the inputs are changed, the datatable entries will be
                            updated.<br></span>
                    </div>
                    <api-validate></api-validate>
                    <fieldset>
                        <legend>{{datatable.registeredTableName}}</legend>
                        <div class="form-group" ng-repeat="columnHeader in datatable.columnHeaders">
                            <label
                                class="control-label col-sm-3">{{ columnHeader.columnName | prettifyDataTableColumn }}
                                <span ng-show="!columnHeader.isColumnNullable" class="required">*</span>
                            </label>
                            <div class="col-sm-3">
                                <input ng-show="fieldType(columnHeader.columnDisplayType) == 'TEXT'" type="text"
                                    ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                    class="form-control" />
                                <md-datepicker ng-show="fieldType(columnHeader.columnDisplayType) == 'DATE'"
                                    ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateType.date"
                                    md-placeholder="{{'label.selecttodate' | translate}}">
                                </md-datepicker>
                                <div ng-show="fieldType(columnHeader.columnDisplayType) == 'DATETIME'"
                                    class="form-inline">
                                    <div class="form-group">
                                        <md-datepicker 
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.date"
                                            md-placeholder="{{'label.selecttodate' | translate}}">
                                        </md-datepicker>
                                    </div>
                                    <div class="form-group">
                                        <input type="time" placeholder="HH:MM:SS"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.time"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div ng-show="fieldType(columnHeader.columnDisplayType) == 'BOOLEAN'">
                                    <label class="radio-inline">
                                        <input type="radio"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                            value="true" />
                                        {{'label.input.true' | translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                            value="false" />
                                        {{'label.input.false' | translate}}
                                    </label>
                                </div>
                                <span data-ng-switch on="columnHeader.columnDisplayType">
                                    <md-select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                        data-ng-switch-when="CODELOOKUP"
                                        ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                        placeholder="{{'label.menu.selectone' | translate}}">
                                        <md-option ng-repeat="columnValue in columnHeader.columnValues" ng-value="columnValue.id">
                                            {{columnValue.value}}
                                        </md-option>  
                                    </md-select>
                                    <md-select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                        data-ng-switch-when="CODEVALUE"
                                        ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                        placeholder="{{'label.menu.selectone' | translate}}">
                                        <md-option ng-repeat="columnValue in columnHeader.columnValues" ng-value="columnValue.id">
                                            {{columnValue.value}}
                                        </md-option>  
                                    </md-select>
                                </span>
                            </div>
                        </div>
                        <div class="pull-right" ng-if="!$last">
                            <md-button id="save4" type="submit" class="md-raised md-primary" wz-next>
                                {{'label.button.proceed' | translate}}
                            </md-button>
                        </div>
                        <div class="col-md-offset-5" ng-if="$last">
                            <md-button id="cancel" type="reset" ng-click="cancel()"
                                class="md-raised">{{'label.button.cancel' | translate}}
                            </md-button>
                            <md-button id="save" type="submit" has-permission='{{taskPermissionName}}'
                                class="md-raised md-primary" wz-next>{{'label.button.save' | translate}}</md-button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
</div>