<div class="content-container" ng-controller="EditFamilyMemberController">
    <ul class="breadcrumb">
        <li><a href="#!/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href="#!/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.anchor.editfamilymember' | translate}}</li>
    </ul>
    <form name="familymemberInfo" novalidate="" class="form-horizontal well">
        <api-validate></api-validate>
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">{{'label.input.firstname' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" id="firstName" name="firstName" ng-model="formData.firstName"
                        class="form-control uppercase">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="middleName">{{'label.input.middlename' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" id="middleName" name="middleName" ng-model="formData.middleName"
                        class="form-control uppercase">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">{{'label.input.lastname' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" id="lastName" name="lastName" ng-model="formData.lastName" class="form-control uppercase">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"
                    for="qualification">{{'label.input.qualification' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" id="qualification" only-number maxlength="3" name="qualification" ng-model="formData.qualification"
                        class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"
                    for="mobileNumber">{{'label.input.mobileNumber' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" maxlength="10" only-number id="mobileNumber" ng-pattern="/^[0-9]{10}$/"
                        name="mobileNumber" ng-model="formData.mobileNumber" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"
                    for="dateofbirth">{{'label.input.dateofbirth' | translate }}</label>

                <div class="col-sm-3">
                    <input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
                    ng-model="date.dateOfBirth" min="minDate" max="restrictDate" ng-change="calculateAge(date.dateofbirth)" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="age">{{'label.input.age' | translate }}</label>

                <div class="col-sm-3">
                    <input type="text" id="age" name="age" ng-model="formData.age" class="form-control">
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <md-checkbox ng-model="formData.isDependent">
                        {{'label.input.isDependent' | translate }}
                    </md-checkbox>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>{{'label.input.relationship' | translate }}</label>
                </div>
                <div class="col-sm-3">
                    <md-select required late-Validate class="uppercase" placeholder="{{'label.selectone' | translate}}" id="relationshipIdOption" ng-model="formData.relationshipId">
                        <md-option class="uppercase" ng-repeat="relationshipIdOption in relationshipIdOptions | orderBy: name"
                        ng-value="relationshipIdOption.id">
                            {{relationshipIdOption.name | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>{{'label.input.gender' | translate }}</label>
                </div>
                <div class="col-sm-3">
                    <md-select required late-Validate class="uppercase" placeholder="{{'label.selectone' | translate}}" id="genderIdOption" ng-model="formData.genderId">
                        <md-option class="uppercase" ng-repeat="genderIdOption in genderIdOptions | orderBy: name"
                        ng-value="genderIdOption.id">
                            {{genderIdOption.name | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>{{'label.input.profession' | translate }}</label>
                </div>
                <div class="col-sm-3">
                    <md-select required late-Validate class="uppercase" placeholder="{{'label.selectone' | translate}}" id="professionIdOption" ng-model="formData.professionId">
                        <md-option class="uppercase" ng-repeat="professionIdOption in professionIdOptions | orderBy: name"
                        ng-value="professionIdOption.id">
                            {{professionIdOption.name | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>{{'label.input.maritalstatus' | translate }}</label>
                </div>
                <div class="col-sm-3">
                    <md-select required late-Validate class="uppercase" placeholder="{{'label.selectone' | translate}}" id="maritalStatusId" ng-model="formData.maritalStatusId">
                        <md-option class="uppercase" ng-repeat="maritalStatusIdOption in maritalStatusIdOptions | orderBy: name"
                        ng-value="maritalStatusIdOption.id">
                            {{maritalStatusIdOption.name | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="col-md-12 center" ng-model="editable">
                <md-button id="cancel" ng-click="routeTo()" class="md-raised">{{
                    'label.button.cancel' | translate }}
                </md-button>
                <md-button id="edit" ng-click="updateClientMember()" class="md-raised md-primary">{{
                    'label.button.edit' | translate }}
                </md-button>
            </div>
        </fieldset>
    </form>
</div>