<div class="content-container" ng-controller="TransactionClientController">
    <ul class="breadcrumb">
        <li><a href="#!/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href="#!/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.anchor.transferclient' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <form class="card form-horizontal well" ng-submit="submit()">
        <br>
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.office' | translate }}:<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <md-select id="destinationOfficeId" ng-model="formData.destinationOfficeId"
                        placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="office in offices" ng-value="office.id">
                            {{office.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.transfer.date' | translate }}:<span
                        class="required">*</span></label>
                <div class="col-sm-3">
                    <md-datepicker id="transferDate" ng-model="formData.transferDate" 
                        md-placeholder="{{'label.input.startDate' | translate}}"
                        md-min-date="'2000-01-01'" md-max-date="restrictDate">
                    </md-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.notes' | translate}}:</label>

                <div class="col-sm-3">
                    <textarea class="form-control" ng-model="formData.note"></textarea>
                </div>
            </div>
            <div class="col-md-12 center">
                <md-button href='#!/viewclient/{{clientId}}'
                    class="md-raised">{{'label.button.cancel' | translate}}</md-button>
                <md-button id="save" type="submit" has-permission='PROPOSETRANSFER_CLIENT'
                    class="md-raised md-primary">{{'label.button.save' | translate}}</md-button>
            </div>
        </fieldset>
    </form>
</div>