<md-dialog arial-label="{{data.id}}" style="width:600px; height:650px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ubicación</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">

            <leaflet lf-center="center" event-broadcast="events" markers="markers" height="480px" width="100%">
            </leaflet>
        </div>
    </md-dialog-content>
</md-dialog>