<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.transfers' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.transfers' | translate}}</h4>
            </div>
            <br>
            <form class="form-horizontal" ng-controller="BulkLoanReassignmentController" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'label.input.assignmentdate' | translate }}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="assignmentDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="transactionDate"
                                is-open="opened" min="minDate" max="'2030-06-22'" date-disabled="disabled(date, mode)"
                                class="form-control" required late-Validate />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ 'label.input.fromoffice' | translate }}<span
                                class="required">*</span></label>
                        <div class="col-sm-3">
                            <select id="fromOfficeId" chosen="offices" name="office" id="office" ng-model="fromOfficeId"
                                data-ng-options="office.id as office.name for office in offices"
                                data-ng-change="getOfficers(0)" class="form-control">
                                <option value="">{{'label.selectoffice' | translate}}</option>
                            </select>
                        </div>

                        <div data-ng-show="formData.fromLoanOfficerId">
                            <label class="control-label col-sm-3">{{ 'label.input.tooffice' | translate }}<span
                                class="required">*</span></label>
                            <div class="col-sm-3">
                                <select id="toOfficeId" chosen="offices" name="office" id="office" ng-model="toOfficeId"
                                    data-ng-options="office.id as office.name for office in offices"
                                    data-ng-change="getOfficers(1)" class="form-control">
                                    <option value="">{{'label.selectoffice' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="fromOfficeId">
                        <label class="control-label col-sm-3">{{ 'label.input.fromloanofficer' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <select chosen="fromOfficers" id="fromLoanOfficerId" ng-model="formData.fromLoanOfficerId"
                                data-ng-options="fromOfficer.id as fromOfficer.displayName for fromOfficer in fromOfficers"
                                ng-change="getOfficerClients()" class="form-control">
                                <option value="">{{'label.selectone' | translate}}</option>
                            </select>
                        </div>

                        <div data-ng-show="formData.fromLoanOfficerId">
                            <label class="control-label col-sm-3">{{ 'label.input.toloanofficer' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <select chosen="toOfficers" id="toLoanOfficerId" ng-model="formData.toLoanOfficerId"
                                    class="form-control"
                                    data-ng-options="toOfficer.id as toOfficer.displayName for toOfficer in toOfficers">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'label.input.transfertype' | translate }}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <select chosen="transferTypes" id="transferTypeId" ng-model="transferTypeId"
                                data-ng-options="transferType.id as transferType.name | translate for transferType in transferTypes"
                                class="form-control">
                                <option value="">{{'label.selectone' | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="container" data-ng-show="transferTypeId == 1">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group" data-ng-show="clients">
                                <table>
                                    <thead>
                                        <th>{{'label.heading.clients' | translate}}</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="client in clients">
                                            <td>
                                                <input class="pull-left" type="checkbox"
                                                                ng-model="transfers['c_' + client.id]">&nbsp;({{client.externalId}})&nbsp;{{client.displayName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <table data-ng-show="groups">
                                <thead>
                                    <th>{{'label.heading.groups' | translate}}</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="group in groups">
                                        <td>&nbsp;({{group.externalId}})&nbsp;{{group.displayName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="container" data-ng-show="transferTypeId == 2">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group" data-ng-show="groups">
                                <table>
                                    <thead>
                                        <th>{{'label.heading.groups' | translate}}</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="group in groups">
                                            <td>
                                                <input class="pull-left" type="checkbox"
                                                                ng-model="transfers['g_' + group.id]">&nbsp;({{group.externalId}})&nbsp;{{group.displayName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <a href="#!/organization">
                            <button type="reset" class="btn btn-sm btn-default">{{'label.button.cancel' | translate}}</button>
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary"
                            has-permission='BULKREASSIGN_LOAN'>{{'label.button.transfer' | translate}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>