<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="./images/favicon.ico" />
    <title>{{ 'label.heading.company' | translate }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="preview whitebg" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" ng-controller="MainController">
    <!-- HTTP Bar Loader -->
    <div id="loading-bar"></div>
    <!-- Initial Loader -->
    <div id="loaderWrapper" ng-hide="domReady">
      <div id="loader" class="col-md-12 image-loader">
        <img src="images/trans.png" class="img-responsive" />
      </div>
    </div>

    <div id="wrapper" ng-hide="!domReady" class="full-screen" ng-class="{'noscroll-y': (currentSession.user == null)}" ng-cloak>
      <!-- Login Form  -->
      <div id="login-content" class="container full-screen" ng-hide="currentSession.user != null" ng-controller="LoginFormController">
        <div class="row">
          <div class="col-sm-12">
            <div class="row" ng-show="showLanguage()">
              <div class="col-sm-10 right">
                {{'label.input.changelanguage' | translate}} :
              </div>
              <div class="col-sm-2 pull-right">
                <md-select id="language" ng-model="optlang.code"
                  ng-change="changeLang(optlang.code)">
                    <md-option ng-repeat="lang in langs" ng-value="lang.code">
                    {{lang.name | translate}}
                    </md-option>
                </md-select>
              </div>
            </div>
          </div>
        </div>

        <div class="row full-screen">
          <div class="col-md-12">
            <div class="full-screen" ng-include src="'views/login.html'"></div>
          </div>
        </div>
      </div>

      <!-- Navbar -->
      <div ng-class="{fullscreen:true ,blockui:blockUI==true}" id="main" ng-show="currentSession.user != null">
        <div class="loading-widget-div" ng-show="blockUI">
          <span class="centerloader">
            <img src="images/833.svg" class="img-responsive" />
          </span>
        </div>

        <div id="mifos-reskin-ui-container">
          <div id="mifos-reskin-header-nav" ng-include="'views/_topnavbar.html'"></div>

          <div id="mifos-reskin-body-container">
            <nav id="mifos-reskin-side-nav" ng-scrollbar>
              <div class="left-nav">
                <ul>
                  <li>
                    <a class="black" href="/#!/notifications">
                      <i class="fa fa-bell"></i>
                      <span>{{'label.heading.notification' | translate }}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/createclient">
                      <i class="fa fa-user"></i
                      ><span> + {{'label.anchor.client' |translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/creategroup">
                      <i class="fa fa-group"></i
                      ><span> + {{'label.anchor.group' |translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/createcenter">
                      <i class="fa fa-map-marker"></i
                      ><span> + {{'label.anchor.center' | translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/nav/offices">
                      <i class="fa fa-compass"></i>
                      <span>{{'label.anchor.navigation' | translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/tasks">
                      <i class="fa fa-check"></i>
                      <span>{{ 'label.anchor.tasks'| translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/transfers">
                      <i class="fa fa-repeat"></i>
                      <span>{{'label.anchor.transfers' | translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/journalentry">
                      <i class="fa fa-plus"></i>
                      <span
                        >{{'label.anchor.addjournalentries' | translate}}</span
                      >
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/accounts_closure">
                      <i class="fa fa-folder"></i>
                      <span>{{'label.anchor.closingentries' | translate}}</span>
                    </a>
                  </li>

                  <li>
                    <a class="black" href="/#!/accounting_coa">
                      <i class="fa fa-sitemap"></i>
                      <span
                        >{{'label.heading.chartofaccounts' | translate}}</span
                      >
                    </a>
                  </li>

                  <li>
                    <a class="black" ng-click="helpf()">
                      <i class="fa fa-question-circle"></i>
                      <span>{{'label.anchor.help' | translate }}</span> &nbsp;
                      <i class="fa fa-external-link"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div id="mifos-reskin-body-view">
            <div class="main-container" ng-view></div>
          </div>

          <!-- Footer -->
          <div ng-show="currentSession.user != null" ng-include="'views/footer.html'"></div>
        </div>
      </div>
    </div>
    <!-- Javascript -->
    <script>
      // define waitSeconds above require script tag
      // to override the default, until main.js loads
      window.require = {
        waitSeconds: 120,
      };
    </script>
    <script type="text/javascript" data-main="scripts/loader.js" src="bower_components/requirejs/require.js"></script>
  </body>
</html>
