<div class="content-container">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.addsavingcharges' | translate }}</li>
    </ul>
    <div class="card">
        <div class="content">
            <form name="savingccountchargeform" novalidate="" class="form-horizontal form-extra"
                ng-controller="AddNewSavingsChargeController" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.charges' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-select ng-model="formData.chargeId" id="chargeId" name="charge" ng-change="chargeSelected(formData.chargeId)"
                                required placeholder="{{'label.selectcharge' | translate}}">
                                <md-option ng-repeat="charge in chargeOptions" ng-value="charge.id">
                                   {{charge.currency.code}} - {{charge.name}}
                                </md-option>
                            </md-select>
                            <form-validate valattributeform="savingccountchargeform" valattribute="charge" />
                        </div>
                    </div>

                    <div ng-show="chargeDetails">
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.amount' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <input id="amount" type="text" name="amount" ng-model="formData.amount"
                                    class="form-control" required ng-late-Validate maxlength="15" only-number />
                                <form-validate valattributeform="savingccountchargeform" valattribute="amount" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label
                                class="control-label col-sm-2">{{'label.input.chargecalculation' | translate }}</label>

                            <div class="col-sm-3">
                                <md-select id="chargeCalculationType" ng-model="chargeCalculationType"
                                    disabled="disabled" placeholder="{{'label.selectcharge' | translate}}">
                                    <md-option ng-repeat="chargeCalculation in chargeDetails.chargeCalculationTypeOptions" ng-value="chargeCalculation.id">
                                        {{chargeCalculation.value | translate}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.chargetimetype' | translate }}</label>

                            <div class="col-sm-3">
                                <md-select id="chargeTimeType" ng-model="chargeTimeType" disabled="disabled"
                                    placeholder="{{'label.selectcharge' | translate}}">
                                    <md-option ng-repeat="chargeTime in chargeDetails.chargeTimeTypeOptions" ng-value="chargeTime.id">
                                        {{chargeTime.value | translate}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="!dueDateNotRequired && !chargeTimeTypeAnnualOrMonth">
                            <label class="control-label col-sm-2">{{'label.input.dueforcollectedon' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <md-datepicker id="feeOnAnnualMonthDay" ng-model="date.specificduedate"
                                    md-placeholder="{{'label.selecttodate' | translate}}">
                                </md-datepicker>
                            </div>
                        </div>
                        <div class="form-group" ng-show="!dueDateNotRequired && chargeTimeTypeAnnualOrMonth">
                            <label class="control-label col-sm-2">{{'label.input.dueon' | translate }}<span
                                    class="required">*</span></label>
                            <md-datepicker id="feeOnMonthDay" ng-model="date.due"
                                md-placeholder="{{'label.selecttodate' | translate}}">
                            </md-datepicker>
                        </div>
                        <div class="form-group" ng-show="chargeTimeType.value == 'Monthly Fee' ">
                            <label class="control-label col-sm-2">{{'label.repeatsevery' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <input type="text" class="input-small" ng-model="formData.feeInterval"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <md-button id="cancel" href="#!/viewsavingaccount/{{cancelRoute}}" class="md-raised">{{'label.button.cancel' |
                        translate}}</md-button>
                        <md-button id="save" type="submit" class="md-raised md-primary"
                            has-permission='CREATE_SAVINGSACCOUNTCHARGE'>{{'label.button.save' | translate}}</md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>