<div class="content-container" ng-controller="EditSavingAccountController">
    <ul class="breadcrumb">
        <li><a href="#!/viewsavingaccount/{{accountId}}">{{'label.anchor.viewsavingaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.editsavingapplication' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.editsavingapplication' | translate }}</h4>
            </div>
            <br />
            <form name="editsavingccountform" novalidate="" class="form-inline" rc-submit="         submit()">
                <fieldset>
                    <table class="width100">
                        <tr>
                            <td class="width19">
                                <label>{{'label.input.product' | translate }}<span
                                        class="required">*</span>:&nbsp;</label>
                            </td>
                            <td class="width31 paddedbottom10">
                                <select id="productId" ng-model="formData.productId"
                                    ng-options="product.id as product.name for product in products"
                                    value="{{product.id}}" ng-change="changeProduct()" class="form-control width170px"
                                    required="required">
                                    <option style="display:none" value="">{{'label.selectsavingproduct' | translate}}
                                    </option>
                                </select>
                            </td>
                            <td class="width19">
                                <label ng-show="formData.productId" class="control-label">{{'label.input.submittedon' | translate
                        }}&nbsp;<span class="required">*</span></label>
                            </td>
                            <td class="width31 paddedbottom10">
                                <md-datepicker id="submittedOnDate" ng-show="formData.productId" ng-model="date.submittedOnDate"" 
                                    md-placeholder="{{'label.selecttodate' | translate}}"
                                    md-min-date="'2000-01-01'" md-max-date="restrictDate">
                                </md-datepicker>
                            </td>
                        </tr>
                        <tr ng-show="formData.productId">
                            <td class="width19">
                                <label>{{'label.input.fieldofficer' | translate }}:&nbsp;</label>
                            </td>
                            <td class="width31 paddedbottom10">
                                <select id="fieldOfficerId" ng-model="formData.fieldOfficerId"
                                    class="form-control width170px"
                                    ng-options="fieldOfficer.id as fieldOfficer.displayName for fieldOfficer in fieldOfficers"
                                    value="{{fieldOfficer.id}}" class="form-control">
                                    <option value="">{{'label.selectfieldofficer' | translate}}</option>
                                </select>
                            </td>
                            <td class="width19">
                                <label ng-show="formData.productId" class="control-label">{{'label.input.externalid' | translate
                        }}</label>
                            </td>
                            <td class="width31 paddedbottom10">
                                <input ng-show="formData.productId" id="externalId" ng-model="formData.externalId"
                                    class="form-control" />
                            </td>

                        </tr>
                    </table>
                    <hr data-ng-show="formData.productId" />
                    <label ng-show="data"><strong>{{'label.heading.terms' | translate }}</strong></label>

                    <div ng-show="data">
                        <table class="width100">
                            <tr>
                                <td class="width19"><label
                                        class="control-label">{{'label.heading.currency' | translate }}</label>
                                </td>
                                <td class="width31">
                                    <label><b>{{data.currency.name | translate}} ({{data.currency.displaySymbol}})</b></label>
                                </td>
                                <td class="width19"><label
                                        class="control-label">{{'label.heading.decimalplaces' | translate}}</label>
                                </td>
                                <td class="width31">
                                    <label><b>{{data.currency.decimalPlaces}}</b></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="width19">
                                    <label class="control-label">{{'label.input.nominalannualinterestrate' | translate
                            }}&nbsp;<span class="required">*</span></label>
                                </td>

                                <td class="width31 paddedbottom10">
                                    <input id="nominalAnnualInterestRate" type="number" name="nominalannualinterestrate"
                                        ng-model="formData.nominalAnnualInterestRate" class="form-control" required
                                        late-Validate />
                                    <form-validate valattributeform="newsavingccountform"
                                        valattribute="nominalannualinterestrate" />
                                </td>
                                <td class="width19">
                                    <label class="control-label">{{'label.input.interestcompoundingperiod' | translate
                            }}&nbsp;<span class="required">*</span></label>
                                </td>
                                <td class="width31 paddedbottom10">
                                    <select id="interestCompoundingPeriodType"
                                        ng-model="formData.interestCompoundingPeriodType"
                                        ng-options="type.id as type.value | translate for type in data.interestCompoundingPeriodTypeOptions"
                                        value="{{type.id}}" class="form-control width170px"></select>
                                </td>

                            </tr>
                            <tr>
                                <td class="width19">
                                    <label
                                        class="control-label">{{'label.input.currencyinmultiplesof' | translate }}&nbsp;</label>
                                </td>
                                </td>
                                <td class="width31 paddedbottom10">
                                    <input type="number" value="{{data.currency.inMultiplesOf}}" class="form-control"
                                        readonly />
                                </td>
                                <td class="width19">
                                    <label
                                        class="control-label">{{'label.input.interestpostingperiod' | translate }}&nbsp;<span
                                            class="required">*</span></label></td>
                                <td class="width31 paddedbottom10">
                                    <select id="interestPostingPeriodType" ng-model="formData.interestPostingPeriodType"
                                        ng-options="type.id as type.value | translate for type in data.interestPostingPeriodTypeOptions"
                                        value="{{type.id}}" class="form-control width170px">
                                    </select></td>

                            </tr>
                            <tr>
                                <td class="width19"><label
                                        class="control-label">{{'label.input.interestcalculatedusing' | translate }}&nbsp;<span
                                            class="required">*</span></label></td>
                                <td class="width31 paddedbottom10">
                                    <select id="interestCalculationType" ng-model="formData.interestCalculationType"
                                        ng-options="type.id as type.value | translate for type in data.interestCalculationTypeOptions"
                                        value="{{type.id}}" class="form-control width170px">
                                    </select></td>
                                <td class="width19"><label
                                        class="control-label">{{'label.input.daysinyears' | translate }}&nbsp;<span
                                            class="required">*</span></label></td>
                                <td class="width31 paddedbottom10">
                                    <select id="interestCalculationDaysInYearType"
                                        ng-model="formData.interestCalculationDaysInYearType"
                                        ng-options="type.id as type.value | translate for type in data.interestCalculationDaysInYearTypeOptions"
                                        value="{{type.id}}" class="form-control width170px">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="width19">
                                    <label
                                        class="control-label">{{'label.input.minimumopeningbalance' | translate }}&nbsp;</label>
                                </td>
                                <td class="width31 paddedbottom10">
                                    <input id="minRequiredOpeningBalance" type="number" number-format
                                        ng-model="formData.minRequiredOpeningBalance" class="form-control">
                                </td>
                                <td class="width19">
                                    <label
                                        class="control-label">{{'label.input.lockinPeriodFrequency' | translate }}</label>
                                </td>
                                <td class="width31 paddedbottom10">
                                    <div class="form-inline">
                                        <input id="lockinPeriodFrequency" type="number" class="form-control"
                                            ng-model="formData.lockinPeriodFrequency">&nbsp;
                                        <select id="lockinPeriodFrequencyType"
                                            ng-model="formData.lockinPeriodFrequencyType"
                                            class="form-control width170px"
                                            ng-options="type.id as type.value | translate for type in data.lockinPeriodFrequencyTypeOptions"
                                            value="{{type.id}}">
                                            <option value="">{{'label.selectone' | translate}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="paddedbottom10 paddedtop">
                                    <md-checkbox ng-model="formData.withdrawalFeeForTransfers">
                                        {{'label.input.applywithdrawalfeefortransfers' | translate }}
                                    </md-checkbox>
                                </td>
                                <td class="width19"></td>
                                <td class="width31 paddedbottom10"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="paddedbottom10">
                                    <md-checkbox ng-model="formData.allowOverdraft">
                                        {{'label.input.allowoverdraft' | translate }}
                                    </md-checkbox>
                                </td>
                                <td class="width19" ng-show="formData.allowOverdraft">
                                    <label class="control-label">{{'label.input.overdraftlimit' | translate
                            }}&nbsp;</label></td>
                                <td class="width31 paddedbottom10" ng-show="formData.allowOverdraft">
                                    <input id="overdraftLimit" type="number" number-format
                                        ng-model="formData.overdraftLimit">
                                </td>
                            </tr>
                            <tr ng-show="formData.allowOverdraft">
                                <td class="width19">
                                    <label class="control-label">{{'label.input.nominalannualinterestrateoverdraft' | translate
                            }}&nbsp;</label></td>
                                <td class="width31 paddedbottom10">
                                    <input id="nominalAnnualInterestRateOverdraft" type="number"
                                        ng-model="formData.nominalAnnualInterestRateOverdraft">
                                </td>
                                <td class="width19">
                                    <label class="control-label">{{'label.input.minoverdraftforinterestcalculation' | translate
                            }}&nbsp;</label></td>
                                <td class="width31 paddedbottom10">
                                    <input id="minOverdraftForInterestCalculation" type="number" number-format
                                        ng-model="formData.minOverdraftForInterestCalculation">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="paddedbottom10" ng-hide="formData.allowOverdraft">
                                    <md-checkbox ng-model="formData.enforceMinRequiredBalance">
                                        {{'label.input.enforceMinRequiredBalance' | translate }}
                                    </md-checkbox>
                                </td>
                                <td class="width19" ng-hide="formData.allowOverdraft">
                                    <label class="control-label">{{'label.input.minRequiredBalance' | translate
                            }}&nbsp;</label></td>
                                <td class="width31 paddedbottom10" ng-hide="formData.allowOverdraft">
                                    <input id="minRequiredBalance" type="number" class="form-control" number-format
                                        ng-model="formData.minRequiredBalance">
                                </td>
                            </tr>
                            <tr ng-show="data.minBalanceForInterestCalculation">
                                <td> {{'label.heading.minbalanceforinterestcalculation' | translate}}</td>
                            </tr>
                            <tr ng-show="data.taxGroup">
                                <td colspan="2" class="paddedbottom10">
                                    <md-checkbox ng-model="formData.withholdtax">
                                        {{'label.input.withholdtax' | translate }}
                                    </md-checkbox>
                                </td>
                                <td class="width19" ng-show="formData.withHoldTax">
                                    <label class="control-label">{{'label.input.taxgroup' | translate
                            }}&nbsp;</label></td>
                                <td class="width31 paddedbottom10" ng-show="formData.withHoldTax">
                                    {{data.taxGroup.name}}
                                </td>
                            </tr>
                        </table>
                        <hr />

                        <label ng-show="data"><strong>{{'label.heading.charges' | translate }}</strong></label>
                        <div class="col-sm-3">
                            <select ng-model="chargeId"
                                ng-options="charge.id as charge.name for charge in data.chargeOptions|filter:data.currency.code:strict"
                                value="{{charge.id}}" class="form-control">
                                <option value="">{{'label.selectcharge' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn-primary btn-sm" ng-click="addCharge(chargeId)">
                                <i class="fa fa-plus "></i>
                                {{'label.button.add' | translate}}</a>
                        </div>
                        <div class="col-sm-2">
                            <span ng-show="errorchargeevent">
                                <small class="error">{{'label.'+labelchargeerror | translate}}</small>
                            </span>
                        </div>

                        <table class="table" width="100%" ng-show="charges.length>0">
                            <tr class="graybg">
                                <th>{{'label.heading.name' | translate}}</th>
                                <th>{{'label.heading.type' | translate}}</th>
                                <th>{{'label.heading.amount' | translate}}</th>
                                <th>{{'label.heading.collectedon' | translate}}</th>
                                <th>{{'label.heading.date' | translate}}</th>
                                <th>{{'label.heading.repaymentsevery' | translate}}</th>
                                <th>{{'label.heading.actions' | translate}}</th>
                            </tr>
                            <tr ng-repeat="charge in charges">
                                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                                <td>{{charge.chargeCalculationType.value}}</td>
                                <td><input id="charges[{{$index}}].amount" class="input-sm form-control" type="number"
                                        ng-model="charge.amount" number-format
                                        placeholder="{{'label.placeholder.amount' | translate}}" /></td>
                                <td>{{charge.chargeTimeType.value}}</td>
                                <td ng-switch on="charge.chargeTimeType.value">
                                    <md-datepicker id="charges[{{$index}}].feeOnMonthDay" 
                                        ng-model="charge.feeOnMonthDay" 
                                        md-placeholder="{{'label.selecttodate' | translate}}"
                                        ng-switch-when='Annual Fee' disabled>
                                    </md-datepicker>
                                    <md-datepicker id="charges[{{$index}}].dueDate" 
                                        ng-model="charge.dueDate" 
                                        md-placeholder="{{'label.selecttodate' | translate}}"
                                        ng-switch-when='Specified due date' disabled>
                                    </md-datepicker>
                                    <md-datepicker id="charges[{{$index}}].feeOnMonthDay" 
                                        ng-model="charge.feeOnMonthDay" 
                                        md-placeholder="{{'label.selecttodate' | translate}}"
                                        ng-switch-when='Monthly Fee' disabled>
                                    </md-datepicker>
                                    <md-datepicker id="charges[{{$index}}].dueDate" 
                                        ng-model="charge.dueDate" 
                                        md-placeholder="{{'label.selecttodate' | translate}}"
                                        ng-switch-when='Weekly Fee' disabled>
                                    </md-datepicker>
                                </td>
                                <td ng-switch on="charge.chargeTimeType.value">
                                    <input id="charges[{{$index}}].feeInterval" class="input-sm form-control"
                                        type="number" ng-model="charge.feeInterval" ng-switch-when='Monthly Fee' />
                                    <input id="charges[{{$index}}].feeInterval" class="input-sm form-control"
                                        type="number" ng-model="charge.feeInterval" ng-switch-when='Weekly Fee' />
                                </td>
                                <td><a ng-click="deleteCharge($index)"><i class="fa fa-times-circle fa-2x"></i></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 center">
                        <md-button id="cancel" type="reset" class="md-raised"
                            ng-click="cancel()">{{'label.button.cancel' | translate}}</md-button>
                        <md-button id="save" class="md-raised md-primary" ng-show="data"
                            has-permission='UPDATE_SAVINGSACCOUNT' ng-click="submit()">{{'label.button.save' | translate }}
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>