<div class="content-container" ng-controller="RetainedBalanceController">
    <ul class="breadcrumb">
        <li><a href="#!/viewsavingaccount/{{accountNo}}">{{'label.anchor.viewsavingsaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.retainbalance' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.retainbalance' | translate }}</h4>
            </div>
            <br/>
            <form class="form-horizontal form-extra" name="retainbalanceform" novalidate="" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="modelName">{{'label.heading.transactiondate' | translate}}<span
                                class="required">*</span></label>
                        <div class="col-sm-3">
                            <md-datepicker id="transactionDate" ng-model="formData.transactionDate" md-min-date="minDate" md-max-date="maxDatePicker"
                            md-placeholder="{{'label.input.fromdate' | translate }}"></md-datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.amount' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="transactionAmount" type="text" only-number name="transactionAmount"
                            ng-model="formData.transactionAmount" class="form-control" required
                            late-Validate />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="concept">{{'label.input.concept' | translate}}</label>

                        <div class="col-sm-3">
                            <textarea rows="3" id="concept" ng-model="formData.routingCode" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <button id="cancel" type="reset" class="btn btn-sm btn-default" ng-click="cancel()">{{'label.button.cancel' | translate
                        }}
                        </button>
                        <button id="save" type="submit" class="btn btn-sm btn-primary">{{'label.button.save' | translate }}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>