<div class="content-container" ng-controller="SavingAccountActionsController">
    <ul class="breadcrumb">
        <li><a href="#!/viewsavingaccount/{{accountId}}">{{'label.anchor.viewsavingaccount' | translate}}</a></li>
        <li class="active">{{action | translate}}</li>
    </ul>
    <wizard current-step="step" on-finish="submitDatatable()" class="card well">
        <wz-step wz-title="{{title | translate}}">
            <form name="savingccountactionform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <fieldset>
                    <div ng-show="submittedDatatables.length > 0" uib-alert type="success">
                        <span ng-repeat="table in submittedDatatables"><i class="fa fa-check"></i>Entry in ` {{table}} `
                            has been made successfully. If the inputs are changed, the entries will be
                            updated.<br></span>
                    </div>
                    <api-validate></api-validate>
                    <div class="form-group" ng-show="showDateField">
                        <label class="control-label col-sm-3" for="modelName">{{labelName | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-datepicker id="{{modelName}}" ng-model="formData[modelName]" 
                                md-placeholder="{{'label.selecttodate' | translate}}"
                                min="minDate" max="restrictDate">
                            </md-datepicker>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="withdrawBalance">
                        <label class="control-label col-sm-3" for="withdrawBalance">{{'label.input.withdrawBalance' |
                    translate}}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="withdrawBalance" type="checkbox" name="withdrawBalance"
                                ng-model="formData.withdrawBalance"
                                ng-change="isTransaction=formData.withdrawBalance" />
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="postInterestValidationOnClosure">
                        <label class="control-label col-sm-3" for="checkValidate">{{'label.input.postInterestValidationOnClosure' |
                    translate}}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="checkValidate" type="checkbox" name="Validation"
                                ng-model="formData.postInterestValidationOnClosure" ng-checked="true" />
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="formData.withdrawBalance">
                        <label class="control-label col-sm-3">{{'label.input.transactionamount' |
                    translate}}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="accountBalance" readonly />
                        </div>
                    </div>
                    <div ng-show="isTransaction">
                        <div class="form-group" data-ng-show="transactionAmountField">
                            <label class="control-label col-sm-3" for="transactionAmount">{{'label.input.transactionamount' |
                        translate}}<span class="required">*</span></label>

                            <div class="col-sm-3">
                                <input id="transactionAmount" type="number" name="transactionAmount"
                                    ng-model="formData.transactionAmount" class="form-control" required
                                    late-Validate />
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattributeform="savingccountactionform"
                                    valattribute="transactionAmount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3"
                                for="paymentTypeId">{{'label.input.paymenttype' | translate}}</label>

                            <div class="col-sm-3">
                                <md-select id="paymentTypeId" ng-model="formData.paymentTypeId"
                                    placeholder="{{'label.selectone' | translate}}">
                                    <md-option ng-repeat="paymentType in paymentTypes" ng-value="paymentType.id">
                                        {{'payment.type.' + paymentType.name | translate}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label
                                class="control-label col-sm-3">{{'label.input.showpaymentdetails' | translate}}</label>

                            <div class="col-sm-3">
                                <a class="btn btn-sm btn-primary" ng-click="showPaymentDetails=!showPaymentDetails">
                                    <i ng-show="showPaymentDetails" class="fa fa-minus "></i>
                                    <i ng-show="!showPaymentDetails" class="fa fa-plus "></i>
                                </a>
                            </div>
                        </div>
                        <div uib-collapse="!showPaymentDetails">
                            <div class="form-group">
                                <label class="control-label col-sm-3"
                                    for="accountNumber">{{'label.input.accnum' | translate}}</label>

                                <div class="col-sm-3">
                                    <input id="accountNumber" type="text" ng-model="formData.accountNumber"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="checkNumber">{{'label.input.checknumber' |
                            translate}}</label>

                                <div class="col-sm-3">
                                    <input id="checkNumber" type="text" ng-model="formData.checkNumber"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="routingCode">{{'label.input.routingcode' |
                            translate}}</label>

                                <div class="col-sm-3">
                                    <input id="routingCode" type="text" ng-model="formData.routingCode"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="receiptNumber">{{'label.input.receiptnumber' |
                            translate}}</label>

                                <div class="col-sm-3">
                                    <input id="receiptNumber" type="text" ng-model="formData.receiptNumber"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3"
                                    for="bankNumber">{{'label.input.banknumber' | translate}}</label>

                                <div class="col-sm-3">
                                    <input id="bankNumber" type="text" ng-model="formData.bankNumber"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="showAnnualAmountField">
                        <label class="control-label col-sm-3">{{'label.input.amount' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="amoun" type="number" name="amount" ng-model="formData.amount" required />
                            <span ng-show="savingccountactionform.amoun.$invalid">
                                <small class="error">
                                    {{'label.requiredfield' | translate}}
                                </small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="showNoteField">
                        <label class="control-label col-sm-3" for="note">{{'label.input.note' | translate}}</label>

                        <div class="col-sm-3">
                            <textarea rows="2" id="note" ng-model="formData.note" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group" ng-show="showAmountField">
                        <label class="control-label col-sm-3">{{ labelName | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="number" id="amount" ng-model="formData.amount" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group" ng-show="paymentDatefield">
                        <label class="control-label col-sm-3"
                            for="modelName">{{'label.input.paymentdate' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-datepicker id="{{modelName}}" ng-model="formData[modelName]" 
                                md-placeholder="{{'label.selecttodate' | translate}}">
                            </md-datepicker>
                        </div>
                    </div>
                    <div class="">
                        <md-button id="save1" wz-next class="md-raised md-primary pull-right" ng-show="isEntityDatatables">
                            {{'label.button.proceed' | translate}}
                        </md-button>
                        <div ng-hide="isEntityDatatables">
                            <div class="form-group" ng-show="showDelete || waiveCharge || inactivateCharge">
                                <label class="control-label col-sm-3">{{'label.areyousure' | translate }}</label>
                            </div>
                            <div class="col-md-12 center" ng-show="showDelete">
                                <md-button type="reset" ng-click="submit()" has-permission='{{taskPermissionName}}'
                                    class="md-raised md-primary">{{'label.button.confirm' | translate }}</md-button>
                                <md-button type="submit" ng-click="cancel()"
                                    class="md-raised">{{'label.button.cancel' | translate }}</md-button>
                            </div>

                            <div class="col-md-12 center" ng-hide="showDelete">
                                <md-button id="cancel" ng-click="cancel()"
                                    class="md-raised">{{'label.button.cancel' | translate }}</md-button>
                                <md-button id="save" type="submit" has-permission='{{taskPermissionName}}'
                                    class="md-raised md-primary">{{'label.button.save' | translate }}</md-button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </wz-step>
        <wz-step ng-if="isEntityDatatables" ng-repeat="datatable in datatables"
            wz-title="{{datatable.registeredTableName}}">
            <div class="card-content">
                <form class="form-horizontal form-extra">
                    <div ng-show="submittedDatatables.length>0" uib-alert type="success">
                        <span ng-repeat="table in submittedDatatables"><i class="fa fa-check"></i>Entry in ` {{table}} `
                            has been made successfully. If the inputs are changed, the datatable entries will be
                            updated.<br></span>
                    </div>
                    <fieldset>
                        <api-validate></api-validate>
                        <!--<legend>{{datatable.registeredTableName}}</legend>-->
                        <div class="form-group" ng-repeat="columnHeader in datatable.columnHeaders">
                            <label
                                class="control-label col-sm-3">{{ columnHeader.columnName | prettifyDataTableColumn }}
                                <span ng-show="!columnHeader.isColumnNullable" class="required">*</span>
                            </label>
                            <div class="col-sm-3">
                                <input ng-show="fieldType(columnHeader.columnDisplayType) == 'TEXT'" type="text"
                                    ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                    class="form-control" />
                                <md-datepicker 
                                    ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateType.date" 
                                    md-placeholder="{{'label.selecttodate' | translate}}"
                                    ng-show="fieldType(columnHeader.columnDisplayType) == 'DATE'"
                                    >
                                </md-datepicker>
                                <div ng-show="fieldType(columnHeader.columnDisplayType) == 'DATETIME'"
                                    class="form-inline">
                                    <div class="form-group">
                                        <md-datepicker 
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.date"
                                            md-placeholder="{{'label.selecttodate' | translate}}">
                                        </md-datepicker>
                                    </div>
                                    <div class="form-group">
                                        <input type="time" placeholder="HH:MM:SS"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName].dateTimeType.time"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div ng-show="fieldType(columnHeader.columnDisplayType) == 'BOOLEAN'">
                                    <label class="radio-inline">
                                        <input type="radio"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                            value="true" />
                                        {{'label.input.true' | translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                            ng-model="entityformData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                            value="false" />
                                        {{'label.input.false' | translate}}
                                    </label>
                                </div>
                                <span data-ng-switch on="columnHeader.columnDisplayType">
                                    <md-select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                        data-ng-switch-when="CODELOOKUP"
                                        ng-model="formData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                        placeholder="{{'label.menu.selectone' | translate}}">
                                        <md-option ng-repeat="columnValue in columnHeader.columnValues" ng-value="columnValue.id">
                                            {{columnValue.value | translate}}
                                        </md-option>
                                    </md-select>
                                    <md-select ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                        data-ng-switch-when="CODEVALUE"
                                        ng-model="formData.datatables[datatables.indexOf(datatable)].data[columnHeader.columnName]"
                                        placeholder="{{'label.menu.selectone' | translate}}">
                                        <md-option ng-repeat="columnValue in columnHeader.columnValues" ng-value="columnValue.value">
                                            {{columnValue.value | translate}}
                                        </md-option>
                                    </md-select>
                                </span>
                            </div>
                        </div>
                        <div class="pull-right" ng-if="!$last">
                            <md-button id="save4" type="submit" class="md-raised md-primary" wz-next>
                                {{'label.button.proceed' | translate}}
                            </md-button>
                        </div>
                        <div class="col-md-offset-5" ng-if="$last">
                            <div class="form-group" ng-show="showDelete || showwaiveforspecicficduedate">
                                <label class="control-label col-sm-3">{{'label.areyousure' | translate}}</label>
                            </div>
                            <div class="col-md-offset-2" ng-show="showDelete || showwaiveforspecicficduedate">
                                <md-button type="reset" ng-click="cancel()" class="md-raised">{{'label.button.cancel' | translate}}
                                </md-button>
                                <md-button type="submit" has-permission='{{taskPermissionName}}' class="md-raised md-primary" wz-next
                                    class="btn btn-sm btn-primary">{{'label.button.confirm' | translate}}
                                </md-button>
                            </div>
                            <div class="col-md-offset-2" ng-hide="showDelete || showwaiveforspecicficduedate">
                                <md-button id="cancel" type="reset" class="md-raised" ng-click="cancel()">{{'label.button.cancel' |
                                    translate}}
                                </md-button>
                                <md-button id="save" type="submit" has-permission='{{taskPermissionName}}' wz-next
                                    class="md-raised md-primary">{{'label.button.save' | translate}}
                                </md-button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>