<div class="content-container" ng-controller="CreateProvisoningEntriesController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#!/viewprovisioningentries">{{'label.anchor.viewprovisioningeentries' | translate}}</a></li>
        <li class="active">{{'label.anchor.createprovisioningeentries' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <form name="createprovisioningentryform" novalidate="" class="form-horizontal form-extra"
                ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset style="padding-top: 50px; padding-bottom: 20px;">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="submittedOnDate">
                            {{'label.input.date.of.provisioningcriteria' | translate}}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-datepicker id="submittedOnDate" ng-model="submitteddate" min="'2000-01-01'"
                                max="restrictDate"></md-datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <md-checkbox ng-model="formData.createjournalentries">
                                {{'label.createjournalentries' | translate }}</md-checkbox>
                        </div>
                    </div>
                    <div class="col-sm-12 center">
                        <md-button id="save" type="submit" class="md-raised md-primary"
                            has-permission='CREATE_PROVISIONING_ENTRIES'>
                            {{'label.button.save' | translate}}
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>