<div class="content-container" ng-controller="CreateExchangeRateController">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#!/exchangerates">{{'label.anchor.exchangerates' | translate}}</a></li>
        <li class="active">{{'label.anchor.createexchangerate' | translate}}</li>
    </ul>

    <form name="newexchangerateform" novalidate="" rc-submit="submit()" class="card form-horizontal well">
        <api-validate></api-validate>
        <fieldset>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="name">{{'label.input.exchangeratename' | translate}}<span
                            class="required">*</span> &nbsp;
                        <i class="fa fa-question-circle" uib-tooltip="{{'label.tooltip.exchangeratename' | translate}}"
                            tooltip-append-to-body="true"></i>
                    </label>
                </div>
                <div class="col-sm-3">
                    <input name="name" type="text" id="name" ng-model="formData.name" class="form-control" required
                        late-Validate />
                    <form-validate valattributeform="newexchangerateform" valattribute="name" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-3">
                    <md-checkbox ng-model="formData.isActive">
                        {{'label.input.active' | translate }} <i class="fa fa-question-circle"
                        uib-tooltip="{{'label.tooltip.isActive' | translate}}"></i>
                     </md-checkbox>
                </div>
            </div>

            <md-divider></md-divider>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="bolder">{{'label.heading.ratevalues' | translate}}
                        &nbsp;<i class="fa fa-question-circle" uib-tooltip="{{'label.tooltip.ratevalues' | translate}}"
                            tooltip-append-to-body="true"></i>
                    </label>
                </div>
                <div class="col-sm-3">
                    <md-button id="add" ng-click="addRateValue()" class="md-raised md-primary" name="add"><i
                            class="fa fa-plus"></i> {{'label.button.add' | translate}}</md-button>
                </div>
            </div>
            <br>
            <table class="table width80" ng-show="formData.rateValues.length>0">
                <tr class="graybg" class="width50">
                    <th>{{'label.heading.fromdate' | translate}}
                        <span class="required">*</span>
                        &nbsp;<i class="fa fa-question-circle"
                            uib-tooltip="{{'label.tooltip.exchangefromdate' | translate}}"></i></th>
                    <th>{{'label.heading.exchangetrate' | translate}}
                        <span class="required">*</span>
                        &nbsp;<i class="fa fa-question-circle"
                            uib-tooltip="{{'label.tooltip.floatigannualinterest' | translate}}"></i></th>
                    <th> {{'label.heading.actions' | translate}}</th>
                </tr>
                <tr ng-repeat="ratevalue in formData.rateValues">
                    <td>
                        <ng-form name="fromDate{{$index}}">
                            <md-datepicker id="fromDate{{$index}}" ng-model="ratevalue.fromDate"
                                md-placeholder="{{'label.selecttodate' | translate}}" md-min-date="'2000-01-01'"
                                md-max-date="restrictDate" required>
                            </md-datepicker>
                            <span class="error"
                                ng-show="visitValidation&&fromDate{{$index}}.fromDate.$error.required">{{'label.requirefield' | translate }}</span>
                        </ng-form>
                    </td>
                    <td>
                        <ng-form name="interestRate{{$index}}">
                            <input id="interestRate{{$index}}" name="interestRate" class="form-control" type="text"
                                ng-model="ratevalue.interestRate" required />
                            <span class="error"
                                ng-show="visitValidation&&interestRate{{$index}}.interestRate.$error.required">{{'label.requirefield' | translate }}</span>
                        </ng-form>
                    </td>
                    <td>
                        <div class="col-sm-3 col-sm-offset-3">
                            <md-checkbox id="isDifferentialToBaseLendingRate" name="isDifferentialToBaseLendingRate" 
                            ng-model="ratevalue.isDifferentialToBaseLendingRate">
                            </md-checkbox> 
                         </div>
                    </td>
                    <td>
                        <a ng-click="deleteRateValue($index)"><i class="fa fa-times-circle fa-2x"></i></a>
                    </td>
                </tr>
            </table>
            <div class="col-md-offset-4">
                <md-button id="cancel" href="#!/exchangerates" type="reset" class="md-raised">{{'label.button.cancel' | translate}}</md-button>
                <md-button id="save" type="submit" ng-click="visitValidation=true" class="md-raised md-primary"
                    has-permission='CREATE_EXCHANGERATE'>{{'label.button.save' | translate}}
                </md-button>
            </div>
        </fieldset>
    </form>
</div>