<div class="content-container" ng-controller="ViewFloatingRateController">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#!/exchangerates">{{'label.anchor.exchangerates' | translate}}</a></li>
        <li class="active">{{'label.anchor.exchangerate' | translate}}</li>
    </ul>

    <form name="newexchangerateform" novalidate="" class="card form-horizontal well">
        <api-validate></api-validate>
        <fieldset>
            <div class="btn-group pull-right">
                <a href="#!/editexchangerate/{{id}}" class="btn btn-sm btn-primary" has-permission='UPDATE_FLOATINGRATE'><i class="fa fa-edit "></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</a>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">{{'label.input.exchangeratename' | translate}}:&nbsp;</label>
                    <label class="control-label">{{name}}</label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="name1" ng-model="isActive" disabled/>
                    <label class="control-label" >{{'label.input.active' | translate}}</label>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-sm-5">
                    <h3 class="bolder">{{'label.heading.ratevalues' | translate}}
                    </h3>
                </div>
            </div>

            <BR>
            <table class="table width80" ng-show="rateValues.length>0">
                <tr class="graybg">
                    <th>{{'label.heading.fromdate' | translate}}</th>
                    <th>{{'label.heading.interestrate' | translate}}</th>
                </tr>
                <tr ng-repeat="ratevalue in rateValues |orderBy:'ratevalue.fromDate'">
                    <td>
                        <label class="control-label">{{ratevalue.fromDate | DateFormat}}</label>
                    </td>
                    <td>
                        <label class="control-label">{{ratevalue.exchangeRate | FormatNumber}}</label>
                    </td>
                    <td>
                        <input id="isDifferentialToBaseLendingRate" name="isDifferentialToBaseLendingRate"  type="checkbox"
                               ng-model="ratevalue.isDifferentialToBaseLendingRate" disabled/>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>