<div class="content-container" ng-controller="AddLoanChargeController">
    <ul class="breadcrumb">
        <li><a href="#!/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.addloancharge' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <form class="form-horizontal form-extra" novalidate="" name="loanchargeform" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <legend>{{'label.heading.addloancharge' | translate }}</legend>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="chargeId">{{'label.input.charge' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-select ng-model="formData.chargeId" id="chargeId" ng-change="selectCharge(formData.chargeId)" required
                                placeholder="{{'label.selectcharge' | translate}}">
                                <md-option ng-repeat="charge in chargeOptions" ng-value="charge.id">
                                    {{charge.name}} - {{charge.currency.name | translate}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    <div ng-hide="isCollapsed">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="amount">{{'label.input.amount' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <input id="amount" type="number" class="form-control" name="amount" ng-model="formData.amount" required>
                            </div>
                            <div class="col-sm-3">
                                <span ng-show="loanchargeform.amount.$invalid">
                                  <small class="error">
                                      {{'label.requiredfield' | translate }}
                                  </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.chargecalculation' | translate }}</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" value="{{chargeData.chargeCalculationType.value | translate}}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.chargetime' | translate }}</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" value="{{chargeData.chargeTimeType.value | translate}}" readonly>
                            </div>
                        </div>
                        <div class="form-group" ng-show="chargeData.chargeTimeType.id==2">
                            <label class="control-label col-sm-2">{{'label.input.dueon' | translate }}<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <md-datepicker id="dueforcollectedon" ng-model="formData.dueDate" 
                                    md-placeholder="{{'label.input.duedate' | translate}}"
                                    md-min-date="minDate" md-max-date="'2030-06-22'">
                                </md-datepicker>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="col-md-12 center">
                    <md-button id="cancel" type="reset" class="md-raised" ng-click="cancel()">{{'label.button.cancel' | translate }}
                    </md-button>
                    <md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_LOANCHARGE' ng-show="!isCollapsed">{{'label.button.save' |
                        translate }}
                    </md-button>
                </div>
            </form>    
        </div>
    </div>
</div>