<div class="content-container" ng-controller="AssignLoanOfficerController">
    <ul class="breadcrumb">
        <li><a href="#!/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.assignloanofficer' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
        <div class="toolbar">
            <h4>{{'label.heading.assignloanofficer' | translate }}</h4>
        </div>
        <br/>
        <form class="form-horizontal form-extra" name="assignloanofficerform" novalidate="" ng-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="toLoanOfficerId">{{'label.input.toloanofficer' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-select id="toLoanOfficerId" ng-model="formData.toLoanOfficerId"
                            placeholder="{{'label.selectone' | translate}}">
                            <md-option ng-repeat="loanOfficer in loanOfficers" ng-value="loanOfficer.id">
                                {{loanOfficer.displayName}}
                            </md-option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="assignmentDate">{{'label.input.assignmentdate' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-datepicker id="assignmentDate" ng-model="formData.assignmentDate" 
                            md-placeholder="{{'label.selectdate' | translate}}"
                            min="minDate" max="restrictDate">
                        </md-datepicker>
                    </div>
                </div>
                <div class="col-md-12 center">
                    <md-button id="cancel" type="reset" class="md-raised" ng-click="cancel()">
                        {{'label.button.cancel' | translate}}
                    </md-button>
                    <md-button id="save" type="submit" ng-disabled="!assignloanofficerform.$valid" has-permission='BULKREASSIGN_LOAN' class="md-raised md-primary">
                        {{'label.button.save' | translate}}
                    </md-button>
                </div>
            </fieldset>
        </form>
        </div>
    </div>
</div>
