<div class="content-container" ng-controller="EditLoanChargeController">
    <ul class="breadcrumb">
        <li><a href="#!/viewloanaccount/{{loanId{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{'label.anchor.editloancharge' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.editloancharge' | translate }}</h4>
            </div>
            <br/>
            <form name="loanchargeform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="amount">{{'label.input.amount' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="amount" ng-autofocus="true" class="form-control" type="number" name="amount" 
                            ng-model="formData.amount" required />
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <md-button id="cancel" type="reset" class="md-raised" ng-click="cancel()">
                            {{'label.button.cancel' | translate}}
                        </md-button>
                        <md-button id="save" type="submit" ng-disabled="!loanchargeform.$valid" 
                            has-permission='UPDATE_LOANCHARGE' class="md-raised md-primary">
                            {{'label.button.save' | translate }}
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>