<div class="content-container" ng-controller="AccCoaController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.coa' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <api-validate></api-validate>
            <div class="toolbar">
                <h4>{{'label.heading.chartofaccounts' | translate}}</h4>
                <div class="pull-right">
                    <md-button md-no-ink class="md-primary" ng-show="isTreeView" ng-click="showTreeView()"><i class="fa fa-list "></i>&nbsp;&nbsp;{{'label.button.listview' | translate}}</md-button>
                    <md-button md-no-ink class="md-primary" ng-hide="isTreeView" ng-click="showTreeView()"><i class="fa fa-sitemap "></i>&nbsp;&nbsp;{{'label.button.treeview' | translate}}</md-button>
                    <md-button md-no-ink class="md-primary" href="#!/createglaccount" has-permission='CREATE_GLACCOUNT'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.addaccount' | translate}}</md-button>
                </div>
            </div>
            <div ng-hide="isTreeView">
                <div>
                    <md-input-container class="full-width">
                        <label >{{'label.input.filterbyAccountGlcodeAccounttype' | translate}}</label>
                         <input ng-model="filterText" type="text"
                         ng-keyup="filterText.length > 4 && $event.keyCode ==13 && onFilter()">
                         </md-input-container>
                </div>
                <br>
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                        <th md-column>{{'label.heading.acctype' | translate}}</th>
                        <th md-column>{{'label.heading.glcode' | translate}}</th>
                        <th md-column>{{'label.heading.account' | translate}}</th>
                        <th md-column>{{'label.heading.disabled' | translate}}?</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        
                    <tr  md-row dir-paginate="coadata in coadatas | orderBy:['type.value','glCode']| SearchFilter:filterText |  itemsPerPage: ChartsPerPage"></tr>
                        <td md-cell data-ng-click="routeTo(coadata.id)">{{coadata.type.value | translate}}</td>
                        <td md-cell data-ng-click="routeTo(coadata.id)">{{coadata.glCode}}</td>
                        <td md-cell  data-ng-click="routeTo(coadata.id)">{{coadata.name}}</td>
                        <td md-cell  data-ng-click="routeTo(coadata.id)">{{coadata.disabled | translate}}</td>
                        </tr>
                    </tbody>
                </table>

                <dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
            <div ng-show="isTreeView"  >
                <div ng-show="$root.tempNodeID >= 0" class="col-md-6 divscrollable" >
                    <table class="table table-bordered table-striped">
                            <tr>
                                <td>{{'label.heading.glcode' | translate }}</td>
                                <td ng-repeat="coadata in coadatas" ng-show="coadata.id == $root.tempNodeID">{{coadata.glCode}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.acctype' | translate }}</td>
                                <td ng-repeat="coadata in coadatas" ng-show="coadata.id ==  $root.tempNodeID">{{coadata.type.value | translate}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.accountusage' | translate }}</td>
                                <td ng-repeat="coadata in coadatas" ng-show="coadata.id ==  $root.tempNodeID">{{coadata.usage.value | translate}}</td>
                            </tr>
                    </table>
                </div>
                <div
                    data-angular-treeview="true"
                    data-tree-id="treeview"
                    data-tree-model="treedata"
                    data-node-id="id"
                    data-node-label="name"
                    data-node-children="children"
                    data-node-glCode="glCode">
                </div>
            </div>
            <br>
            <br>
            <br><br><br><br><br><br>
        </div>
    </div>
</div>
