<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#!/accounts_closure">{{'label.anchor.accountsclosure' | translate}}</a></li>
        <li class="active">{{'label.anchor.createclosure' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.heading.createclosure' | translate }}</h4>
    		</div>
    		<br/>
    		<form name="createclosureform" novalidate="" class="form-horizontal form-extra" ng-controller="AccountingClosureController"
    		      ng-submit="submit()">
    		    <api-validate></api-validate>
    		    <div class="form-group">
    		        <label class="control-label col-sm-2">{{'label.input.office' | translate }}<span class="required">*</span></label>
    		
    		        <div class="col-sm-3">
						<md-select  id="officeId" ng-model="formData.officeId"  ng-change="updateLastClosed(formData.officeId)" 
						placeholder="{{'label.selectoffice' | translate}}">
						  <md-option ng-repeat="office in offices" ng-value="office.id">
							  {{office.name}}
						  </md-option>
    		            </md-select>
                        <form-validate valattributeform="createclosureform" valattribute="officeId"/>
    		            <span ng-show="lastClosed">{{'label.input.previouslyclosedon' | translate }} - {{lastClosed | DateFormat}}</span>
    		        </div>
    		    </div>
    		
    		    <div class="form-group">
    		        <label class="control-label col-sm-2">{{'label.input.closingdate' | translate }}<span class="required">*</span></label>
    		        <div class="col-sm-3">
						<md-datepicker id="closingDate" ng-model="first.date" min="'2000-01-01'" max="restrictDate"></md-datepicker>
    		        </div>
    		    </div>
    		
    		    <div class="form-group">
    		        <label class="control-label col-sm-2">{{'label.input.comments' | translate }}</label>
    		
    		        <div class="col-sm-3">
    		            <textarea rows="2" ng-model="formData.comments" class="form-control"></textarea>
    		        </div>
    		    </div>
    		    <div class="col-md-12 center">
    		        <md-button id="cancel" href="#!/accounts_closure" class="md-raised">{{'label.button.cancel' | translate }}</md-button>
    		        <md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_GLCLOSURE'>{{'label.button.save' | translate }}</md-button>
    		    </div>
    		</form>
    	</div>
    </div>
</div>