<div class="col-md-12">
	<ul class="breadcrumb">
		<li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
		<li><a href="#!/accounting_coa">{{'label.anchor.coa' | translate}}</a></li>
		<li class="active">{{'label.anchor.createglaccount' | translate}}</li>
	</ul>

	<form name="createglaccountingform" novalidate="" class="form-horizontal well"
		ng-controller="AccCreateGLAccountController" ng-submit="submit()">
		<api-validate></api-validate>
		<fieldset>
			<legend>{{'label.heading.createglaccount' | translate}}</legend>
			<div class="form-group">
				<label class="control-label col-sm-3" for="type">{{'label.input.accounttype' | translate}}
				</label>
				<div class="col-sm-3">
					<md-select id="type" ng-model="formData.type" ng-change="changeType()" placeholder="{{'label.selectone' | translate}}">
					<md-option ng-repeat="accountType in accountTypes" ng-value="{{accountType.id}}">
                   {{accountType.code | translate}}
					</md-option>	
					</md-select>
				</div>
				<label class="control-label col-sm-2" for="parentId">{{'label.input.accounting.parent' | translate}}</label>
				<div class="col-sm-4">
					<md-autocomplete
						md-selected-item="selectedItem"
						md-search-text="searchText"
						md-selected-item-change="selectedItemChange(item)"
						md-items="item in querySearch(searchText)"
						md-item-text="getItemText(item)"
						md-min-length="4"
						md-escape-options="clear"
						placeholder="{{'label.accounting.selectparent' | translate}}"
						input-aria-labelledby="formData.parentId">
						<md-item-template>
							<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.glCode}} {{item.name}}</span>
						</md-item-template>
						<md-not-found>
							"{{searchText}}" {{'error.msg.not.found' | translate}}
						</md-not-found>
					</md-autocomplete>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">{{'label.input.glcode' | translate}}<span
						class="required">*</span></label>
				<div class="col-sm-3">
					<input type="text" id="glCode" name="glCode" ng-autofocus="true" ng-model="formData.glCode"
						class="form-control" required late-Validate />
					<form-validate valattributeform="createglaccountingform" valattribute="glCode" />
				</div>
				<label class="control-label col-sm-3">{{'label.input.accountname' | translate}}<span
						class="required">*</span></label>
				<div class="col-sm-3">
					<input id="name" type="text" name="name" ng-model="formData.name" class="form-control uppercase" required
						late-Validate />
					<form-validate valattributeform="createglaccountingform" valattribute="name" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 " for="usage">{{'label.input.accountusage' | translate}}</label>

				<div class="col-sm-3">
					<md-select id="usage" ng-model="formData.usage" placeholder="{{'label.selectone' | translate}}">
						<md-option ng-repeat="usageType in usageTypes" ng-value="{{usageType.id}}">
							{{usageType.value | translate}}
						</md-option>
					</md-select>
				</div>
				<label class="control-label col-sm-3" for="tagId">{{'label.input.tag' | translate}}</label>
				<div class="col-sm-3">
					<md-select id="tagId" ng-model="formData.tagId" placeholder="{{'label.selectone' | translate}}">
						<md-option ng-repeat=" type in types" ng-value="{{type.id}}">
                         {{type.name}}
						</md-option>
					</md-select> </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-1">
					<label class="checkbox right">
						<md-checkbox id="manualEntriesAllowed"  ng-model="formData.manualEntriesAllowed"> </md-checkbox>
					</label>
				</div>
				<label class="control-label col-sm-3 left" for="manualEntriesAllowed">{{'label.input.manualentriesallowed' |
	                translate}}</label>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3"
					for="description">{{'label.input.description' | translate}}</label>

				<div class="col-sm-8">
					<textarea id="description" name="description" ng-model="formData.description" rows="8" cols=""
						class="form-control uppercase"></textarea>
				</div>
			</div>
			<div class="col-md-12 center">
				<md-button id="cancel" ng-href="{{cancel}}" class="md-raised">{{'label.button.cancel' | translate}}</md-button>
				<md-button id="save" type="submit" class="md-raised md-primary"
					has-permission='CREATE_GLACCOUNT'>{{'label.button.save' | translate}}</md-button>
			</div>
		</fieldset>
	</form>
</div>