<div class="content-container" ng-controller="EditFinancialActivityMappingController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#!/financialactivityaccountmappings">{{'label.anchor.financialactivity.accountmappings' | translate}}</a></li>
        <li><a href="#!/viewfinancialactivitymapping/{{mapping.id}}">{{'label.anchor.viewfinancialmapping' | translate}}</a></li>
        <li class="active">{{'label.anchor.editfinancialmapping' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.edit.financial.activity.mapping' | translate}}</h4>
            </div>

            <br/>
            <form name="editfinancialmappingform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{'label.input.financial.activity.type' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-6">
                            <md-select id="financialActivityId" ng-model="formData.financialActivityId" ng-change="updateActivityOptions(formData.financialActivityId)">
                              <md-option ng-repeat="activityOption in financialActivityOptions" ng-value="activityOption.id">
                                       {{activityOption.name  | translate}}
                              </md-option>     
                            </md-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{'label.input.account' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-6">
                            <md-autocomplete
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-selected-item-change="selectedItemChange(item)"
                                md-items="item in querySearch(searchText)"
                                md-item-text="getItemText(item)"
                                md-min-length="4"
                                md-escape-options="clear"
                                placeholder="{{'label.accounting.select.one' | translate}}"
                                input-aria-labelledby="formData.glAccountId">
                                <md-item-template>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.glCode}} {{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    "{{searchText}}" {{'error.msg.not.found' | translate}}
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <md-button id="cancel" href="#!/viewfinancialactivitymapping/{{mapping.id}}" class="md-raised">{{'label.button.cancel'
                            | translate}}</md-button>
                        <md-button id="save" type="submit" class="md-raised md-primary" has-permission='UPDATE_FINANCIALACTIVITYACCOUNT'>
                            {{'label.button.save' | translate}}
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>