<div class="content-container" ng-controller="AccEditRuleController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#!/accounting_rules">{{'label.anchor.accountingrules' | translate}}</a></li>
        <li><a href="#!/viewaccrule/{{accountingRuleId}}">{{formData.name}}</a></li>
        <li class="active">{{'label.anchor.editaccountingrule' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.editaccountingrule' | translate }}</h4>
            </div>
            <br />
            <api-validate></api-validate>
            <form name="editaccountruleform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-3"
                            for="name">{{'label.input.accountingrulename' | translate }}<span class="required">*</span>
                        </label>
                        <div class="col-sm-3">
                            <input type="text" id="name" name="name" ng-model="formData.name"
                                class="form-control uppercase" required late-Validate />
                        </div>

                        <label class="control-label col-sm-3">{{'label.input.office' | translate }}<span
                                class="required">*</span>
                        </label>
                        <div class="col-sm-3">
                            <md-select ng-model="formData.officeId" id="officeId"
                                placeholder="{{'label.selectone' | translate}}">
                                <md-option ng-repeat="office in offices" ng-value="office.id">
                                    {{office.name}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">{{'label.input.description' | translate }}</label>

                        <div class="col-sm-9">
                            <textarea id="description" rows="2" ng-model="formData.description" class="form-control"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.affectedglentries' | translate }}</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="bolder center">{{'label.heading.debitaccountdetails' | translate }}</p>
                                    <label class="control-label">{{'label.input.debitruletype' | translate }} </label>
                                    <md-radio-group ng-model="debitRuleType" class="md-primary" ng-change="resetDebits()">
                                        <md-radio-button value="Account">&nbsp;{{'label.input.fixed' | translate}}</md-radio-button>
                                        <md-radio-button value="tags">&nbsp;{{'label.input.list' | translate}}</md-radio-button>
                                    </md-radio-group>
                                    <div ng-show="debitRuleType=='Account'" class="marginbuttontop25px">
                                        <md-select ng-model="formData.accountToDebit">
                                            <md-option ng-repeat="debitAccount in glAccounts"
                                                ng-value="debitAccount.id">
                                                {{debitAccount.glCode}} {{debitAccount.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                    <div ng-show="debitRuleType=='tags'" class="row">
                                        <div class="col-sm-5 col-md-5">
                                            <label
                                                class="control-label col-sm-12 center">{{'label.input.availabledebittags' | translate }}</label>
                                            <select ng-model="availableDebit" multiple class="form-control clear"
                                                ng-options="debitTag.name for debitTag in debitTagOptions"></select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 paddedtop25px" style="padding-left: 0px;">
                                            <md-button class="md-raised md-primary btn-list" data-ng-click="addDebitTag()"><i
                                                    class="fa fa-angle-double-right"></i></md-button>
                                            <md-button class="md-raised btn-list" data-ng-click="removeDebitTag()"><i
                                                    class="fa fa-angle-double-left"></i></md-button>
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            <label
                                                class="control-label col-sm-12 center">{{'label.input.selecteddebittags' | translate }}</label>
                                            <select ng-model="selectedDebit" multiple class="form-control clear"
                                                ng-options="dbTag.name for dbTag in formData.debitTags"></select>
                                        </div>
                                        <md-checkbox ng-model="formData.allowMultipleDebitEntries"> 
                                            {{'label.input.allowMultipleDebitEntries' | translate}}
                                        </md-checkbox>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="bolder center">{{'label.heading.creditaccountdetails' | translate }}</p>
                                    <label class="control-label">{{'label.input.creditruletype' | translate }}</label>
                                    <md-radio-group ng-model="creditRuleType" class="md-primary" ng-change="resetCredits()">
                                        <md-radio-button value="Account">{{'label.input.fixed' | translate}}</md-radio-button>
                                        <md-radio-button value="tags">{{'label.input.list' | translate}}</md-radio-button>
                                    </md-radio-group>
                                    <div ng-show="creditRuleType=='Account'" class="marginbuttontop25px">
                                        <md-select ng-model="formData.accountToCredit">
                                            <md-option ng-repeat="creditAccount in glAccounts"
                                                ng-value="creditAccount.id">
                                                {{creditAccount.glCode}} {{creditAccount.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                    <div ng-show="creditRuleType=='tags'" class="row">
                                        <div class="col-sm-5 col-md-5">
                                            <label
                                                class="control-label col-sm-12 center">{{'label.input.availablecredittags' | translate }}</label>
                                            <select ng-model="availableCredit" multiple class="form-control clear"
                                                ng-options="creditTag.name for creditTag in creditTagOptions"></select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 paddedtop25px" style="padding-left: 0px;">
                                            <md-button class="md-raised md-primary btn-list" data-ng-click="addCreditTag()"><i
                                                    class="fa fa-angle-double-right"></i></md-button>
                                            <md-button class="md-raised btn-list" data-ng-click="removeCreditTag()"><i
                                                    class="fa fa-angle-double-left"></i></md-button>
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            <label
                                                class="control-label col-sm-12 center">{{'label.input.selectedcredittags' | translate }}</label>
                                            <select ng-model="selectedCredit" multiple class="form-control clear"
                                                ng-options="crTag.name for crTag in formData.creditTags"></select>
                                        </div>
                                        <md-checkbox ng-model="formData.allowMultipleCreditEntries">
                                            {{'label.input.allowMultipleCreditEntries' | translate}}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 center">
                        <md-button id="cancel" href="#!/viewaccrule/{{accountingRuleId}}" class="md-raised">
                            {{'label.button.cancel' | translate }}</md-button>
                        <md-button id="save" type="submit" class="md-raised md-primary"
                            has-permission='UPDATE_ACCOUNTINGRULE'>{{'label.button.save' | translate }}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>