<div class="content-container" ng-controller="FinancialActivityMappingsController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.financialactivity.accountmappings' | translate}}</li>
    </ul>
    
    <div class="card well">
        <div class="row">
            <div class="pull-right paddedbottom20">
                <md-button md-no-ink class="md-primary" href="#!/addfinancialmapping" has-permission='CREATE_FINANCIALACTIVITYACCOUNT'>
                    <i class="fa fa-plus "></i> {{'label.button.define.new.financial.mapping' | translate}}</md-button>
            </div>
        </div>
        <md-divider></md-divider>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>{{'label.heading.financial.activity.type' | translate}}</th>
                    <th md-column>{{'label.heading.financial.activity.account.name' | translate}}</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="mapping in mappings" data-ng-click="routeTo(mapping.id)">
                    <td md-cell>{{mapping.financialActivityData.name | translate }}</td>
                    <td md-cell>{{mapping.glAccountData.glCode}} {{mapping.glAccountData.name}}</td>
                </tr>
                </tbody>
            </table>
    </div>    
</div>