<div class="content-container" ng-controller="DefineOpeningBalancesController">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.define.openingbalances' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.openingbalances' | translate}}</h4>
            </div>
            <br />
            <api-validate></api-validate>
            <form name="openingbalancesform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.office' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-2">
                        <md-select id="officeId" ng-model="formData.officeId"
                            placeholder="{{'label.selectoffice' | translate}}">
                            <md-option ng-repeat="office in offices" ng-value="office.id">
                                {{office.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <label class="control-label col-sm-2">{{'label.input.currency' | translate }}&nbsp;<span
                            class="required">*</span></label>
                    <div class="col-sm-2">
                        <md-select id="currencyCode" name="currency" ng-model="formData.currencyCode"
                            placeholder="{{'label.selectone' | translate}}">
                            <md-option ng-repeat="currency in currencyOptions" ng-value="currency.code">
                                {{currency.code}} {{currency.name | translate}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="col-md-2 center">
                        <md-button ng-click="retrieveOpeningBalances(formData.officeId, formData.currencyCode )"
                            class="md-raised md-primary"> {{'label.button.searchdata' | translate}} </md-button>
                    </div>
                </div>

                <div class="form-group" ng-show="data.contraAccount.name">
                    <label
                        class="control-label col-sm-3">{{'label.input.opening.balances.contra.account' | translate }}</label>

                    <div class="col-sm-3">
                        <label
                            class="control-label">{{data.contraAccount.glCode}} {{ data.contraAccount.name }}</label>
                    </div>

                    <label class="control-label col-sm-3">{{'label.input.date.of.opening.balances' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <md-datepicker ng-model="first.date" md-min-date="'2000-01-01'" md-max-date="restrictDate"> </md-datepicker>
                    </div>
                </div>

                <table md-table ng-show="allGls">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>{{'label.heading.type' | translate}}</th>
                            <th md-column>{{'label.heading.account' | translate}}</th>
                            <th md-column ng-if="totalDebitAmount > 0">{{'label.heading.debit' | translate}} :
                                {{totalDebitAmount | FormatNumber}}</th>
                            <th md-column ng-if="totalDebitAmount == 0">{{'label.heading.debit' | translate}} :
                                {{ allGls | AddUpTotalFor:'amount':'entryType.value':'DEBIT'  | FormatNumber}} </th>
                            <th md-column ng-if="totalCreditAmount > 0">{{'label.heading.credit' | translate}} :
                                {{totalCreditAmount | FormatNumber}}</th>
                            <th md-column ng-if="totalCreditAmount == 0">{{'label.heading.credit' | translate}} :
                                {{ allGls | AddUpTotalFor:'amount':'entryType.value':'CREDIT'  | FormatNumber}} </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="gl in allGls">
                            <td md-cell>
                                <span
                                    ng-show="allGls[$index].glAccountType.value != allGls[$index-1].glAccountType.value">
                                    {{gl.glAccountType.value | translate}}
                                </span>
                            </td>
                            <td md-cell>{{gl.glAccountCode}} {{gl.glAccountName}}</td>
                            <td md-cell><input type="text" only-number name="debits{{$index}}" ng-model="gl.debit"
                                    class="form-control" ng-change="keyPress()" /></td>
                            <td md-cell><input type="text" only-number name="credits{{$index}}" ng-model="gl.credit"
                                    class="form-control" ng-change="keyPress()" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 center" ng-show="data.contraAccount.name">
                    <md-button id="cancel" href="#!/accounting" class="md-raised">{{'label.button.cancel' | translate }}
                    </md-button>
                    <md-button id="save" type="submit" class="md-raised md-primary"
                        has-permission='DEFINEOPENINGBALANCE_JOURNALENTRY'>{{'label.button.save' | translate }}
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>