<md-dialog arial-label="{{data.id}}" style="width:600px; height:300px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'label.heading.reverse' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <api-validate></api-validate>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.comments' | translate}}</label>
                <textarea rows="4" ng-model="data.reverseComments"></textarea>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' | translate}}</md-button>
        <md-button class="md-raised md-primary" ng-click="reverse()">{{'label.button.reverse' | translate}}</md-button>
    </md-dialog-actions>
</md-dialog>