<div class="content-container" ng-controller="SearchTransactionController" xmlns="http://www.w3.org/1999/html">
    <ul class="breadcrumb">
        <li><a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.searchjournalentries' | translate}}</li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center">
                <div class="col-md-12 form" ng-show="isCollapsed">
                    <div class="col-md-12 form-group">
                        <div class="col-md-4 form-group">
                            <md-select id="glAccounts" ng-model="formData.glAccount"
                                placeholder="{{'label.input.selectaccountnameorcode' | translate}}">
                                <md-option ng-repeat="glAccount in glAccounts" ng-value="{{glAccount.id}}">
                                    {{glAccount.glCode}} {{glAccount.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-md-4 form-group">
                            <md-select id="officeId" ng-model="formData.officeId"
                                placeholder="{{'label.selectoffice' | translate}}">
                                <md-option ng-repeat="office in offices" ng-value="office.id">
                                    {{office.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-md-3 form-group">
                            <md-select id="filters" ng-model="formData.manualEntriesOnly"
                                placeholder="{{'label.selectfilter' | translate}}">
                                <md-option ng-repeat="filter in filters" ng-value="filter.value">
                                    {{'accounting.entry.' + filter.option | translate}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-md-1 form-group clear">
                            <md-button ng-click="clearFilters()" class="md-raised md-primary"><i class="fa fa-undo"></i>
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 form-group">
                        <h4 class="control-label ng-binding col-md-2">{{'label.heading.daterange' | translate}}</h4>
                        <br>
                        <div class="col-md-4 form-group">
                            <md-datepicker ng-model="date.first" min="minDate" max="maxDatePicker"
                                md-placeholder="{{'label.input.fromdate' | translate }}"></md-datepicker>
                        </div>
                        <div class="col-md-4 form-group">
                            <md-datepicker ng-model="date.second" min="'minDate'" max="maxDatePicker"
                                md-placeholder="{{'label.input.todate' | translate }}"> </md-datepicker>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 form-group">
                        <h4 class="control-label ng-binding col-md-4">{{'label.heading.transactionid' | translate}}</h4>
                        <br>
                        <div class="form-group col-md-4">
                            <input ng-model="formData.transactionId" type="text"
                                placeholder="{{'label.input.searchbytransaction' | translate}}"
                                class="form-control uppercase" />
                        </div>
                        <div class="form-group col-md-2">
                            <md-button ng-click="searchTransaction()" class="md-raised md-primary"
                                has-permission='READ_JOURNALENTRY'>{{'label.heading.search' | translate}} <i
                                    class="fa fa-search "></i></md-button>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>

                <div class="row">
                    <div class="col-md-12 pull-right" ng-show="!isCollapsed">
                        <md-button ng-click="isCollapsed = !isCollapsed" class="md-raised md-primary"><i
                                class="fa fa-chevron-down"></i>&nbsp;&nbsp;
                            {{'label.button.parameters' | translate }}
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>

                <div class="row">
                    <div class="col-md-12" ng-show="displayResults">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>{{'label.heading.entryid' | translate}}</th>
                                    <th md-column>{{'label.heading.office' | translate}}</th>
                                    <th md-column>{{'label.heading.transactiondate' | translate}}</th>
                                    <th md-column>{{'label.heading.transactionid' | translate}}</th>
                                    <th md-column>{{'label.heading.type' | translate}}</th>
                                    <th md-column>{{'label.heading.createdby' | translate}}</th>
                                    <th md-column>{{'label.heading.account' | translate}}</th>
                                    <th md-column>{{'label.heading.debit' | translate}}</th>
                                    <th md-column>{{'label.heading.credit' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="transaction in transactions.currentPageItems"
                                    data-ng-click="routeTo(transaction.transactionId)">
                                    <td md-cell>{{transaction.id}}</td>
                                    <td md-cell>{{transaction.officeName}}</td>
                                    <td md-cell>{{transaction.transactionDate |DateFormat}}</td>
                                    <td md-cell>{{transaction.transactionId}}</td>
                                    <td md-cell>{{transaction.glAccountType.value | translate}} </td>
                                    <td md-cell>{{transaction.createdByUserName}}</td>
                                    <td md-cell>{{transaction.glAccountCode}} {{transaction.glAccountName}}</td>
                                    <td md-cell>
                                        <div ng-show="transaction.entryType.value == 'DEBIT'">
                                            {{transaction.amount | FormatNumber}}
                                        </div>
                                    </td>
                                    <td md-cell>
                                        <div ng-show="transaction.entryType.value == 'CREDIT'">
                                            {{transaction.amount | FormatNumber}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="center"
                            ng-show="(formData.loanaccountId != null && isValid == true) || (formData.savingsaccountId != null && isValid == true)">
                            <a href="{{path}}" class="btn btn-sm btn-primary center"><i
                                    class=""></i>{{'label.button.back' | translate}}</a></div>
                        <ul class="pager">
                            <li class="btn btn-default btn-sm previous"><a id="prev" ng-click="transactions.previous()"
                                    href="" ng-disabled="!transactions.hasPrevious()">&larr;
                                    {{'label.button.previous' | translate}}</a>
                            </li>
                            <li class="btn btn-default btn-sm next"><a id="next" ng-click="transactions.next()" href=""
                                    ng-disabled="!transactions.hasNext()">{{'label.button.next' | translate}} &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </md-whiteframe>
        </div>
    </div>
</div>