<div class="content-container" ng-controller="ViewTransactionController">
  <ul class="breadcrumb" ng-if="productName == null">
    <li>
      <a href="#!/accounting">{{'label.anchor.accounting' | translate}}</a>
    </li>
    <li class="active">{{'label.anchor.viewtransaction' | translate}}</li>
  </ul>
  <ul class="breadcrumb" ng-if="productName != null">
    <li ng-if="groupId != null">
      <a href="#!/viewgroup/{{groupId}}">{{groupName}}</a>
    </li>
    <li ng-if="clientId != null">
      <a href="#!/viewclient/{{clientId}}">{{clientName}}</a>
    </li>
    <li ng-if="loanId != null">
      <a href="#!/viewloanaccount/{{loanId}}">{{productName}} ({{accountNo}})</a>
    </li>
    <li ng-if="savingId != null">
      <a href="#!/viewsavingaccount/{{savingId}}">{{productName}} ({{accountNo}})</a>
    </li>
    <li class="active">{{'label.anchor.journalentries' | translate}}</li>
  </ul>

  <div class="card">
    <div class="content">
      <div class="toolbar">
        <div class="col-md-11">
          <span>
            <strong class="h4">{{'label.heading.accounting.transactionnumber' | translate
              }} : {{transactionNumber}}</strong>
            <div class="pull-right" ng-show="manualEntry">
              <span class="required"
                data-ng-show="!flag"><strong>{{'label.transactionisreversedonce' | translate }}</strong></span>
              <div class="btn-group">
                <a data-ng-show="flag" ng-click="reverseTransaction(transactionNumber)" class="btn btn-sm btn-primary"
                  has-permission="REVERSE_JOURNALENTRY"><i
                    class="fa fa-undo"></i>&nbsp;&nbsp;{{'label.button.reverse' | translate}}</a>
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tr>
              <td class="width14">
                <label>{{'label.input.office' | translate}}</label>
              </td>
              <td class="width36">{{transactions[0].officeName}}</td>
              <td class="width19">
                <label>{{'label.heading.accounting.transactiondate' | translate}}</label>
              </td>
              <td class="width31">
                {{transactions[0].transactionDate | DateFormat}}
              </td>
            </tr>
            <tr>
              <td class="width14">
                <label>{{'label.createdby' | translate}}</label>
              </td>
              <td class="width36">{{transactions[0].createdByUserName}}</td>
              <td class="width19">
                <label>{{'label.accounting.createdon' | translate}}</label>
              </td>
              <td class="width31">
                {{transactions[0].createdDate | DateFormat}}
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'label.heading.entryid' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.account' | translate}}</th>
                <th>{{'label.heading.debit' | translate}}</th>
                <th>{{'label.heading.credit' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="transaction in transactions" ng-click="showTransaction($event, transaction)">
                <td class="pointer">
                  {{transaction.id}}
                </td>
                <td class="pointer">
                  {{transaction.glAccountType.value | translate}}
                </td>
                <td class="pointer">
                  ({{transaction.glAccountCode}}) {{transaction.glAccountName}}
                </td>
                <td class="pointer">
                  <div ng-show="transaction.entryType.value == 'DEBIT'">
                    {{transaction.currency.displaySymbol}}&nbsp;{{transaction.amount
                    | FormatNumber}}
                  </div>
                </td>
                <td class="pointer">
                  <div ng-show="transaction.entryType.value == 'CREDIT'">
                    {{transaction.currency.displaySymbol}}&nbsp;{{transaction.amount
                    | FormatNumber}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="center" ng-if="loadId">
          <a href="#!/viewloanaccount/{{loanId}}" class="md-primary center"><i
              class=""></i>{{'label.button.back' | translate}}</a>
        </div>
        <div class="center" ng-if="savingId">
          <a href="#!/viewsavingaccount/{{savingId}}" class="md-primary center"><i
              class=""></i>{{'label.button.back' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>