<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.processes' | translate}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#!/mediarequest">
                            <h4 class="list-group-item-heading"><i class="fa fa-folder fa fa-large"></i>&nbsp;{{'label.heading.processes.mediarequest' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.process.mediarequest' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#!/disbursement" >
                            <h4 class="list-group-item-heading"><i class="fa fa-dollar fa fa-large"></i>&nbsp;{{'label.heading.processes.disbursement' | translate}}</h4>
                            <p class="list-group-item-text">{{ 'label.process.disbursement' |  translate}}</p>
                        </a>
                        <a class="list-group-item" href="#!/conciliation" >
                            <h4 class="list-group-item-heading"><i class="fa fa-bar-chart-o fa fa-large"></i>&nbsp;{{
                                'label.heading.processes.conciliation' | translate}}</h4>
                            <p class="list-group-item-text">{{ 'label.process.conciliation' | translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">        
                    <div class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>