<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.processes' | translate}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <p>Hi</p>
                </div>
                <div class="col-sm-6">        
                    <div class="list-group">
                        <p>HIIII</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>