<div class="content-container">
	<ul class="breadcrumb">
		<li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#!/holidays">{{'label.anchor.manageholidays' | translate}}</a></li>
		<li class="active">{{'label.anchor.createholiday' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.createholiday' | translate}}</h4>
			</div>
			<br>
			<form name="addholidayform" novalidate="" class="form-horizontal form-extra"
				ng-controller="AddHolController" ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.name' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
								class="form-control uppercase" required />
							<form-validate valattributeform="addholidayform" valattribute="name" />
						</div>
					</div>
					<div class="form-group">
						<div>
							<label class="control-label col-sm-3">{{'label.input.fromdate' | translate }}<span
									class="required">*</span></label>

							<div class="col-sm-3">
								<md-datepicker id="fromDate" ng-model="date.first"
									md-placeholder="{{'label.selecttodate' | translate}}" min="minDate"
									max="maxDatePicker" required>
								</md-datepicker>
								<span class="error"
									ng-if="firstError">{{'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
								<form-validate valattributeform="addholidayform" valattribute="fromDate" />
							</div>
						</div>
						<div>
							<label class="control-label col-sm-1">{{'label.input.todate' | translate }}<span
									class="required">*</span></label>

							<div class="col-sm-3">
								<md-datepicker id="toDate" ng-model="date.second"
									md-placeholder="{{'label.selecttodate' | translate}}" min="minDate"
									max="maxDatePicker" required>
								</md-datepicker>

								<span class="error"
									ng-if="secondError">{{'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label
							class="control-label col-sm-3">{{'label.heading.repaymentscheduleing.rule' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<md-select id="repaymentSchedulingRuleType" name="schedulingRule"
								ng-model="reschedulingType" ng-change="selectRescheduleType(reschedulingType)" required
								placeholder="{{'label.selectone' | translate}}">
								<md-option ng-repeat="repaymentSchedulingRule in repaymentSchedulingRules"
									ng-value="repaymentSchedulingRule.id">
									{{repaymentSchedulingRule.value | translate}}
								</md-option>
							</md-select>
							<form-validate valattributeform="addholidayform" valattribute="schedulingRule" />
						</div>
						<label class="control-label col-sm-3" ng-show="reschedulingType == specificRescheduleType">
							{{'label.input.repaymentsheduleto' | translate }}
							<span class="required">*</span></label>

						<div class="col-sm-3" ng-show="reschedulingType == specificRescheduleType">
							<md-datepicker id="toDate" ng-model="date.third"
								md-placeholder="{{'label.selecttodate' | translate}}" min="minDate"
								max="maxDatePicker">
							</md-datepicker>
							<span class="error"
								ng-if="thirdError">{{'validation.msg.holiday.date.cannot.be.past.date' | translate }}</span>
							<form-validate valattributeform="addholidayform" valattribute="repaymentsRescheduledTo" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.description' | translate }}</label>

						<div class="col-sm-8">
							<textarea type="text" id="description" ng-model="formData.description" rows="3"
							class="form-control uppercase" ng-pattern="/(^[A-z])[A-z.'-]*/" required maxlength="100" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.applicableoffices' | translate }}<span
								class="required">*</span></label>

						<div data-angular-treeview="true" data-tree-id="holidaytreeview" data-tree-model="treedata"
							data-node-id="id" data-node-label="name" data-node-children="children">
						</div>
					</div>
					<div class="col-md-12 center">
						<md-button id="cancel" class="md-raised" href="#!/holidays">
							{{'label.button.cancel' | translate}}</md-button>
						<md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_HOLIDAY'>
							{{'label.button.save' | translate}}
						</md-button>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</div>