<div class="content-container">

	<ul class="breadcrumb">
		<li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#!/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
		<li class="active">{{'label.anchor.createoffice' | translate}}</li>
	</ul>

	<div class="card ">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.createoffice' | translate}}</h4>
			</div>
			<br />
			<form name="createofficeform" novalidate="" class="form-horizontal form-extra"
				ng-controller="CreateOfficeController" ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>

					<div class="form-group row">
						<label class="control-label col-sm-2">{{'label.input.office' | translate }}
							<span class="required">*</span>
						</label>

						<div class="col-sm-4">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
								class="form-control uppercase" required late-Validate />
							<form-validate valattributeform="createofficeform" valattribute="name" />
						</div>
					</div>

					<div class="form-group row">
						<label class="control-label col-sm-2">{{'label.input.parentoffice' | translate }}
							<span class="required">*</span>
						</label>

						<div class="col-sm-4">
							<md-select id="parentId" ng-model="formData.parentId"
								placeholder="{{'label.selectone' | translate}}">
								<md-option ng-repeat="office in offices" ng-value="office.id">
									{{office.name}}
								</md-option>
							</md-select>
						</div>
					</div>

					<div class="form-group row">
						<label class="control-label col-sm-2">{{'label.input.office.cityid' | translate }}
							<span class="required">*</span>
						</label>
						<div class="col-sm-4">
							<md-select id="city" ng-model="formData.city" 
								placeholder="{{'label.selectone' | translate}}">
								<md-option ng-repeat="placeOffice in placeOffices"
									ng-value="placeOffice.name">
									{{placeOffice.name}}
								</md-option>
							</md-select>

						</div>
					</div>


					<div class="form-group row">
						<label class="control-label col-sm-2">{{'label.input.office.branchid' | translate }}</label>

						<div class="col-sm-4">
							<input id="branchId" type="text" name="branchId" class="form-control"
								ng-model="formData.branch" />
						</div>
					</div>

					<div class="form-group row">
						<label class="control-label col-sm-2">{{'label.input.externalid' | translate }}</label>

						<div class="col-sm-4">
							<input id="externalId" type="text" name="externalId" class="form-control"
								ng-model="formData.externalId" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">{{'label.input.openedon' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-4">
                            <md-datepicker id="openingDate" name="openingDate" ng-model="first.date"
								md-placeholder="{{'label.selecttodate' | translate}}" required
								md-min-date="minDatePicker" md-max-date="restrictDate">
                            </md-datepicker>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2"
							for="officePhoneNumber">{{'label.input.mobileNumber' | translate}}<span
								class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" id="officePhoneNumber" name="officePhoneNumber" required
								ng-model="formData.officePhoneNumber" ng-pattern="\d{50}" class="form-control"
								maxlength="10" />
						</div>
					</div>
					<blockquote class="divider">
						{{'label.input.address' | translate }}
					</blockquote>
					<div class="col-sm-8 col-md-8">
						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.postal_code' | translate }}
								<span class="required">*</span></label>
							<div class="col-sm-6">
								<input type="text" id="postal_code" minlength="5" maxlength="5" ng-model="address.postalCode" class="form-control">
							</div>
						</div>

						<!-- <div class="form-group row">
							<div class="control-label col-sm-3">
								<label>{{'label.input.addressType' | translate }}
									<span class="required">*</span></label>
							</div>
							<div class="col-sm-6">
								<md-select id="addressType" ng-model="address.addressTypeId">
									<md-select-header>
										<span> {{'label.input.addressType' | translate }} </span>
									</md-select-header>
									<md-option ng-repeat="addressType in addressTypes" ng-value="addressType.id">
										{{addressType.name}}
									</md-option>
								</md-select>
							</div>
							<div class="col-sm-3">
								<form-validate valattributeform="createofficeform" valattribute="addressType" />
							</div>
						</div> -->
						<div class="form-group row">
							<div class="control-label col-sm-3">
								<label>{{'label.input.street' | translate }}<span class="required">*</span></label>
							</div>
							<div class="col-sm-6">
								<input type="text" name="street" ng-model="address.street" class="form-control" />
							</div>
							<div class="col-sm-3">
								<form-validate valattributeform="createofficeform" valattribute="street" />
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.addressline1' | translate}}
								<span class="required">*</span></label>
							<div class="col-sm-6">
								<input type="text" name="addressline1" ng-model="address.addressLine1"
									class="form-control" />
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.addressline2' | translate}}</label>
							<div class="col-sm-6">
								<input type="text" name="addressline2" ng-model="address.addressLine2"
									class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.addressline3' | translate}}
								<span class="required">*</span></label>
							<div class="col-sm-6">
								<input type="text" name="addressline3" ng-model="address.addressLine3"
									class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.city' | translate}}
								<span class="required">*</span></label>
							<div class="col-sm-6">
								<input type="text" name="city" ng-model="address.city" class="form-control uppercase" />
							</div>
						</div>

						<div class="form-group row">
							<div class="control-label col-sm-3">
								<label>{{'label.input.state_province' | translate}}<span
										class="required">*</span></label>
							</div>
							<div class="col-sm-6">
								<md-select class="form-control" id="stateOptions" ng-model="address.stateProvinceId">
									<md-select-header>
										<span> {{'label.input.state_province' | translate }} </span>
									</md-select-header>
									<md-option ng-repeat="stateOption in stateOptions" ng-value="stateOption.id">
										{{stateOption.name}}
									</md-option>
								</md-select>
							</div>
						</div>
						<div class="form-group row">
							<div class="control-label col-sm-3">
								<label>{{'label.input.country' | translate}}<span class="required">*</span></label>
							</div>
							<div class="col-sm-6">
								<md-select cid="countryOptions" ng-model="address.countryId">
									<md-select-header>
										<span> {{'label.input.country' | translate }} </span>
									</md-select-header>
									<md-option ng-repeat="countryOption in countryOptions" ng-value="countryOption.id">
										{{countryOption.name}}
									</md-option>
								</md-select>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.latitude' | translate}}
								<span class="required">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" name="latitude" ng-model="address.latitude" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-sm-3">{{'label.input.longitude' | translate}}
								<span class="required">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" name="longitude" ng-model="address.longitude" class="form-control">
							</div>
						</div>
						<div class="form-group row" ng-show="isActive">
							<div class="col-sm-6 col-sm-offset-3">
								<md-checkbox id="addressIsActive" ng-model="address.isActive">
									{{'label.input.active' | translate}}
								</md-checkbox>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div id='map'></div>
						<div id='buscador'>
							<input type="text" name="direccion" value="" id="direccion" size="10" />
							<md-button class="md-raised md-primary" ng-click="direccion_buscador();">Buscador
							</md-button>
							<div>
								<ul>
									<li ng-repeat="address in addressresult" ng-click="elegirdireccion(address)">
										<a>{{address.display_name}}<a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-12 center">
						<a id="cancel" href="#!/offices">
							<md-button type="reset" class="md-raised">{{'label.button.cancel' | translate}}</md-button>
						</a>
						<md-button id="save" ng-click="submit()" class="md-raised md-primary"
							has-permission='CREATE_OFFICE'>{{'label.button.save' | translate}}</md-button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>