<div class="content-container" ng-controller="CurrencyConfigController">
  <ul class="breadcrumb">
    <li>
      <a href="#!/organization">{{'label.anchor.organization' | translate}}</a>
    </li>
    <li class="active">{{'label.anchor.currencyconfig' | translate}}</li>
  </ul>
  <div class="card">
    <div class="content">
      <div class="col-sm-12 pull-right" ng-hide="hideview">
        <md-button aria-label="edit-currency" md-no-ink class="md-primary" has-permission="UPDATE_CURRENCY"
          ng-click="hideview = !hideview">
          <i class="fa fa-plus"></i> {{'label.button.addedit' | translate}}</md-button>
      </div>
      <br />
      <table md-table class="table" ng-hide="hideview">
        <thead md-head>
          <tr md-row class="graybg">
            <th md-column>{{'label.heading.currencycode' | translate}}</th>
            <th md-column>{{'label.heading.currencyname' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="currency in selectedCurrOptions | filter:filterText">
            <td md-cell>{{currency.code}}</td>
            <td md-cell>{{currency.name | translate}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-show="hideview">
        <br />
        <div class="row">
          <api-validate></api-validate>
          <br />
          <div class="col-sm-4 col-md-4">
            <input class="form-control input-xxlarge" id="new-currency" ng-model="selected"
              placeholder="{{'label.input.new.currency' | translate}}" type="text" ng-autofocus="true"
              autocomplete="off"
              uib-typeahead="item as item.displayLabel | translate for item in allCurrOptions | filter:$viewValue | limitTo:8"
              required />
          </div>
          <div class="col-sm-2 col-md-2">
            <md-button id="add-currency" ng-click="addCur()" has-permission="UPDATE_CURRENCY"
              class="btn btn-sm btn-primary">
              <i class="fa fa-plus"></i>
            </md-button>
          </div>
        </div>

        <md-divider></md-divider>
        <div ng-repeat="currency in selectedCurrOptions">
          <div class="row">
            <div class="col-sm-2 col-md-2">
              <label>{{currency.code}}</label>
            </div>
            <div class="col-sm-4 col-md-4">
              <label>{{currency.displayLabel | translate}}</label>
            </div>
            <div class="col-sm-2 col-md-2">
              <a ng-click="deleteCur(currency.code)" has-permission="UPDATE_CURRENCY"><i
                  class="fa fa-times-circle fa-2x"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-12 center">
          <md-button id="cancel" type="reset" ng-click="cancel()" class="md-raised">
            {{'label.button.cancel' | translate}}
          </md-button>
          <md-button id="save" type="submit" ng-click="submit()" has-permission="UPDATE_CURRENCY"
            class="md-raised md-primary">
            {{'label.button.save' | translate}}
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>