<div class="content-container">
	<ul class="breadcrumb">
		<li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#!/funds">{{'label.anchor.managefunds' | translate}}</a></li>
		<li class="active">{{'label.anchor.editfund' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.editfund' | translate}}</h4>
			</div>
			<br />
			<form name="editfundform" novalidate="" class="form-horizontal form-extra"
				ng-controller="EditFundController" ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.fundsource' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
								class="form-control" required late-Validate />
							<form-validate valattributeform="editfundform" valattribute="name" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.externalid' | translate }}</label>

						<div class="col-sm-3">
							<input id="externalId" type="text" name="externalId" ng-model="formData.externalId"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">{{'label.input.amount' | translate }}<span
								class="required">*</span></label>

						<div class="col-sm-3">
							<input id="amount" type="number" name="amount" ng-model="formData.amount"
								class="form-control" required late-Validate />
							<form-validate valattributeform="editfundform" valattribute="amount" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<md-checkbox ng-model="formData.active" ng-change="setChoice()">
								{{'label.input.active' | translate }}
							</md-checkbox>
						</div>
					</div>
					<div class="col-md-12 center">
						<a id="cancel" href="#!/funds">
							<md-button type="reset" class="md-raised">{{'label.button.cancel' | translate}}</md-button>
						</a>
						<md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_FUND'>
							{{'label.button.save' | translate}}</md-button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>