<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#!/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
        <li class="active">{{'label.anchor.editoffice' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<form name="editofficeform" novalidate="" class="form-horizontal form-extra" 
    			ng-controller="EditOfficeController"
    		      rc-submit="submit()">
    		    <api-validate></api-validate>
    		    <fieldset>
    		        <legend>{{'label.heading.editoffice' | translate}}</legend>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2" for="name">{{'label.input.office' | translate }}<span
    				                class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
    				                   class="form-control uppercase" required late-Validate/>
    				        </div>
    				        <div class="col-sm-3">
    				            <form-validate valattributeform="editofficeform" valattribute="name"/>
    				        </div>
    				    </div>
    				    <div class="form-group" data-ng-hide="parentId==id">
    				        <label class="control-label col-sm-2">{{'label.input.parentoffice' | translate }}<span class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <md-select  id="parentId" ng-model="formData.parentId" placeholder="{{'label.selectone' | translate}}">
									<md-option ng-repeat="office in offices" ng-value="office.id">
                                     {{office.name}}
									</md-option>
									</md-select>	
    				        </div>
						</div>

    				    <div class="form-group">
    				        <label class="control-label col-sm-2" for="city">{{'label.input.office.cityid' | translate }}<span
    				                class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <input id="city" ng-autofocus="true" type="text" name="city" ng-model="formData.city"
    				                   class="form-control uppercase" required late-Validate/>
    				        </div>
    				        <div class="col-sm-3">
    				            <form-validate valattributeform="editofficeform" valattribute="city"/>
    				        </div>
                        </div>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2" for="branch">{{'label.input.office.branchid' | translate }}</label>
    		
    				        <div class="col-sm-3">
    				            <input id="branch" ng-autofocus="true" type="text" name="branch" ng-model="formData.branch"
    				                   class="form-control" required late-Validate/>
    				        </div>
    				    </div>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2">{{'label.input.openedon' | translate }}<span
    				                class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
    				                   is-open="opened" min="minDate" max="restrictDate" class="form-control"/>
    				        </div>
    				    </div>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2">{{'label.input.externalid' | translate }}</label>
    		
    				        <div class="col-sm-3">
    				            <input id="externalId" type="text" name="externalId" ng-model="formData.externalId" class="form-control"/>
    				        </div>
    				    </div>
    				    <div class="col-md-12 center">
    				        <a id="cancel" href="#!/offices">
    				            <md-button type="reset" class="md-raised">{{'label.button.cancel' | translate}}</md-button>
    				        </a>
    				        <md-button id="save" type="submit" class="md-raised md-primary" has-permission='UPDATE_OFFICE'>{{'label.button.save' | translate}}</md-button>
    				    </div>
    		    </fieldset>
    		</form>
    	</div>
    </div>
</div>