<div class="content-container" ng-controller="EditEmployeeController">
        <ul class="breadcrumb">
            <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#!/employees">{{'label.anchor.manageemployees' | translate}}</a></li>
            <li><a href="#!/viewemployee/{{staffId}}">{{formData.firstname}}&nbsp;{{formData.lastname}}</a></li>
            <li class="active">{{'label.anchor.editemployee' | translate}}</li>
        </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.editemployee' | translate}}</h4>
            </div>
            <hr>
            <form name="editemployeeform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="officeId">{{'label.input.office' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-select id="officeId" ng-model="formData.officeId" placeholder="{{'label.selectone' | translate}}">
                                <md-option ng-repeat="office in offices" ng-value="office.id">
                                {{office.name | translate}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstname">{{'label.input.firstname' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" class="form-control" required
                                   late-Validate/>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="editemployeeform" valattribute="firstname"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastname">{{'label.input.lastname' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" class="form-control" required
                                   late-Validate/>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="editemployeeform" valattribute="lastname"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="surname">{{'label.input.surname' | translate }}</label>

                        <div class="col-sm-3">
                            <input type="text" id="surname" name="surname" ng-model="formData.surname" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="editemployeeform" valattribute="surname"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1 right">
                            <md-checkbox id="isLoanOfficer" ng-model="formData.isLoanOfficer">
                                {{'label.input.isLoanOfficer' | translate}}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobileNo' | translate }}</label>
                        <div class="col-sm-3">
                            <input type="text" id="mobileNo" class="form-control" ng-model="formData.mobileNo">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3 left">
                            <md-checkbox id="isActive" ng-model="formData.isActive">
                                {{'label.input.active' | translate}}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.joinedon' | translate }}</label>

                        <div class="col-sm-3">
                            <md-datepicker id="joiningDate" ng-model="formData.joiningDate" 
                                md-placeholder="{{'label.selecttodate' | translate}}"
                                min="minDate" max="restrictDate">
                            </md-datepicker>
                        </div>
                    </div>

                    <div class="col-md-12 center">
                        <md-button md-no-ink id="cancel" href="#!/viewemployee/{{staffId}}">{{'label.button.cancel' | translate}}
                        </md-button>
                        <md-button id="save" type="submit" class="md-raised md-primary" has-permission='UPDATE_STAFF'>{{'label.button.save' | translate}}</md-button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
