<div class="content-container" data-ng-controller="HolController">
    <ul class="breadcrumb">
        <li><a href="#!/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.manageholidays' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-md-5">
                    <md-select name="office" id="office" ng-model="formData.officeId"
                        ng-change="getHolidays()" required placeholder="{{'label.selectoffice' | translate}}">
                        <md-option ng-repeat="office in offices" ng-value="office.id">
                            {{office.name}}
                        </md-option>
                    </md-select>
                </div>
                <div class="col-md-7 pull-right">
                    <md-button md-no-ink href="#!/createholiday" class="btn btn-primary pull-right"
                        has-permission='CREATE_HOLIDAY'><i
                            class="fa fa-plus "></i>{{'label.button.createholiday' | translate}}</md-button>
                </div>
            </div>
            <br />
            <div class="">
                <span ng-show="creategroupform.office.$invalid && creategroupform.office.$dirty">
                    <small class="error" ng-show="creategroupform.office.$error.required">{{'label.requiredfield' |
                        translate}}</small>
                </span>
            </div>
            <br />
            <md-divider></md-divider>
            <md-table-container class="noscroll-x">
                <div class="row">
                    <div class="col-md-7">
                        <md-input-container class="full-width">
                            <label>{{'label.input.filterbyname' | translate}}</label>
                            <input ng-model="filter.search">
                        </md-input-container>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div class="row">
                    <div clas="col-sm-12">
                        <table md-table ng-model="selected" md-progress="promise">
                            <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column md-order-by="name">{{'label.heading.holidayname' | translate}}</th>
                                    <th md-column md-order-by="fromDate">{{'label.heading.startdate' | translate}}</th>
                                    <th md-column md-order-by="toDate">{{'endDateSelect' | translate}}</th>
                                    <th>{{'label.heading.repaymentsheduleto' | translate}}</th>
                                    <th md-column md-order-by="status">{{'label.heading.status' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="holiday in holidays | filter: customSearch | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" 
                                    ng-show="holiday.status.value != 'Deleted'" data-ng-click="routeTo(holiday.id)">
                                    <td md-cell>{{holiday.name}}</td>
                                    <td md-cell>{{holiday.fromDate | DateFormat}}</td>
                                    <td md-cell>{{holiday.toDate | DateFormat}}</td>
                                    <td md-cell
                                        ng-show="holiday.repaymentsRescheduledTo == undefined || holiday.repaymentsRescheduledTo == null">{{'label.nextrepaymentdate'
                            | translate}}</td>
                                    <td md-cell
                                        ng-show="holiday.repaymentsRescheduledTo != undefined && holiday.repaymentsRescheduledTo != null">{{holiday.repaymentsRescheduledTo
                            | DateFormat}}</td>
                                    <td md-cell>{{holiday.status.value | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-table-container>

            <md-table-pagination ng-show="holidays.length > query.limit" md-limit="query.limit"
                md-limit-options="[15,25,50]" md-page-select="options.pageSelector"
                md-boundary-links="options.boundaryLinks" md-page="query.page" md-total="{{holidays.length}}"
                md-on-paginate="getResultsPage" md-page-select>
            </md-table-pagination>
        </div>
    </div>
</div>