<div class="content-container">
  <ul class="breadcrumb">
    <li>
      <a href="#!/organization">{{'label.anchor.organization' | translate}}</a>
    </li>
    <li class="active">{{'label.anchor.passwordPreferences' | translate}}</li>
  </ul>
  <div class="card">
    <div class="content">
      <div class="toolbar">
        <h4>{{'label.heading.passwordPreferences' | translate}}</h4>
      </div>
      <br />
      <form
        class="form-horizontal form-extra"
        ng-controller="EditPasswordPreferencesController"
        ng-submit="submit()"
      >
        <api-validate></api-validate>
        <fieldset>
            <md-divider></md-divider>
            <md-radio-group ng-model="formData.validationPolicyId">
                <div flex ng-repeat="data in dataOptions">
                    <md-radio-button flex value="{{data.id}}">
                        {{'label.' + data.key | translate }}
                    </md-radio-button>
                </div>
            </md-radio-group>
          <br>
          <div class="col-md-12 center">
            <a href="#!/organization">
              <button type="reset" class="btn btn-sm btn-default">
                {{'label.button.cancel' | translate}}
              </button>
            </a>
            <button
              type="submit"
              class="btn btn-sm btn-primary"
              has-permission="UPDATE_PASSWORD_VALIDATION_POLICY"
            >
              {{'label.button.save' | translate}}
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
