<div class="content-container" data-ng-controller="AccountNumberPreferencesController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.account.number.preferences' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <a href="#!/addaccountnumberpreferences" class="btn btn-primary pull-right" has-permission='ADD_PREFERENCES'><i class="fa fa-plus "></i>
                        &nbsp;&nbsp;{{'label.button.account.number.addpreferences' | translate }}</a>
                </div>
            </div>
            <br/>
            <hr/>
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.account.number.entity' | translate }}</th>
                    <th>{{'label.heading.account.number.type' | translate }}</th>
                    <th>{{'label.heading.account.number.customformat' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" data-ng-repeat="preference in preferences">
                    <td class="pointer" data-ng-click="routeTo(preference.id)">{{preference["accountType"].value | translate}}</td>
                    <td class="pointer" ng-show="preference['customFormat'] == ''" data-ng-click="routeTo(preference.id)">{{'label.heading.account.number.prefix' | translate}}</td>
                    <td class="pointer" ng-show="preference['customFormat'] != ''" data-ng-click="routeTo(preference.id)">{{'label.heading.account.number.custom' | translate}}</td>
                    <td class="pointer" data-ng-click="routeTo(preference.id)">{{preference["customFormat"]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>