<div class="content-container" ng-controller="EditDataTableController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#!/datatables">{{'label.anchor.managedatatables' | translate}}</a></li>
        <li><a href="#!/viewdatatable/{{datatable.registeredTableName}}">{{datatable.registeredTableName}}</a></li>
        <li class="active">{{'label.anchor.editdatatable' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.editdatatable' | translate }}</h4>
            </div>
            <br />
            <form name="editdatatableform" novalidate="" class="form-horizontal form-extra" ng-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.datatablename' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="registeredTableName" type="text" value="{{datatable.registeredTableName}}"
                                class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.apptablename' | translate }}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <md-select id="apptableName" ng-model="formData.apptableName" name="apptable"
                                placeholder="{{'label.selectone' | translate}}" required>
                                <!--<md-option class="displaynone" value="">{{'label.selectone' | translate}}</md-option>-->
                                <md-option value="m_client">{{'label.client' | translate}}</md-option>
                                <md-option value="m_group">{{'label.group' | translate}}</md-option>
                                <md-option value="m_center">{{'label.center' | translate}}</md-option>
                                <md-option value="m_loan">{{'label.loan' | translate}}</md-option>
                                <md-option value="m_office">{{'label.office' | translate}}</md-option>
                                <md-option value="m_savings_account">{{'label.savingsaccount' | translate}}</md-option>
                            </md-select>
                            <form-validate valattributeform="createdatatableform" valattribute="apptable" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.addcolumns' | translate }}</label>

                        <div class="row">
                            <div class="col-sm-3">
                                <input name="columnname" ng-model="datatableTemplate.columnName" type="text"
                                    placeholder="{{'label.input.columnname' | translate}}" class="form-control" />
                            </div>
                            <div class="col-sm-3">
                                <md-select name="columnType" ng-model="datatableTemplate.columnType"
                                    placeholder="{{'label.selectcolumntype' | translate}}">&nbsp;&nbsp;
                                    <!--<md-option class="displaynone" value="">{{'label.selectcolumntype' | translate}}</md-option>-->
                                    <md-option value="String">{{'label.string' | translate}}</md-option>
                                    <md-option value="Number">{{'label.number' | translate}}</md-option>
                                    <md-option value="Decimal">{{'label.decimal' | translate}}</md-option>
                                    <md-option value="Boolean">{{'label.boolean' | translate}}</md-option>
                                    <md-option value="Date">{{'label.date' | translate}}</md-option>
                                    <md-option value="DateTime">{{'label.datetime' | translate}}</md-option>
                                    <md-option value="Text">{{'label.text' | translate}}</md-option>
                                    <md-option value="Dropdown">{{'label.dropdown' | translate}}</md-option>
                                </md-select>
                            </div>
                            <div class="col-sm-1">
                                <md-button class="md-raised md-primary" ng-click="addColumn()"><i
                                        class="fa fa-plus"></i></md-button>
                            </div>
                            <span ng-show="editdatatableform.columnname.$invalid || columnnameerror || columntypeerror">
                                <small class="error"
                                    ng-show="editdatatableform.columnname.$error.req || columnnameerror || columntypeerror">
                                    {{'label.'+labelerror | translate }}
                                </small>
                            </span>
                        </div>
                    </div>

                    <table ng-show="columns.length > 0" class="width100">
                        <tr class="form-group">
                            <td class="width11">
                                <label class="control-label col-sm-1">
                                    <h4>{{'label.heading.columns' | translate }}</h4>
                                </label>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td class="blockquoteresult width100">
                                <table md-table ng-show="columns.length > 0" class="table width100">
                                    <thead md-head>
                                        <tr md-row class="graybg">
                                            <th md-column>{{'label.heading.name' | translate}}</th>
                                            <th md-column>{{'label.heading.newname' | translate}}</th>
                                            <th md-column>{{'label.heading.type' | translate}}</th>
                                            <th md-column>{{'label.heading.mandatory' | translate}}</th>
                                            <th md-column>{{'label.heading.length' | translate}}</th>
                                            <th md-column>{{'label.heading.code' | translate}}</th>
                                            <th md-column>{{'label.heading.newcode' | translate}}</th>
                                            <th md-column>{{'label.heading.actions' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="column in columns">
                                            <td md-cell>
                                                <input ng-model="column.name" class="input-sm form-control" type="text"
                                                    placeholder="{{'label.input.columnname' | translate}}"
                                                    ng-readonly="column.originalName" />
                                            </td>
                                            <td md-cell>
                                                <input ng-model="column.newName" class="input-sm form-control"
                                                    type="text" placeholder="{{'label.input.columnname' | translate}}"
                                                    ng-show="column.originalName" />
                                            </td>
                                            <td md-cell>
                                                <md-select ng-model="column.type" ng-disabled="column.originalName"
                                                    required="required" ng-change="updateDepenedencies($index)">
                                                    <md-option class="displaynone" value="">
                                                        {{'label.selectcolumntype' | translate}}
                                                    </md-option>
                                                    <md-option value="String">{{'label.string' | translate}}</md-option>
                                                    <md-option value="Number">{{'label.number' | translate}}</md-option>
                                                    <md-option value="Decimal">{{'label.decimal' | translate}}
                                                    </md-option>
                                                    <md-option value="Boolean">{{'label.boolean' | translate}}
                                                    </md-option>
                                                    <md-option value="Date">{{'label.date' | translate}}</md-option>
                                                    <md-option value="DateTime">{{'label.datetime' | translate}}
                                                    </md-option>
                                                    <md-option value="Text">{{'label.text' | translate}}</md-option>
                                                    <md-option value="Dropdown">{{'label.dropdown' | translate}}
                                                    </md-option>
                                                </md-select>
                                            </td>
                                            <td md-cell class="paddedleft0 center">
                                                <md-checkbox ng-model="column.mandatory"></md-checkbox>
                                            </td>
                                            <td md-cell>
                                                <input ng-show="column.type == 'string'" ng-model="column.length"
                                                    type="text" only-number allow-decimal="false" maxlength="3" class="input-sm form-control" />
                                            </td>
                                            <td md-cell>
                                                <md-select ng-show="column.type == 'dropdown'" ng-model="column.code"
                                                    ng-disabled="column.originalName">
                                                    <md-option ng-repeat="code in codes | orderBy: name"
                                                        ng-value="code.name">{{code.name}}</md-option>
                                                </md-select>
                                            </td>
                                            <td md-cell>
                                                <md-select ng-show="column.type == 'dropdown'" ng-model="column.newCode"
                                                    ng-disabled="!column.originalName">
                                                    <md-option ng-repeat="code in codes | orderBy: name"
                                                        ng-value="code.name">{{code.name}}</md-option>
                                                </md-select>
                                            </td>
                                            <td md-cell align="center"><a ng-click="removeColumn($index)"><i
                                                        class="fa fa-times-circle fa-2x"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="col-md-12 center">
                        <a id="cancel" href="#!/datatables">
                            <button type="reset"
                                class="btn btn-sm btn-default">{{'label.button.cancel' | translate }}</button>
                        </a>
                        <button id="save" type="submit" class="btn btn-sm btn-primary"
                            has-permission='UPDATE_DATATABLE'>{{'label.button.save' | translate }}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>