<form class="content-container" name="editcodeform" novalidate=""
    ng-controller="EditCodeController" ng-submit="submit()">
        <ul class="breadcrumb">
            <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#!/codes">{{'label.anchor.managecodes' | translate}}</a></li>
            <li><a href="#!/viewcode/{{codeId}}">{{code.name}}</a></li>
            <li class="active">{{'label.anchor.addcodevalue' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.addcodevalue' | translate}}</h4>
            </div>
            <br/>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <input name="codevalue" ng-model="newEle.name" placeholder="{{'label.input.codevalue' | translate }}"
                               type="text" class="form-control uppercase" maxlength="45" />
                    </div>
                    <div class="col-sm-2">
                        <input name="position" ng-model="newEle.position" placeholder="{{'label.input.position' | translate }}"
                               type="text" only-number class="form-control"/>
                    </div>
                    <div class="col-sm-2">
                        <input name="score" ng-model="newEle.score" placeholder="{{'label.input.score' | translate }}"
                               type="text" only-number class="form-control"/>
                    </div>
                    <div class="col-sm-2">
                        <md-checkbox ng-model="newEle.isActive">
                            {{'label.input.active' | translate }}
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <textarea name="description" ng-model="newEle.description" placeholder="{{'label.input.description' | translate }}"
                               type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-3">
                        <md-button ng-click="addCv()" class="md-raised md-primary" has-permission='CREATE_CODEVALUE'><i
                                class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.add' |
                            translate }}</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>
