<div class="content-container" ng-controller="ReportsController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.managereports' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
                </div>
                <div class="col-md-6">
                    <a href="#!/createreport" class="btn btn-primary pull-right" has-permission='CREATE_REPORT'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createreport' | translate}}</a>
                </div>
            </div>
            <hr/>
            <md-divider></md-divider>
            <br>
            <md-table-container ng-show="reports.length > 0" class="noscroll-x">
                <div class="row">
                    <div class="col-md-7">
                        <md-input-container class="full-width">
                            <label>{{'label.input.filterbynameaccno' | translate}}</label>
                            <input ng-model="filter.search"> 
                        </md-input-container>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div class="row">
                    <div clas="col-sm-12">
                        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                            <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column md-order-by="reportName">{{'label.heading.reportname' | translate}}</th>
                                    <th md-column md-order-by="reportType">{{'label.heading.reporttype' | translate}}</th>
                                    <th md-column>{{'label.heading.reportsubtype' | translate}}</th>
                                    <th md-column>{{'label.heading.reportcategory' | translate}}</th>
                                    <th md-column>{{'label.heading.corereport' | translate}}</th>
                                    <th md-column>{{'label.heading.userreport' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr md-row ng-repeat="report in reports  | filter: customSearch | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" 
                                    md-select="client" md-select-id="name">
                                    <td md-cell>{{report.reportName | translate}}</td>
                                    <td md-cell>{{report.reportType | translate}}</td>
                                    <td md-cell>{{report.reportSubType | translate}}</td>
                                    <td md-cell>{{report.reportCategory | translate}}</td>
                                    <td md-cell>{{report.coreReport | translate}}</td>
                                    <td md-cell>{{report.useReport | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-table-container>

            <md-table-pagination ng-show="reports.length > query.limit" md-limit="query.limit" md-limit-options="[15,25,50]" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                md-page="query.page" md-total="{{totalReports}}" md-on-paginate="getResultsPage" md-page-select>
            </md-table-pagination>
        </div>
    </div>
</div>