<div class="content-container" ng-controller="SchedulerJobsController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.manageschedulerjobs' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
            <div class="row">
                <table class="table-condensed">
                    <tr>
                        <td><h3>
                            {{'label.heading.schedulerstatus' | translate}} :
                            <i class="fa fa-circle {{schedulerstatus | StatusLookup}}"></i>  
                            <strong>
                                {{'jobScheduler.' + schedulerstatus | translate}}
                            </strong> 
                        </h3></td>
                        <td></td>
                        <td>
                            <md-button class="md-raised md-danger" ng-show="schedulerstatus=='Active'" ng-click="suspendJobs()" has-permission='UPDATE_SCHEDULER'><i class="fa fa-times"></i> {{'label.button.suspend' | translate}}</md-button>
                            <md-button class="md-raised md-primary" ng-show="schedulerstatus=='Standby'" ng-click="activeJobs()" has-permission='UPDATE_SCHEDULER'><i class="fa fa-check"></i> {{'label.button.activate' | translate }}</md-button>
                        </td>
                    </tr>
                </table>
            </div>
            <hr ng-show="sentForExecution"/>
            <div class="row">
                <div class="col-md-12">
                    <table ng-show="sentForExecution" class="table-condensed">
                        <tr  class="graybg" ng-show="sentForExecution">
                            <th>{{'label.heading.jobssentforexecution' | translate}}<th>
                        </tr>
                        <tr ng-repeat="jobexecution in sentForExecution">
                            <td><i class="fa fa-check "></i>{{jobexecution}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-button id="run" md-no-ink class="md-primary" has-permission='EXECUTEJOB_SCHEDULER' ng-click="runSelectedJobs()"><i class="fa fa-play "></i> {{'label.button.runselectedjobs' | translate}}</md-button>
                    <md-button id="cancel" md-no-ink class="md-primary" ng-click="refresh()"><i class="fa fa-repeat "></i> {{'label.button.refresh' | translate}}</md-button>
                </div>
            </div>
            <hr ng-show="sentForExecution"/>
            <md-divider ng-show="sentForExecution"></md-divider>

            <div class="row" ng-show="jobs.length > 0">
                <div class="col-md-12">
                    <md-table-container class="noscroll-x">
                        <div class="row">
                            <div class="col-md-7">
                                <md-input-container class="full-width">
                                    <label>{{'label.input.filterbyname' | translate}}</label>
                                    <input ng-model="filter.search"> 
                                </md-input-container>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div clas="col-sm-12">
                                <table md-table multiple md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="small-font">
                                    <thead md-head md-order="query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="displayName">{{'label.heading.name' | translate}}</th>
                                            <th md-column md-order-by="nextRunTime">{{'label.heading.nextrun' | translate}}</th>
                                            <th md-column md-order-by="lastRunHistory.jobRunStartTime">{{'label.heading.previousrun' | translate}}</th>
                                            <th md-column>{{'label.heading.previousrunstatus' | translate}}</th>
                                            <th md-column md-order-by="currentlyRunning">{{'label.heading.currentlyrunning' | translate}}</th>
                                            <th md-column>{{'label.heading.errorlog' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="job" md-select-id="jobId" ng-repeat="job in jobs | filter: customSearch | orderBy: query.order">
                                            <td md-cell><a ng-click="routeTo(job.jobId)">{{job.displayName | translate}}</a></td>
                                            <td md-cell>{{job.nextRunTime | DateFormat : "yyyy-mm-dd h:mma"}}</td>
                                            <td md-cell>{{job.lastRunHistory.jobRunStartTime | DateFormat : "yyyy-mm-dd h:mma"}}</td>
                                            <td md-cell>
                                                <i class="fa fa-circle {{job.lastRunHistory.status | StatusLookup}}"></i> 
                                                {{'jobStatusType.' + job.lastRunHistory.status | translate}}</td>
                                            <td md-cell>{{job.currentlyRunning | YesOrNo}}</td>
                                            <td><md-button md-no-ink class="md-warning" ng-show="job.lastRunHistory.jobRunErrorLog" 
                                                ng-click="errorLog(job.jobId)" aria-label="{{'jobDetails' + job.id}}">
                                                <i class="fa fa-exclamation"></i></md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </md-table-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-button id="run" md-no-ink class="md-primary" has-permission='EXECUTEJOB_SCHEDULER' ng-click="runSelectedJobs()"><i class="fa fa-play "></i> {{'label.button.runselectedjobs' | translate}}</md-button>
                    <md-button id="cancel" md-no-ink class="md-primary" ng-click="refresh()"><i class="fa fa-repeat "></i> {{'label.button.refresh' | translate}}</md-button>
                </div>
            </div>
    	</div>
    </div>
</div>
