<div class="content-container" ng-controller="ViewReportController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a> </li>
        <li><a href="#!/reports">{{'label.anchor.managereports' | translate}}</a> </li>
        <li class="active">{{report.reportName}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <md-button href="#!/editreport/{{report.id}}" class="md-raised md-primary"
                            has-permission='UPDATE_REPORT'><i class="fa fa-edit "></i> {{'label.button.edit'
                            | translate}}</md-button>
                        <md-button type="button" class="md-raised" ng-show="noncoreReport" ng-click="deletereport()"
                            has-permission='DELETE_REPORT'><i
                                class="fa fa-trash-o"></i> {{'label.button.delete' | translate}}
                        </md-button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>{{report.reportName}}</h3>
                <table width="100%">
                    <tr>
                        <td width="20%">{{'label.heading.reporttype' | translate }}</td>
                        <td width="80%">{{report.reportType | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.reportsubtype' | translate }}</td>
                        <td>{{report.reportSubType | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.reportcategory' | translate }}</td>
                        <td>{{report.reportCategory | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.corereport' | translate }}</td>
                        <td>{{report.coreReport | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.usereport' | translate }}</td>
                        <td>{{report.useReport | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="deletenoncorereport.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.confirm.delete.value' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' | translate}}</md-button>
            <md-button class="md-raised md-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</md-button>
        </div>
    </script>
</div>