<div class="content-container" ng-controller="ViewSchedulerJobController">
        <ul class="breadcrumb">
            <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#!/jobs">{{'label.anchor.manageschedulerjobs' | translate}}</a></li>
            <li class="active">{{job.displayName | translate}}</li>
        </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <md-button md-no-ink href="#!/editschedulerjob/{{job.jobId}}" class="md-primary"><i class="fa fa-edit"></i> {{'label.button.edit' | translate}}</md-button>
                        <md-button md-no-ink href="#!/viewhistory/{{job.jobId}}" class="md-primary"><i class="fa fa-calendar"></i> {{'label.button.viewhistory' | translate}}</md-button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="horizontal-form">
                <table class="table" width="100%">
                    <tr>
                        <th width="30%">{{'label.heading.jobname' | translate }}</th>
                        <td width="70%">{{job.displayName}}</td>
                    </tr>
                    <tr>
                        <th width="30%">{{'label.heading.description' | translate }}</th>
                        <td width="70%">{{job.displayName | translate}}</td>
                    </tr>
                    <tr>
                        <th>{{'label.heading.cronexpression' | translate }}</th>
                        <td>{{job.cronExpression}}</td>
                    </tr>
                    <tr>
                        <th>{{'label.heading.isactivejob' | translate }}</th>
                        <td>{{job.active | translate}}</td>
                    </tr>
                    <tr>
                        <th>{{'label.heading.follow' | translate }}</th>
                        <td><a href="http://www.cronmaker.com" target="_blank">{{'label.anchor.clickheretogeneratecron' |
                            translate}}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
          