<div class="content-container" ng-controller="ViewDataTableController">
    <ul class="breadcrumb">
        <li><a href="#!/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#!/datatables">{{'label.anchor.managedatatables' | translate}}</a></li>
        <li class="active">{{datatable.registeredTableName}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{datatable.registeredTableName}}</h4> {{datatable.description}}
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-3">
                        <strong>{{'label.heading.associatedwith' | translate}}: </strong>{{datatable.applicationTableName | translate}}
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-3">
                        {{'label.heading.scoringWeight' | translate}} {{datatable.scoringWeight | FormatNumber}} %
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <div class="form-group">
                            <md-button href="#!/editdatatable/{{datatable.registeredTableName}}" class="md-raised md-primary" has-permission='UPDATE_DATATABLE'><i
                                    class="fa fa-edit "></i>&nbsp;&nbsp;{{'label.button.edit' | translate}}</md-button>
                            <md-button type="button" class="md-warn" ng-click="deleteTable()" has-permission='DELETE_DATATABLE'><i
                                    class="fa fa-trash-o "></i> {{'label.button.delete' | translate}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table" ui:sortable>
                <thead>
                <tr>
                    <th>{{'label.heading.fieldname' | translate}}</th>
                    <th>{{'label.heading.type' | translate}}</th>
                    <th>{{'label.heading.length' | translate}}</th>
                    <th>{{'label.heading.code' | translate}}</th>
                    <th>{{'label.heading.mandatory' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="column in datatable.columnHeaderData">
                        <td>{{column.columnName}}</td>
                        <td>{{column.columnDisplayType}}</td>
                        <td>{{column.columnLength}}</td>
                        <td>{{column.columnCode}}</td>
                        <td>{{!column.isColumnNullable}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <script type="text/ng-template" id="deletetable.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.confirm.delete.value' | translate}}</h3>
                </div>
                <div class="modal-body ">
                    <api-validate></api-validate>
                    <br>
                    <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' | translate}}</md-button>
                    <md-button class="md-raised md-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</md-button>
                </div>
        </script>
    </div>
</div>
