<div class="content-container" ng-controller="ChargeController">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li class="active">{{'label.anchor.charges' | translate}}</li>
    </ul>
    
    <div class="card well">
        <div class="toolbar">
        <h4>{{'label.listof.charges' | translate}}</h4>
        </div>
        <br>
        <div class="row">
        <div class="col-md-10 col-sm-9">
                <input ng-model="filterText" type="text" class="form-control" ng-keyup="onFilter()" placeholder="{{'label.input.filterbyname' | translate}}">
            </div>
            <div class="col-md-2 col-sm-3 paddedbottom20">
                <md-button md-no-ink class="md-primary" href="#!/createcharge" has-permission='CREATE_CHARGE'>
                    <i class="fa fa-plus "></i> {{'label.button.createcharge' | translate}}</md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-table-container>
            <table md-table ng-model="charges" md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column>{{'label.heading.name' | translate}}</th>
                        <th md-column>{{'label.heading.chargeappliesto' | translate}}</th>
                        <th md-column>{{'label.heading.currency' | translate}}</th>
                        <th md-column>{{'label.heading.chargetimetype' | translate}}</th>
                        <th md-column>{{'label.heading.chargecalculationtype' | translate}}</th>
                        <th md-column>{{'label.heading.ispenalty' | translate}}</th>
                        <th md-column>{{'label.heading.status' | translate}}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="charge in charges | orderBy:'name':reverse" 
                        data-ng-click="routeTo(charge.id)" md-select="charge" md-select-id="name">
                        <td md-cell>{{charge.name}}</td>
                        <td md-cell>{{charge.chargeAppliesTo.code | translate }}</td>
                        <td md-cell>{{charge.currency.code}} {{charge.currency.name | translate}}</td>
                        <td md-cell>{{charge.chargeTimeType.value | translate}}</td>
                        <td md-cell>{{'charge.type.' + charge.chargeCalculationType.value | translate}}</td>
                        <td md-cell>{{charge.penalty | translate}}</td>
                        <td md-cell>
                            <i class="fa fa-circle {{'charges.StatusType.active.' + charge.active | StatusLookup}}" uib-tooltip="{{'label.tooltip.charges.active.' + charge.active | translate}}" tooltip-placement="right"></i> 
                            <small>[{{'label.tooltip.charges.active.' + charge.active | translate}}]</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>