<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h5>{{'label.heading.products' | translate}}</h5>
            </div>
            <br>
            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                <div class="col-md-6 col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item no-border" href="#!/loanproducts" has-permission='READ_LOANPRODUCT'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-briefcase fa fa-large"></i>&nbsp;&nbsp;{{
                                        'label.anchor.loanproducts' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.addnewloanproductor' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/savingproducts" has-permission='READ_SAVINGSPRODUCT'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                        'label.anchor.savingproducts' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.addnewsavingproductor' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/shareproducts" has-permission='READ_SHAREPRODUCT'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                        'label.anchor.shareproducts' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.addnewshareproductor' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/charges" has-permission='READ_CHARGE'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                        'label.anchor.charges' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.definecharges' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/exchangerates" has-permission='READ_FLOATINGRATE'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                        'label.anchor.exchangerates' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.defineexchangerates' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item no-border" href="#!/productmix" has-permission='READ_PRODUCTMIX'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-random"></i>&nbsp;&nbsp;{{
                                        'label.anchor.productsmix' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.definesrulesfortakingmul' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/fixeddepositproducts" has-permission='READ_FIXEDDEPOSITPRODUCT'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading">
                                        <i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                        'label.anchor.fixeddepositproducts' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.fixeddepositproduct.def' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/recurringdepositproducts" has-permission='READ_RECURRINGDEPOSITPRODUCT'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                        'label.anchor.recurringdepositproducts' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.recurringdepositproduct.def' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/taxconfiguration" has-permission='READ_TAXGROUP'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-cogs fa fa-large"></i>&nbsp;&nbsp;
                                        {{'label.anchor.managetaxconfigurations' | translate}}</h5>
                                    <p class="list-group-item-text">{{'label.view.taxconfiguration' |
                                        translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                        <a class="list-group-item no-border" href="#!/floatingrates" has-permission='READ_FLOATINGRATE'>
                            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" layout layout-align="center center"> 
                                <span>
                                    <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                        'label.anchor.floatingrates' | translate }}</h5>
                                    <p class="list-group-item-text">{{'label.definefloatingrates' | translate}}</p>
                                </span> 
                            </md-whiteframe>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>