<div id="menubarContainer" layout="row" ng-cloak>
    <md-toolbar md-theme="mifos" layout="row" layout-align="space-between left" >
        <div class="md-toolbar-tools" style="width:100%;">
            <div ng-show="!showSearchBar()" class="menus" layout-wrap layout="row" layout-fill layout-align="space-between left" style="min-height:70px;width:100%;">
                <div layout="row" layout-align="left left" style="width:100%;">
                    <!--The left side is hidden when the screen size is larger than small -->
                    <md-button class="menu" hide-gt-sm><i class="fa fa-bars"></i></md-button>

                    <a class="navbar-brand" href="#!/home">
                        <img src="./images/logo_header.png" alt="">
                    </a>
                    <!-- CLIENTS -->
                    <md-menu>
                        <md-button ng-href="#!/clients" has-permission='READ_CLIENT'>
                        <i class="fa fa-users"></i> {{'label.anchor.clients' | translate }}
                    </md-button>
                    </md-menu>
                    <!-- ACCOUNTING -->
                    <md-menu>
                        <md-button ng-href="#!/accounting" has-permission='READ_ACCOUNTING'>
                        <i class="fa fa-calculator"></i> {{'label.anchor.accounting' | translate }}
                    </md-button>
                    </md-menu>
                    <md-menu>
                        <md-button aria-label="Reports menu" ng-mouseenter="$mdMenu.open()" ng-click="$mdMenu.open()">
                            <i class="fa fa-bar-chart-o"></i> {{'label.anchor.reports' | translate }}
                        </md-button>
                        <md-menu-content width="6" ng-mouseleave="$mdCloseMenu()">
                            <md-menu-item>
                                <md-button ng-href="#!/reports/all">
                                    <i class="fa fa-bar-chart-o"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.all' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/reports/clients">
                                    <i class="fa fa-users"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.clients' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/reports/loans">
                                    <i class="fa fa-money"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.loans' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/reports/savings">
                                    <i class="fa fa-money"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.savings' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/reports/accounting">
                                    <i class="fa fa-calculator"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.accounting' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/reports/funds">
                                    <i class="fa fa-money"></i> 
                                    <span md-menu-align-target>{{'label.reports.type.funds' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <md-button ng-mouseenter="$mdMenu.open()" ng-click="$mdMenu.open()">
                            <i class="fa fa-user-shield"></i> {{'label.anchor.admin' | translate }}
                        </md-button>
                        <md-menu-content width="4" ng-mouseleave="$mdCloseMenu()">
                            <md-menu-item>
                                <md-button ng-href="#!/users" has-permission='READ_USER'>
                                    <i class="fa fa-users"></i> {{'label.anchor.users' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/organization">
                                    <i class="fa fa-building"></i> {{'label.anchor.organization' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/system">
                                    <i class="fa fa-cogs"></i> {{'label.anchor.system' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/products">
                                    <i class="fa fa-money"></i> {{'label.anchor.products' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/templates" has-permission='READ_TEMPLATE'>
                                    <i class="fa fa-file"></i> {{'label.anchor.templates' | translate }}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>  
                    </md-menu>
                    <span flex></span>
                    <md-menu>
                        <md-button md-offset="0 -7" aria-label="search menu" class="md-icon-button" ng-click="showSearchBar()">
                            <i class="fa fa-search"></i>
                        </md-button>
                    </md-menu>
                    <md-menu>
                        <md-button aria-label="notifications menu" class="md-icon-button" ng-href="#!/notifications">
                            <i class="fa fa-bell"></i>
                        </md-button>
                    </md-menu>
                    <md-menu>
                        <md-button aria-label="Settings menu" class="md-icon-button" ng-mouseenter="$mdMenu.open()" ng-click="$mdMenu.open()">
                            <i class="fa fa-ellipsis-v"></i>
                        </md-button>
                        <md-menu-content width="4" ng-mouseleave="$mdCloseMenu()">
                            <md-menu-item>
                                <md-button ng-href="#!/profile">
                                    <i class="fa fa-user"></i> {{'label.anchor.profile' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="#!/usersetting">
                                    <i class="fas fa-user-cog"></i> {{'label.anchor.settings' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    <i class="fa fa-power-off"></i> {{'label.anchor.logout' | translate }}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content> 
                    </md-menu>

                </div>
            </div>
            <!-- Search bar -->
            <div ng-show="showSearchBar()" class="md-toolbar-tools search-bar">
                <md-button class="md-icon-button" ng-click="search()">
                    <md-icon>search</md-icon>
                </md-button>

                <md-input-container flex>
                    <input id="search" type="text" ng-model="search.query" placeholder="{{'label.search.text'|translate}}"/>
                </md-input-container>

                <md-button class="md-icon-button" ng-click="endSearch()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>
