<div class="footStyle">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-5" align="left">
            <div class="row">
                <img id="logo" src="images/logo_footer.png">
            </div>
            <div class="row">
                <p>Banco del Bienestar<br>
                    Av. Rio Magdalena Núm. 115, Col. Tizapán San Ángel, del Álvaro<br>
                    Obregón, C. P. 01090, Ciudad de México.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>