<div class="footStyle">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-5" align="left">
            <div class="row">
                <img id="logo" src="images/logo_footer.png">
            </div>
            <div class="row">
                <p>Banco del Ahorro Nacional y Servicios Financieros S. N. C.<br>
                    Av. Rio Magdalena Núm. 115, Col. Tizapán San Ángel, del Álvaro<br>
                    Obregón, C. P. 01090, Ciudad de México.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <ul>
                    <li class="nav-item" role="presentation"><a href=" https://www.gob.mx/privacidadintegral" target="_black">Aviso legal y privacidad</a></li>
                    <li class="nav-item" role="presentation"><a href="https://www.gob.mx/bancodelbienestar/acciones-y-programas/debicuenta" target="_black">Comisiones</a></li>
                    <li class="nav-item" role="presentation"><a href="http://www.bansefi.gob.mx/trans1/Paginas/inicio2.aspx" target="_black">Transparencia</a></li>
                    <li role="presentation" class="nav-item"><a href="https://www.gob.mx/condusef" target="_black">CONDUSEF</a></li>
                </ul>
            </div>
            <div class="row">
                <div id="socialNetwork" class="col-md-12">
                    <div class="col-md-8">
                        <p>©2020 Banco del Ahorro Nacional y Servicios Financieros SNC.<br>
                            Banca Electrónica Banco del Bienestar. Derechos reservados.</p>
                    </div>
                    <div class="col-md-4">
                        <div id="icon-network">
                            <a href="https://www.facebook.com/bancobienestar/" target="_blank">
                                <img src="images/facebook.jpg" style="cursor: pointer;">
                            </a>
                            <a href="https://twitter.com/bansefi" target="_blank">
                                <img src="images/twitter.jpg" style="cursor: pointer;">
                            </a>
                            <a href="https://www.youtube.com/channel/UCgH0WTJ_bxyqGtSlbGJ84eQ" target="_blank">
                                <img src="images/youtube.jpg" style="cursor: pointer;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>