<div class="content-container" ng-controller="TaskController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.tasks' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.heading.pendingtasks' | translate}}</h4>
            </div>
            <br>
            <div class="">
                <fieldset>
                    <api-validate></api-validate>
                    <md-tabs md-dynamic-height md-border-bottompersistent-tab class="full-width"
                        md-selected="selectedIndex">

                        <!-- Banca Social-->
                        <md-tab has-permission='ALL_FUNCTIONS_READ'>
                            <md-tab-label>{{'label.heading.task.promotion' | translate}}</md-tab-label>
                            <md-tab-body>
                                <div class="blockoverlay" style="overflow-y: scroll">
                                    <!-- <div uib-collapse="isCollapsed" class="blockoverlay" style="overflow-y: scroll"> -->
                                    <div class="form-group">
                                        <md-datepicker id="date.from" ng-model="date.from"
                                            md-placeholder="{{'label.input.fromdate' | translate}}"
                                            md-min-date="minDatePicker" md-max-date="maxDatePicker">
                                        </md-datepicker>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <md-datepicker id="date.todate" ng-model="date.to"
                                                md-placeholder="{{'label.input.todate' | translate}}"
                                                md-min-date="date.from" md-max-date="maxDatePicker">
                                            </md-datepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <md-select class="uppercase" ng-model="formData.clientStatus"
                                                class="form-control" placeholder="{{'label.selectstatus' | translate}}">
                                                <md-option class="uppercase" value="0">{{'label.all' | translate}}
                                                </md-option>
                                                <md-option class="uppercase" value="310">
                                                    {{'clientStatusType.validated' | translate}}
                                                </md-option>
                                                <md-option class="uppercase" value="300">
                                                    {{'clientStatusType.invalid.plus.valid'| translate}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <md-select class="uppercase" ng-model="formData.entity" class="form-control"
                                                placeholder="{{'label.selectentity' | translate}}">
                                                <md-option class="uppercase" value="0">{{'label.all' | translate}}
                                                </md-option>

                                                <md-option value="ACAPULCO DE JUAREZ">ACAPULCO DE JUAREZ</md-option>
                                                <md-option value="BENITO JUAREZ">BENITO JUAREZ</md-option>
                                                <md-option value="CENTRO">CENTRO</md-option>
                                                <md-option value="CULIACAN">CULIACAN</md-option>
                                                <md-option value="ECATEPEC DE MORELOS">ECATEPEC DE MORELOS</md-option>
                                                <md-option value="GUADALAJARA">GUADALAJARA</md-option>
                                                <md-option value="GUSTAVO A. MADERO">GUSTAVO A. MADERO</md-option>
                                                <md-option value="LEON">LEON</md-option>
                                                <md-option value="HERMOSILLO">HERMOSILLO</md-option>
                                                <md-option value="IZTAPALAPA">IZTAPALAPA</md-option>
                                                <md-option value="JUAREZ">JUAREZ</md-option>
                                                <md-option value="LAZARO CARDENAS">LAZARO CARDENAS</md-option>
                                                <md-option value="MERIDA">MERIDA</md-option>
                                                <md-option value="MEXICALI">MEXICALI</md-option>
                                                <md-option value="MONTERREY">MONTERREY</md-option>
                                                <md-option value="NEZAHUALCOYOTL">NEZAHUALCOYOTL</md-option>
                                                <md-option value="PUEBLA">PUEBLA</md-option>
                                                <md-option value="TIJUANA">TIJUANA</md-option>
                                                <md-option value="TUXTLA GUTIERREZ">TUXTLA GUTIERREZ</md-option>
                                                <md-option value="VERACRUZ">VERACRUZ</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <span><a ng-click="searchSocialBank()" class="btn btn-sm btn-primary"><i
                                                class="fa fa-search"></i>{{'label.button.advancesearch' | translate}}</a>
                                        <br /><br />
                                    </span>
                                </div>
                                <script type="text/ng-template" id="deletechecker.html">
                                    <div class="modal-header silver">
                                        <h3 class="bolder">{{'label.heading.confirm.delete.value' | translate}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <api-validate></api-validate>
                                        <br>
                                        <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' |
                                            translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="delete()">{{'label.button.confirm' |
                                            translate}}
                                        </md-button>
                                    </div>
                                </script>
                                <script type="text/ng-template" id="approvechecker.html">
                                    <div class="modal-header silver">
                                        <h3 class="bolder">{{'label.heading.approve' | translate}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <api-validate></api-validate>
                                        <br>
                                        <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' |
                                            translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="approve()">{{'label.button.confirm' |
                                            translate}}
                                        </md-button>
                                    </div>
                                </script>
                                <div ng-show="searchData">
                                    <table md-table class="table">
                                        <thead md-head md-order="query.order">
                                            <tr md-row class="graybg">
                                                <th md-column md-order-by="loanId">{{'label.heading.id' | translate}}
                                                </th>
                                                <th md-column md-order-by="orderDate">
                                                    {{'label.heading.applicationdate' | translate}}</th>
                                                <th md-column>{{'label.heading.status' | translate}}</th>
                                                <th md-column md-order-by="clientName">
                                                    {{'label.heading.client' | translate}}</th>
                                                <th md-column md-order-by="city">
                                                    {{'label.heading.municipality' | translate}}</th>
                                                <th md-column md-order-by="note">{{'label.heading.note' | translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-click="routeToClient(data.clientId)"
                                                ng-repeat="data in searchedSocialBanks | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                                <td md-cell>{{data.loanId}}</td>
                                                <td md-cell>{{data.submittedDate | DateFormat}}</td>
                                                <td md-cell>{{data.clientStatus.code | translate}}</td>
                                                <td md-cell>{{data.clientName}}</td>
                                                <td md-cell>{{data.city}}</td>
                                                <td md-cell>{{data.note}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <md-table-pagination ng-show="searchedSocialBanks.length > query.limit"
                                        md-limit="query.limit" md-limit-options="[10, 25, 40, 60, 80, 100]"
                                        md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                                        md-total="{{searchedSocialBanks.length}}" md-page="query.page"
                                        md-on-paginate="search" md-page-select></md-table-pagination>
                                </div>
                            </md-tab-body>
                        </md-tab>

                        <!-- Crédito -->
                        <md-tab has-permission='ALL_FUNCTIONS_READ'>
                            <md-tab-label>{{'label.heading.task.credit' | translate}}</md-tab-label>
                            <md-tab-body>
                                <div class="blockoverlay" style="overflow-y: scroll">
                                    <!-- <div uib-collapse="isCollapsed" class="blockoverlay" style="overflow-y: scroll"> -->
                                    <div class="form-group">
                                        <md-datepicker id="date.from" ng-model="date.from"
                                            md-placeholder="{{'label.input.fromdate' | translate}}"
                                            md-min-date="minDatePicker" md-max-date="maxDatePicker">
                                        </md-datepicker>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <md-datepicker id="date.todate" ng-model="date.to"
                                                md-placeholder="{{'label.input.todate' | translate}}"
                                                md-min-date="date.from" md-max-date="maxDatePicker">
                                            </md-datepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <md-select class="uppercase" ng-model="formData.status" class="form-control"
                                                placeholder="{{'label.selectstatus' | translate}}">
                                                <md-option class="uppercase" value="0">{{'label.all' | translate}}
                                                </md-option>
                                                <md-option class="uppercase" value="100">
                                                    {{ 'loanStatusType.pending.approval' | translate}}
                                                </md-option>
                                                <md-option class="uppercase" value="200">
                                                    {{ 'loanStatusType.approved' | translate}}
                                                </md-option>
                                                <md-option class="uppercase" value="300">
                                                    {{ 'loanStatusType.disbursed.and.active' | translate}}</md-option>
                                                <md-option class="uppercase" value="400">
                                                    {{ 'loanStatusType.rejected.by.applicant' | translate}}</md-option>
                                                <md-option class="uppercase" value="500">
                                                    {{ 'loanStatusType.rejected' | translate}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <span><a ng-click="searchCredit()" class="btn btn-sm btn-primary"><i
                                                class="fa fa-search"></i>{{'label.button.advancesearch' | translate}}</a>
                                        <br /><br />
                                    </span>
                                </div>
                                <script type="text/ng-template" id="deletechecker.html">
                                    <div class="modal-header silver">
                                        <h3 class="bolder">{{'label.heading.confirm.delete.value' | translate}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <api-validate></api-validate>
                                        <br>
                                        <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' |
                                            translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="delete()">{{'label.button.confirm' |
                                            translate}}
                                        </md-button>
                                    </div>
                                </script>
                                <script type="text/ng-template" id="approvechecker.html">
                                    <div class="modal-header silver">
                                        <h3 class="bolder">{{'label.heading.approve' | translate}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <api-validate></api-validate>
                                        <br>
                                        <md-button class="md-raised" ng-click="cancel()">{{'label.button.cancel' |
                                            translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="approve()">{{'label.button.confirm' |
                                            translate}}
                                        </md-button>
                                    </div>
                                </script>
                                <div ng-show="searchedLoansFiltered.length > 0">
                                    <table md-table class="table">
                                        <thead md-head md-order="query.order">
                                            <tr md-row class="graybg">
                                                <th md-column md-order-by="loanId">{{'label.heading.id' | translate}}
                                                </th>
                                                <th md-column md-order-by="orderDate">
                                                    {{'label.heading.validationdate' | translate}}</th>
                                                <th md-column>{{'label.heading.status' | translate}}</th>
                                                <th md-column md-order-by="clientName">
                                                    {{'label.heading.client' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-click="routeToClient(data.clientId)"
                                                ng-repeat="data in searchedLoansFiltered | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                                <td md-cell>{{data.loanId}}</td>
                                                <td md-cell>{{data.validationdate | DateFormat}}</td>
                                                <td md-cell>{{data.loanStatus.code | translate}}</td>
                                                <td md-cell>{{data.clientName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <md-table-pagination ng-show="searchedLoansFiltered.length > query.limit"
                                        md-limit="query.limit" md-limit-options="[10, 25, 40, 60, 80, 100]"
                                        md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                                        md-total="{{searchedLoansFiltered.length}}" md-page="query.page"
                                        md-on-paginate="search" md-page-select></md-table-pagination>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </fieldset>
            </div>
        </div>
    </div>
</div>