<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#!/products">{{'label.anchor.products' | translate}}</a></li>
        <li><a href="#!/taxconfiguration">{{'label.anchor.managetaxconfigurations' | translate}}</a></li>
        <li><a href="#!/taxcomponents">{{'label.anchor.managetaxcomponents' | translate}}</a></li>
        <li class="active">{{'label.anchor.createtaxcomponent' | translate}}</li>
    </ul>
    <form name="createtaxcomponentform" novalidate="" class="card form-horizontal well"
        ng-controller="CreateTaxComponentController" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.createtaxcomponent' | translate}}</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.input.name' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-4">
                    <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
                        class="form-control" required late-Validate />
                    <form-validate valattributeform="createtaxcomponentform" valattribute="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.input.percentage' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-4">
                    <input id="percentage" type="number" name="percentage" ng-model="formData.percentage"
                        class="form-control" required late-Validate />
                </div>
            </div>

            <div class="form-group" ng-show="false">
                <label class="control-label col-sm-3">{{'label.input.debitaccounttype' | translate }}</label>

                <div class="col-sm-4">
                    <md-select id="debitAccountType" ng-model="formData.debitAccountType"
                        data-ng-change="populateDebitAccount()" placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="accountType in data.glAccountTypeOptions"
                            ng-value="accountType.id">
                            {{accountType.value | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group" ng-show="false">
                <label class="control-label col-sm-3">{{'label.input.debitaccount' | translate }}</label>

                <div class="col-sm-4">
                    <md-select id="debitAcountId" ng-model="formData.debitAcountId"
                        placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="account in debitaccounts"
                            ng-value="account.id">
                            {{account.glCode}} {{account.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.input.creditaccounttype' | translate }}</label>

                <div class="col-sm-4">
                    <md-select id="creditAccountType" ng-model="formData.creditAccountType"
                        data-ng-change="populateCreditAccount()" placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="accountType in data.glAccountTypeOptions" ng-value="accountType.id">
                            {{accountType.value | translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.input.creditaccount' | translate }}</label>

                <div class="col-sm-4">
                    <md-select id="creditAcountId" ng-model="formData.creditAcountId" 
                        placeholder="{{'label.selectone' | translate}}">
                        <md-option ng-repeat="account in creditaccounts" ng-value="account.id">
                            {{account.glCode}} {{account.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.input.startdate' | translate }}</label>

                <div class="col-sm-4">
                    <md-datepicker id="startDate" ng-model="start.date"
                        md-placeholder="{{'label.selecttodate' | translate}}" required
                        md-min-date="minDate" md-max-date="restrictDate">
                    </md-datepicker>
                </div>
            </div>

            <div class="col-md-12 center">
                <md-button id="cancel" href="#!/taxcomponents" class="md-raised" type="reset">
                    {{'label.button.cancel' | translate }}
                </md-button>
                <md-button id="save" type="submit" class="md-raised md-primary" has-permission='CREATE_TAXCOMPONENT'>
                    {{'label.button.save' | translate }}
                </md-button>
            </div>
        </fieldset>
    </form>
</div>